@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-4 col-sm-4 col-lg-4 p-tit">统购询价回复查询</div>
            <div class="col-md-8 col-sm-8 col-lg-8 p-btn pr-40">
                <erp-button v-bind:btn_cb="Look" v_id="btnLook" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-stack-exchange">查看</erp-button>
                <erp-button v-bind:btn_cb="Reply" v_id="btnReply" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-stack-exchange">回复</erp-button>
                <erp-button v-bind:btn_cb="Export" v_id="btnExport" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-up"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_3" class="form-group show-order">
                        <erp-productrange field_name="M_Consult_Price_Bill_Detail.Product_Name" v-bind:productrange="productrange" v-model="P_Consult_Price_Answer.Product_Name" query_type="01" expression="05" v_id="Product_Name">型号</erp-productrange>
                    </div>
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-text field_name="M_Consult_Price_Bill_Detail.Consult_Price_Bill_Id" query_type="01" expression="01" v-model="P_Consult_Price_Answer.Consult_Price_Bill_Id" v_id="Consult_Price_Bill_Id">询价单号</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order drag_1">
                        <erp-datedb field_name="M_Consult_Price_Bill_Detail.Create_Time" v_id="Create_Time" v-model="P_Consult_Price_Answer.Create_Time" query_type="01" expression="05">询价日期</erp-datedb>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="M_Consult_Price_Bill_Detail.Brand_Name" query_type="01" expression="01" v_id="Brand_Name" v-model="P_Consult_Price_Answer.Brand_Name" control_type="brand" system_key="Purchase">品牌</erp-searchtext>
                     </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="C_Customer.Customer_Name" query_type="01" expression="01" v-model="P_Consult_Price_Answer.Customer_Name" v_id="Customer_Name" control_type="customer" system_key="Purchase">客户</erp-searchtext>
                    </div>
                    <div id="order_8" class="form-group show-order drag_1">
                        <erp-text field_name="M_Consult_Price_Bill_Detail.Package" query_type="01" expression="01" v-model="P_Consult_Price_Answer.Package" v_id="Package">油脂包装</erp-text>
                    </div>
                    <div id="order_7" class="form-group show-order drag_1">
                        <erp-multselect field_name="M_Consult_Price_Bill_Detail.Product_Area_Id" class="search" child_table="false" v_id="Product_Area_Name" v-model="P_Consult_Price_Answer.Product_Area_Name" query_type="01" expression="04" v-bind:main_orderby="area.mainOrderBy" bind_type="CustomTable" table_name="B_Product_Area" system_key="Purchase" v-bind:filed_seach="area.filedSearch" v-bind:filed_result="area.Menuresult" v-bind:input_field="area.inputField" isselect="true">产地</erp-multselect>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="M_Consult_Price_Bill_Detail.Product_Classify_Name" query_type="01" expression="01" v-model="P_Consult_Price_Answer.Product_Classify_Name" v_id="Product_Classify_Name" control_type="productBigClassify" system_key="Purchase">品名</erp-searchtext>
                    </div>
                    <div id="order_9" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Employee.Name" query_type="01" expression="01" v-model="P_Consult_Price_Answer.Create_Employee_Name" v_id="Employee_Name" control_type="employee" system_key="Purchase">任务人</erp-searchtext>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table showcheckbox="true" v-bind:searchmodel="searchModel" v_id="EnquiryReplyList" v-bind:tableurl="tableUrl" v-bind:columrender="columrender" v-bind:columheaderseach="columHeaderSeach"></erp-table>
        </div>
    </div>
</div>

@Scripts.Render("~/Areas/Purchase/Content/js/EnquiryReplyList.js?v=" + ViewData["jsVersion"])