@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    #apps {
     padding:10px;
    }
    .show-order {
      margin-bottom:5px;
    }
    .checkbox-custom.checkbox-custom-sm > i, .checkbox-custom-alt.checkbox-custom-sm > i {
        margin-left: 7px;
        margin-top: 7px;
    }
</style>
<div id="apps">
<div id="order_1" class="form-group show-order">
    <div class="outer">
        <label class="space mb-0">是否原件</label>
        <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
            <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="transforWay">
                <option value="是原件">是原件</option>
                <option value="不是原件">不是原件</option>
                
            </select>
        </div>
    </div>
</div>
<div id="order_1" class="form-group show-order">
    <erp-date v_id="Birthdays" v-model="dbdata">收到日期</erp-date>
</div>
<div id="order_2" class="form-group show-order">
    <div class="outer">
        <label class="space mb-0">是否合格</label>
        <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
            <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="qualified">
                <option value="合格">合格</option>
                <option value="不合格">不合格</option>
            </select>
        </div>
    </div>
</div>
<div id="order_1" class="form-group show-order">
    <erp-text v_id="shNumber">情况说明</erp-text>
</div>
<div id="order_1" class="form-group show-order">
    <erp-switch id="signreceive" v-model="sign">标记收到</erp-switch>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#MoveStorage,#customerName,#Task,#department,#transforWay,#transforCompany,#qualified,#singnState,#original,#ReturnStatus,#signWay").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#MoveStorage,#customerName,#Task,#department,#transforWay,#transforCompany,#qualified,#singnState,#original,#ReturnStatus,#signWay").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#qualified,#transforWay").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
    })
    var searchData = {};

    var vmMenu = new Vue({
        el: '#apps',
        data: {
            sign:'',
            dbdata: "",
            Birthday: '',
            //系统名称
            System_Name: "",
            //菜单分组名称
            Menu_Group_Name: "",
            //菜单名称
            Menu_Name: "",
            //菜单地址
            Menu_Address: "",
            //菜单地址
            Button_Name: "",
            //是否启用
            Is_Activate: "",
            //表头查询条件
            columHeaderSeach: {
                Menu_Id: "M000001",
                System_Key: "PurchaseSale"
            },
            childSearchModel: {
                Field_Name: "",
                Parent_Key: "a1"
            },
            //系统分组联动条件
            linkage: null,
            //表格查询url
            tableUrl: "Seach",
            //表格查询条件
            searchModel: searchData,
            //系统下拉框查询条件
            systemWhere: [],
            //系统下拉框排序
            systemOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //系统下拉框显示字段
            systemResult: ["System_Id", "System_Name"],
            //菜单分组下拉查询条件
            menuGroupWhere: [],
            //菜单分组排序条件
            menuGroupOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //菜单分组下拉显示字段
            menuGroupResult: ["Menu_Group_Id", "Menu_Group_Name"],
            //启用查询条件
            IsActiveDictionaryKey: "IS_ACTIVATE"
        },
        mounted: function () {

            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });

            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });

        },
        methods: {}
       
    });
</script>