@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5 CustomerSearch" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_1" class="form-group show-order">
                        <erp-text field_name="C_Customer.Customer_Name" query_type="01" expression="01" v_id="Customer_Name" v-model="Customer_Name">客户名称</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order">
                        <erp-searchtext class="search" field_name="B_Employee.Name" query_type="01" expression="01" v-model="Employee_Id" v_id="Employee_Id" control_type="employee" v-bind:system_key="searchModel.Pagination_Info.System_Key">任务人</erp-searchtext>
                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-text child="true" field_name="C_Customer_Contacter.Name" query_type="01" expression="02" v-model="Name" v_id="Name">联系人</erp-text>
                    </div>
                    <div id="order_4" class="form-group show-order">
                        <erp-select ismustselect="true" field_name="C_Customer.Industry_Id" query_type="01" expression="02" v-model="Industry_Id" v-bind:system_key="searchModel.Pagination_Info.System_Key" bind_type="CustomTable" table_name="B_Industry" v-bind:main_where="IndustryWhere" v-bind:main_orderby="IndustryOrder" v-bind:filed_result="IndustryResult" v_id="Industry_Id">所属行业</erp-select>
                    </div>
                    <div id="order_6" class="form-group show-order">
                        <erp-text field_name="C_Customer.Major_Manage_Product" query_type="01" expression="02" v-model="Major_Manage_Product" v_id="Major_Manage_Product">主营产品</erp-text>
                    </div>
                    <div id="order_6" class="form-group show-order">
                        <erp-select ismustselect="true" v_id="Customer_Status" field_name="C_Customer.Customer_Status" query_type="01" expression="02" v-model="Customer_Status" dictionary_key="CUSTOMER_STATUS" bind_type="DataDictionary">客户状态</erp-select>
                    </div>
                    <div id="order_8" class="form-group show-order">
                        <erp-select ismustselect="true" field_name="C_Customer.Customer_Type" query_type="01" expression="02" v_id="Customer_Type" v-model="Customer_Type" dictionary_key="CUSTOMER_TYPE" bind_type="DataDictionary">客户类型</erp-select>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table isinfo="false" istfootshow="true" v-bind:columrender="columrender" v-bind:pagetotalback="pagetotalback" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="CustomerList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/CommonView/Content/js/CustomerList.js?v=" + ViewData["jsVersion"])
