@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5 GetWay" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-tree isinfo="false" v-bind:treeloadingback="Floadingback" serverside="false" tree_radio="true" v_id="GetWayList" v-bind:treeurl="treeurl" v-bind:treeheight="treeheight" v-bind:trrid="trrid01"></erp-tree>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/CommonView/Content/js/GetWayList.js?v=" + ViewData["jsVersion"])
