@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5 LogisticsCarriage" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-searchtext field_name="B_Logistics_Carriage.Carrier_Name" v-bind:system_key="searchModel.Pagination_Info.System_Key" control_type="carrier" query_type="01" expression="01" v-model="Carrier_Name" v_id="Carrier_Name">承运商</erp-searchtext>
                    </div>
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-textrange field_name="B_Logistics_Carriage.Logistics_Carriage" v-bind:number="cost" query_type="01" expression="05" v_id="Logistics_Carriage">运输费用</erp-textrange>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table isinfo="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="LogisticsCarriageList" v-bind:columrender="columrender" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/CommonView/Content/js/LogisticsCarriage.js?v=" + ViewData["jsVersion"])



