@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="app">
    <erp-text v-model="B_Unit.Unit_Name" v_id="Unit_Name" CheckEmpty="true" class="pull-left mb-5">单位名称</erp-text>
    <erp-select ismustselect="true" v_id="Unit_Type" v-model="B_Unit.Unit_Type" bind_type="DataDictionary" system_key="SystemSet" v-bind:dictionary_key="UnitTypeDictionaryKey" CheckEmpty="true"  class="pull-left mb-5 ml-5">单位类型</erp-select>
    <erp-textarea v_id="Remark" v-model="B_Unit.Remark" CheckLength="500"  class="pull-left">备注</erp-textarea>
</div>
@Scripts.Render("~/Areas/BasicData/Content/js/UnitDetail.js?v=" + ViewData["jsVersion"])
