@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 col-lg-2 p-tit">统购定货申请</div>
            <div class="col-md-10 col-sm-10 col-lg-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="New" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">新增</erp-button>
                <erp-button v-bind:btn_cb="Update" v_id="btnUpdate" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">编辑</erp-button>
                <erp-button v-bind:btn_cb="Delete" v_id="btnDelete" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-trash">作废</erp-button>
                <erp-button v-bind:btn_cb="CheckLook" v_id="btnCheckLook" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">查看</erp-button>
                <erp-button v-bind:btn_cb="Approval" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审核</erp-button>
                <erp-button v-bind:btn_cb="ApprovalOpinion" v_id="btnApprovalOpinion" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn-primary btn-rounded btn-sm btn-ef" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        其他
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu spg-down">
                        <li><erp-button v-bind:btn_cb="Export" v_id="btnExport" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button></li>
                        <li style="height:31px;"><erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button></li>
                    </ul>
                </div>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5 pr-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_7" class="form-group show-order">
                        <erp-productrange child="true" child1="true" field_name="M_Order_Apply_Detail.Product_Name" v-bind:productrange="productrange" v-model="Product_Name" query_type="01" expression="05" v_id="productrange">型号</erp-productrange>
                    </div>

                    <div id="order_2" class="form-group show-order">
                        <erp-searchtext class="search" field_name="B_Employee.Name" query_type="01" expression="01" v-model="Employee_Id" v_id="Employee_Id" control_type="employee" system_key="Sale">任务人</erp-searchtext>

                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-searchtext child="true" class="search" field_name="M_Order_Apply_Detail.Brand_Name" query_type="01" expression="01" v_id="Brand_Name" v-model="Brand_Name" control_type="brand" system_key="Sale">品牌名称</erp-searchtext>

                    </div>
                    <div id="order_2" class="form-group show-order">
                        <erp-text child="true" field_name="M_Order_Apply_Detail.Package" query_type="01" expression="01" v-model="Package" v_id="Package">油脂包装</erp-text>

                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-searchtext child="true" field_name="M_Order_Apply_Detail.Product_Classify_Name" query_type="01" expression="01" v-model="Product_Classify_Id" v_id="Product_Classify_Id" control_type="productBigClassify" system_key="Sale">品名</erp-searchtext>

                    </div>
                    <div id="order_4" class="form-group show-order">
                        <erp-multselect child="true" field_name="M_Order_Apply_Detail.Product_Area_Id" query_type="01" expression="04" v-model="Product_Area_Id" v_id="Product_Area_Id" v-bind:main_orderby="mainOrderBy" bind_type="CustomTable" table_name="B_Product_Area" system_key="Sale" v-bind:filed_seach="AreaFiledSearch" v-bind:filed_result="Arearesult" v-bind:input_field="AreaInputField" isselect="true">产地名称</erp-multselect>
                    </div>
                    <div id="order_4" class="form-group show-order">
                        <erp-searchtext class="search" field_name="B_Department3.Department_Name" query_type="01" expression="01" v-model="Department_Name" v_id="Department_Name" control_type="department" system_key="Sale">任务人部门</erp-searchtext>

                    </div>
                    <div id="order_6" class="form-group show-order">
                        <erp-multselect field_name="M_Order_Apply.Approval_Status" query_type="01" expression="04" v_id="Approval_Status" v-model="Approval_Status" bind_type="StatusDictionary" system_key="SystemSet" dictionary_key="APPROVAL_STATUS">审核状态</erp-multselect>

                    </div>
                    <div id="order_1" class="form-group show-order">
                        <erp-datedb v_id="Create_Time" v-model="Create_Time" field_name="M_Order_Apply.Create_Time" query_type="03" expression="05">创建日期</erp-datedb>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table v-bind:childtotalback="childtotalback" v-bind:childcolumrender="childcolumrender" v-bind:columrender="columrender" pageing="true" v-bind:childsearchkey="childSearchModel" ischild1tfootshow="true" multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderApplyList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Sale/Content/js/OrderApplyList.js?v=" + ViewData["jsVersion"])