
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .treedetails-control2 {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../../../Content/assets/images/058.png') no-repeat center center;
        background-size: 20px 20px;
        cursor: pointer;
    }

    .treedetails-control {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('../../../Content/assets/images/057.png') no-repeat center center;
        background-size: 20px 20px;
        cursor: pointer;
    }

    .treectrchecbox {
        display: inline-block;
        margin-left: 20px !important;
        margin-top: -22px !important;
        vertical-align: -webkit-baseline-middle;
    }

    .treetext {
        vertical-align: top;
        color: #333;
        font-size: 14px;
    }

    .child-tree12 {
        display: none;
    }

    .fadeinhidden {
        display: block !important;
    }

    .parentsubject {
        position: relative;
    }

    .parentsubjecttree {
        position: absolute;
        background: #fff;
        top: 30px;
        left: 0;
        width: 248px;
        height: 150px;
        z-index: 999;
    }

    .turn {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari and Chrome */
    }

    .outer-lg {
        width: 248px !important;
    }
     @@media screen and (min-width: 1024px) {
        #layui-layer1 {
            width: 540px !important;
        }
    }
    @@media screen and (max-width: 1024px) {
        .outer-lg {
            width: 223px !important;
        }
        .parentsubjecttree {
             width: 223px  !important;
        }
    }
</style>
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">费用科目管理</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="New" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">新增</erp-button>
                <erp-button v-bind:btn_cb="Change" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">修改</erp-button>
                <erp-button v-bind:btn_cb="Delete" v_id="btnDelete" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-trash">删除</erp-button>
                <erp-button v-bind:btn_cb="Change" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-import">导入</erp-button>
                <erp-button v-bind:btn_cb="Change" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button>
                <erp-button v-bind:btn_cb="Change" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="down1"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <div class="tile-body clearfix">
                <form class="form-inline" id="searchForm2">
                    <div id="order_1" class="form-group">
                        <erp-text>科目名称</erp-text>
                    </div>
                    <div id="order_1" class="form-group">
                        <erp-text>科目简称</erp-text>
                    </div>
                </form> 
            </div>
        </div>
        <div class="col-md-12 col-sm-12 p-0">
            @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" style="float: left;" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                            <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" style="height:12px;"><input type="checkbox" style="margin:0;"><i style="margin-right: 0px;margin-left:-13px;margin-top:-10px"></i></label></th>
                            <th></th>
                            <th>科目名称</th>
                            <th>科目简称</th>
                            <th>创建人</th>
                            <th>创建日期</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_Align_center">1</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">2</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">3</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">4</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">5</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">6</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">7</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">8</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">9</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">10</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">其他财务项</td>
                            <td style="text-align:center !important;">其他</td>
                            <td style="text-align:center !important;">张亮</td>
                            <td style="text-align:center !important;">2017-10-22</td>
                            <td style="text-align:center !important;">无</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pt-15 pl-10 pr-0 clearfix" style="display:none;" id="AddSub">
            <div id="order_1" class="form-group pull-left">
                <erp-text>科目名称</erp-text>
            </div>
            <div id="order_1" class="form-group  pull-left parentsubject">
                <erp-text v-model="parentsub">父科目</erp-text>
                <div class="col-md-12 col-sm-12 p-0 mb-5 p-15 parentsubjecttree" style="display:none">
                    <ul id="trees pt-10">
                        <li class="pl-15 tree-group pt-10">
                            <span class="glyphicon glyphicon-chevron-right down-turn"></span>
                            <span class="treetext">其他应收款项</span>
                            <div class="child-tree child-tree12">
                                <div class="pl-30 childtreegroup">
                                    <span class="glyphicon glyphicon-chevron-right childdown-turn" style="width:20px"></span>
                                    <span class="treetext">保证金</span>
                                </div>
                                <div class="pl-30 childtreegroup">
                                    <span class="glyphicon glyphicon-chevron-right childdown-turn" style="width:20px"></span>
                                    <span class="treetext">借款</span>
                                </div>
                                <div class="pl-30 childtreegroup">
                                    <span class="glyphicon glyphicon-chevron-right childdown-turn" style="width:20px"></span>
                                    <span class="treetext">押金</span>
                                </div>
                            </div>
                        </li>
                        <li class="pl-15 tree-group">
                            <span class="glyphicon glyphicon-chevron-right down-turn"></span>
                            <span class="treetext">固定资产</span>
                        </li>
                        <li class="pl-15 tree-group">
                            <span class="glyphicon glyphicon-chevron-right down-turn"></span>
                            <span class="treetext">应缴税费</span>
                        </li>
                        <li class="pl-15 tree-group">
                            <span class="glyphicon glyphicon-chevron-right down-turn"></span>
                            <span class="treetext">销售费用</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="order_1" class="form-group  pull-left">
                <erp-text>科目简称</erp-text>
            </div>
            <div id="order_1" class="form-group  pull-left" style="width:248px;">
                <erp-textarea>备注</erp-textarea>
            </div>
        </div>
    </div>
</div>
 <script type="text/x-handlebars-template" id="table_test">
    <table id="test" class="display childth" cellspacing="0" width="100%">
        <thead class="head_bg">
            <tr>
                <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" style="height:12px;"><input type="checkbox" style="margin:0;"><i style="margin-right: 0px;margin-left:-13px;margin-top:-10px"></i></label></th>
                <th>科目名称</th>
                <th>科目简称</th>
                <th>创建人</th>
                <th>创建日期</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td_Align_center">1</td>
                <td class="select-checkbox"></td>
                <td style="text-align:center !important;">其他财务项</td>
                <td style="text-align:center !important;">其他</td>
                <td style="text-align:center !important;">张亮</td>
                <td style="text-align:center !important;">2017-10-22</td>
                <td style="text-align:center !important;">无</td>
            </tr>
            <tr>
                <td class="td_Align_center">2</td>
                <td class="select-checkbox"></td>
                <td style="text-align:center !important;">其他财务项</td>
                <td style="text-align:center !important;">其他</td>
                <td style="text-align:center !important;">张亮</td>
                <td style="text-align:center !important;">2017-10-22</td>
                <td style="text-align:center !important;">无</td>
            </tr>
            <tr>
                <td class="td_Align_center">3</td>
                <td class="select-checkbox"></td>
                <td style="text-align:center !important;">其他财务项</td>
                <td style="text-align:center !important;">其他</td>
                <td style="text-align:center !important;">张亮</td>
                <td style="text-align:center !important;">2017-10-22</td>
                <td style="text-align:center !important;">无</td>
            </tr>
            <tr>
                <td class="td_Align_center">4</td>
                <td class="select-checkbox"></td>
                <td style="text-align:center !important;">其他财务项</td>
                <td style="text-align:center !important;">其他</td>
                <td style="text-align:center !important;">张亮</td>
                <td style="text-align:center !important;">2017-10-22</td>
                <td style="text-align:center !important;">无</td>
            </tr>
           
        </tbody>
    </table>
</script>
<script>

    $(document).ready(function () {
        $(".tree-group").click(function (e) {
            window.event ? window.event.cancelBubble = true : e.stopPropagation();
            $(this).find(".child-tree").toggleClass("child-tree12");
            $(this).find('.down-turn').toggleClass("turn");
            vmMenu.parentsub = $(this).text();
        })
        $(".childtreegroup").click(function (e) {
            window.event ? window.event.cancelBubble = true : e.stopPropagation();
            $(this).find('.childdown-turn').toggleClass("turn");
            vmMenu.parentsub = $(this).text();
        })
        $(".parentsubject").click(function () {
            $(this).find('.parentsubjecttree').toggleClass("fadeinhidden");
        })
        $(".down1").click(function () {
            $(".tile-body").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        var table = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollXInner": 900,
            "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
            "searching": false,
            "sScrollY": true,
            scrollX: true,
            select: 'multi',
            //fixedColumns:true,
            //"pagingType": "numbers",
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $(table.table().container()).width(900);
        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");
        $('#orderForm tbody').on('click', 'td.details-control', function () {

            var tr = $(this).closest('tr');

            var row = table.row(tr);
            tr.attr("id", row.index());

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").show();
            } else {

                $("#" + row.index()).addClass("shown");

                var $table = $($("#table_test").html());
                $table.attr("id", "mendetial_" + row.index());


                row.child($table[0]).show();


                childTable = $table.DataTable({
                    "select": true,
                    "autoWidth": false,
                    "sScrollX": true,
                    "sScrollXInner": 880,
                    "info": "false",
                    "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
                    "searching": false,
                    "sScrollY": true,

                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "查询的数据不存在！",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    }


                });
                $(childTable.table().container()).width(900-20);

                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").hide();

            }
        });
    }); 
    var vmMenu = new Vue({
        el: '#apps',
        data: {
            parentsub:''
        },
        mounted: function () { 

        },
        methods: {
            New() {
                PageCommon.ModalOpenDiv({
                    content: $('#AddSub'),
                    title: '新增科目',
                    width: "508px",
                    height: "200px",
                    btn: ['确定'],
                    btnid: ["btnExportImport"],
                    btnclass: ['btn btn-primary'],
                    callBack: function () {
                        layer.closeAll();
                    }
                })
            },
            Delete() { }
        },
        Change() { }
    });
</script>

