@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0 Invoice">
        <div class="col-md-12 col-sm-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">开票信息</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-show="btnEdit" v-bind:btn_cb="Edit" v_id="btnEdit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit" class="edit">编辑</erp-button>
                <erp-button v-show="btnSave" v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-show="btnSubmit" v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-show="btnApproval" v-bind:btn_cb="mReviewed" v_id="btnReviewed" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-show="btnApprovalOpinion" v-bind:btn_cb="mApproval" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <erp-button v-show="btnBack" v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="down_2"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <p class="title1">申请信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                <form class="form-inline" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_1">
                          <erp-customersearch v-bind:template_selection="TemplateCustomer" v-bind:isshade_bg="isshade_bg" class="search" CheckEmpty="true" v-model="C_Customer_Invoice_Apply.Customer_Id" v_id="Customer_Id" system_key="CustomerRelations">客户</erp-customersearch>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <p class="title1">开票信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                <form class="form-inline pl-0" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_2">
                        <erp-text v-model="C_Customer_Invoice_Apply.Customer_Invoice.Invoice_Name" v_id="Invoice_Name" CheckLength="100" CheckEmpty="true" v-bind:readonly="readonly">开票名称</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order drag_2">
                        <erp-text v-model="C_Customer_Invoice_Apply.Customer_Invoice.Taxpayer_Id" v_id="Taxpayer_Id" CheckNumber="true" CheckLength="25" CheckEmpty="true" v-bind:readonly="readonly">税号</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order drag_2">
                        <erp-address v-bind:address="BillingCommon" v_id="Address" CheckEmpty="true" v-bind:isshade_bg="isshade_bg">开票地址</erp-address>
                    </div>
                    <div id="order_4" class="form-group show-order drag_2">
                        <erp-text v-model="C_Customer_Invoice_Apply.Customer_Invoice.Tel" v_id="Tel" CheckTelephone="true" CheckEmpty="true" v-bind:readonly="readonly">开票电话</erp-text>
                    </div>
                    <div id="order_5" class="form-group show-order drag_2">
                        <erp-text v-model="C_Customer_Invoice_Apply.Customer_Invoice.Bank" v_id="Bank" CheckLength="100" CheckEmpty="true" v-bind:readonly="readonly">开票银行</erp-text>
                    </div>
                    <div id="order_6" class="form-group show-order drag_2">
                        <erp-text v-model="C_Customer_Invoice_Apply.Customer_Invoice.Account" v_id="Account" CheckLength="25" CheckNumber="true" CheckEmpty="true" v-bind:readonly="readonly">账号</erp-text>
                    </div>
                    <div id="order_7" class="form-group show-order drag_2 clearfix">
                        <erp-textarea v_id="Apply_Reason" v-model="C_Customer_Invoice_Apply.Customer_Invoice.Apply_Reason" CheckLength="200" CheckEmpty="true" v-bind:readonly="readonly">申请理由</erp-textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/CustomerRelations/Content/js/InvoiceInfoDetail.js?v=" + ViewData["jsVersion"])
