@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 row-tit p-0 mb-5 ">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">备货单详细</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-show="btnSave" v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
                <erp-button v-show="btnBack" v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
            </div>
            <div class="down_2"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0 m-0">
            <p class="title1">基本信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation row_Insert">
                <form class="form-inline pl-0" id="searchForm_detail">
                    <div id="order_5" class="form-group show-order base">
                        <erp-text v-model="W_Prepare_Goods.Corporation_Name" v_id="Corporation_Name" isshade_bg="true">单位名称</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order base">
                        <erp-employeesearch class="search" CheckEmpty="true" v-model="W_Prepare_Goods.Prepare_Goods_Employee_Id" v_id="Prepare_Goods_Employee_Id" system_key="Warehouse">备货人</erp-employeesearch>
                   </div>
                    <div id="order_3" class="form-group show-order base">
                        <erp-employeesearch class="search" CheckEmpty="true" v-model="W_Prepare_Goods.Recheck_Employee_Id" v_id="Recheck_Employee_Id" system_key="Warehouse">复核人</erp-employeesearch>
                    </div>
                    <div id="order_3" class="form-group show-order base">
                        <erp-select ismustselect="true" v-model="W_Prepare_Goods.Transportation_Way_Id" bind_type="CustomTable" isshade_bg="true" table_name="B_Transportation_Way" system_key="Warehouse" v-bind:main_where="Transportation_WayWhere" v-bind:main_orderby="Transportation_WayOrder" v-bind:Filed_Result="Transportation_WayResult" v_id="Transportation_Way_Id">运输方式</erp-select>
                    </div>
                    <div id="order_3" class="form-group show-order base">
                        <erp-select ismustselect="true" v-model="W_Prepare_Goods.Carrier_Id" bind_type="CustomTable" isshade_bg="true" table_name="B_Carrier" system_key="Warehouse" v-bind:main_where="CarrierWhere" v-bind:main_orderby="CarrierOrder" v-bind:Filed_Result="CarrierResult" v_id="Carrier_Id">运输公司</erp-select>
                    </div>
                    <div id="order_2" class="form-group show-order base">
                        <erp-select v_id="Is_Replace_Cus_Deliver_Goods" isshade_bg="true" v-model="W_Prepare_Goods.Is_Replace_Cus_Deliver_Goods" bind_type="DataDictionary" dictionary_key="IS_REPLACE_CUS_DELIVER_GOODS" system_key="Warehouse">是否代客发货</erp-select>
                    </div>
                    <div id="order_2" class="form-group show-order base">
                        <erp-textarea v-model="W_Prepare_Goods.Shipments_Notice" v_id="Shipments_Notice" CheckLength="200">发货注意</erp-textarea>
                    </div>
                    <div id="order_2" class="form-group show-order base">
                        <erp-textarea v-model="W_Prepare_Goods.Other_Explain" v_id="Other_Explain" CheckLength="200">其他说明</erp-textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <p class="title1">型号信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation pb-0">
                <erp-edit-table istfootshow="true" v-model="W_Prepare_Goods.W_Prepare_Goods_Detail_List" v_id="PrepareGoodsNewList" v-bind:columrender="columrender" v-bind:row_edit_callback="rowEditCallback" v-bind:row_edit_blur_callback="rowEditBlurCallback" v-bind:columheaderseach="columHeaderSeach"></erp-edit-table>
            </div>
        </div>
    </div>
</div>

@*本次入库数量*@
<script type="text/x-handlebars-template" id="temp_Prepare_Count">
    <div id="div_temp_Prepare_Count">
        <erp-float v-model="Prepare_Count" decimals="2" istable="false" v_id="Prepare_Count" CheckLength="15" CheckEmpty="true"></erp-float>
    </div>
</script>
@*备注*@
<script type="text/x-handlebars-template" id="temp_Remark">
    <div id="div_temp_Remark">
        <erp-textarea v_id="Remark" v-model="vmodel" CheckLength="200"></erp-textarea>
    </div>
</script>
@Scripts.Render("~/Areas/Warehouse/Content/js/PrepareGoodsSearch.js?v=" + ViewData["jsVersion"])

