@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-4 col-sm-4 col-lg-4 p-tit">承兑汇票收款申请</div>
            <div class="col-md-8 col-sm-8 col-lg-8 p-btn pr-40">
                <erp-button v-bind:btn_cb="New" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">新增</erp-button>
                <erp-button v-show="btnEdit" v-bind:btn_cb="Edit" v_id="btnEdit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-stack-exchange">编辑</erp-button>
                <erp-button v-show="btnDelete" v-bind:btn_cb="Delete" v_id="btnDelete" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-stack-exchange">作废</erp-button>
                <erp-button v-show="btnApproval" v-bind:btn_cb="Approval" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-bind:btn_cb="CheckLook" v_id="btnCheckLook" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">查看</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-up"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-text field_name="FA_Accept_Bill_Apply.Accept_Bill_Apply_Id" query_type="01" expression="01" v-model="FA_Accept_Bill_Apply.Accept_Bill_Apply_Id" v_id="Accept_Bill_Apply_Id">承兑汇票申请单号</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order drag_1">
                        <erp-datedb field_name="FA_Accept_Bill_Apply.Create_Time" v_id="Create_Time" v-model="FA_Accept_Bill_Apply.Create_Time" query_type="01" expression="05">申请日期</erp-datedb>
                    </div>
                    <div id="order_3" class="form-group show-order drag_1">
                        <erp-datedb field_name="FA_Accept_Bill_Apply.Discount_Start_Count_Date" v_id="Discount_Start_Count_Date" v-model="FA_Accept_Bill_Apply.Discount_Start_Count_Date" query_type="01" expression="05">贴息起计日期</erp-datedb>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-datedb field_name="FA_Accept_Bill_Apply.Accept_End_Date" v_id="Accept_End_Date" v-model="FA_Accept_Bill_Apply.Accept_End_Date" query_type="01" expression="05">承兑到期日期</erp-datedb>
                    </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Employee2.Name" query_type="01" expression="01" v-model="FA_Accept_Bill_Apply.Accept_Bill_Belong_Employee_Name" v_id="Accept_Bill_Belong_Employee_Name" control_type="employee" system_key="FinancialApplication">承兑归属任务人</erp-searchtext>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Employee1.Name" query_type="01" expression="01" v-model="FA_Accept_Bill_Apply.Employee_Name" v_id="Employee_Name" control_type="employee" system_key="FinancialApplication">任务人</erp-searchtext>
                    </div>
                    <div id="order_7" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Department.Department_Name" query_type="01" expression="01" v-model="FA_Accept_Bill_Apply.Department_Name" v_id="Department_Name" control_type="department" system_key="FinancialApplication">承兑归属部门</erp-searchtext>
                    </div>
                    <div id="order_8" class="form-group show-order drag_1">
                        <erp-multselect field_name="FA_Accept_Bill_Apply.Approval_Status" query_type="01" expression="04" v_id="Approval_Status" v-model="FA_Accept_Bill_Apply.Approval_Status" bind_type="StatusDictionary" system_key="FinancialApplication" dictionary_key="APPROVAL_STATUS">审核状态</erp-multselect>
                    </div>
                    <div id="order_9" class="form-group show-order drag_1">
                        <erp-text field_name="FA_Accept_Bill_Apply.Accept_Bill_Number" query_type="01" expression="01" v-model="FA_Accept_Bill_Apply.Accept_Bill_Number" v_id="Accept_Bill_Apply_Id">承兑汇票号码</erp-text>
                    </div>
                    <div id="order_10" class="form-group show-order drag_1">
                        <erp-multselect field_name="FA_Accept_Bill_Apply.Is_Discount" query_type="01" expression="04" v_id="Is_Discount" v-model="FA_Accept_Bill_Apply.Is_Discount" bind_type="DataDictionary" system_key="FinancialApplication" dictionary_key="IS_ENABLE">是否贴现</erp-multselect>
                    </div>
                    <div id="order_11" class="form-group show-order drag_1">
                        <erp-multselect field_name="FA_Accept_Bill_Apply.Bank_Id" class="search" v_id="Bank_Id" v-model="FA_Accept_Bill_Apply.Bank_Id" query_type="01" expression="04" v-bind:main_orderby="bank.mainOrderBy" bind_type="CustomTable" table_name="B_Bank" system_key="FinancialApplication" v-bind:filed_seach="bank.filedSearch" v-bind:filed_result="bank.Menuresult" v-bind:input_field="bank.inputField" isselect="true">贴现出票银行</erp-multselect>
                    </div>
                    <div id="order_12" class="form-group show-order drag_1">
                        <erp-text field_name="FA_Accept_Bill_Apply.No_Discount_Bank" v-model="FA_Accept_Bill_Apply.No_Discount_Bank" v_id="No_Discount_Bank" CheckLength="500" query_type="01" expression="01">不贴现出票银行</erp-text>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table showcheckbox="true" istfootshow="true" v-bind:searchmodel="searchModel" v_id="AcceptBillApplyList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach" v-bind:pagetotalback="pagetotalback" v-bind:columrender="columrender"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/FinancialApplication/Content/js/AcceptanceExchangeApplyList.js?v=" + ViewData["jsVersion"])



