@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-4 col-sm-4 p-tit">用户系统公告查看履历列表</div>
            <div class="col-md-8 col-sm-8 p-btn pr-40">
                <erp-button v-bind:btn_cb="Export" v_id="btnExport" btn_opt="导出" btn_type="btn btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-forward">导出</erp-button>
            </div>
            <div class="down"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="tile-body2 clearfix">
                <form class="clearfix" id="searchForm">
                    <div id="order_1" class="form-group pull-left">
                        <erp-text v_id="Title" v-model="Title" field_name="S_System_Notice.Title" query_type="01" expression="02">标题</erp-text>
                    </div>
                    <div id="order_2" class="form-group pull-left show-order">
                        <erp-text v_id="User_Name" v-model="User_Name" field_name="S_User.User_Name" query_type="01" expression="02">用户</erp-text>
                    </div>
                    <div id="order_3" class="form-group pull-left show-order">
                        <erp-datedb v_id="Create_Time" v-model="Create_Time" field_name="S_System_Notice.Create_Time" query_type="03" expression="01">查看日期</erp-datedb>
                    </div>
                </form>
                <div class="submitSearch">
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-search">查询</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 p-0">
            <erp-table multiselect="true" showcheckbox="false" v-bind:searchmodel="searchModel" v_id="UserSystemNoticeRemindList" v-bind:tableurl="tableurl" v-bind:columheaderseach="ColumHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/SystemSet/Content/js/UserSystemNoticeRemind.js?v=" + ViewData["jsVersion"])