@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .BasicInformation, .PayInformation {
        width: 100%;
        height: auto;
        background-color: #eff2f5;
        box-shadow: 0px 0px 2px #9a9696;
        padding: 5px;
        border: 1px solid #abb3b9;
    }

    .title1 {
        height: 30px;
        background-image: url('../../../../Content/assets/images/title.png');
        background-size: 125px 30px;
        background-position: left bottom;
        background-repeat: no-repeat;
        margin-bottom: 3px;
        margin-top: 3px;
        line-height: 30px;
        text-indent: 20px;
        font-size: 2.2em;
        color: #fff;
    }

    .Down {
        display: block;
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 3.4em;
        color: #4175bb;
    }

        .Down img {
            width: 30px;
            height: 30px;
        }

    .form-inline {
        width: 100%;
        height: auto;
    }

        .form-inline:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0px;
            clear: both;
        }

    .boder {
        box-shadow: 1px 0px 2px #9a9696;
        border: 1px solid #abb3b9;
        background-color: #eff2f5;
        border-left: 0px;
    }

    .turn {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }
</style>
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 row-tit p-0">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">付款单</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-bind:btn_cb="ck" v_id="btnck" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-eye">审核</erp-button>
                <erp-button v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-check">提交</erp-button>
                <erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-pencil">审批意见</erp-button>
                <erp-button v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-check">执行付款</erp-button>
                <erp-button v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
                <erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
                
            </div>
            <div class="down1"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <p class="title1">基本信息</p>
            <span class="Down"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                <form class="form-inline" id="searchForm_detail">
                    <div id="order_1" class="form-group">
                        <erp-text isshade_bg="true" value="BSD160029ER90">付款单号</erp-text>
                    </div>

                    <div id="order_6" class="form-group show-order wg">
                        <div class="outer">
                            <label class="space mb-0">付款项目</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="payObject">
                                    <option value="预付款">预付款</option>
                                    <option value="贷款">贷款</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_11" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">付款部门</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="prepared" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="技术部">技术部</option>
                                        <option value="人事部">人事部</option>
                                        <option value="财务部">财务部</option>
                                        <option value="后勤部">后勤部</option>
                                        <option value="管理部">管理部</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_9" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">付款公司</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="payCompany">
                                    <option value="上海新日升传动股份有限公司">上海新日升传动股份有限公司</option>
                                    <option value="上海日升进出口有限公司">上海日升进出口有限公司</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_10" class="form-group pull-left">
                        <div class="outer">
                            <label class="space mb-0" style="background-color:#ccc;">审核状态</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;background-color:#ccc;" id="DocumentState" disabled>
                                    <option value="未审核">未审核</option>
                                    <option value="已审核">已审核</option>
                                    <option value="审核中">审核中</option>
                                    <option value="驳回">驳回</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <p class="title1">付款信息</p>
            <span class="Down"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                <form class="form-inline" id="searchForm_detail">
                    <div id="order_6" class="form-group show-orde">
                        <div class="outer">
                            <label class="space mb-0">付款方式</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="payWay">
                                    <option value="承兑汇票">承兑汇票</option>
                                    <option value="贷记凭证">贷记凭证</option>
                                    <option value="电汇">电汇</option>
                                    <option value="现金">现金</option>
                                    <option value="现金汇款">现金汇款</option>
                                    <option value="银行本票">银行本票</option>
                                    <option value="银行汇票">银行汇票</option>
                                    <option value="支票">支票</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_2" class="form-group show-order pull-left">
                        <div class="outer provider_info">
                            <label class="space mb-0">付款单位</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="provider" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="某有限公司">某有限公司</option>
                                        <option value="华东OEM">华东OEM</option>
                                        <option value="华东DJ">华东DJ</option>
                                        <option value="华南DJ">华南DJ</option>
                                        <option value="洛阳AM">洛阳AM</option>
                                    </select>
                                </div>
                                <div style="font-size:0;">
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="input-group-addon" v-on:click.stop="provider_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                            @*供应商*@
                            <div class="provider_detailed" style="display:none;">
                                <ul class="clearfix provider_tabs">
                                    <li class="pull-left active">基本信息</li>
                                    <li class="pull-left">联系方式</li>
                                </ul>
                                <div class="information_list mt-5">
                                    <div>
                                        <ul class="clearfix" style="width:440px;">
                                            <li class="pull-left pr-10"><label>所属供应商：</label>日本NSK集团</li>
                                            <li class="pull-left pr-10"><label>供应商类型：</label>企业</li>
                                            <li class="pull-left pr-10"><label>供应商地区：</label>日本</li>
                                            <li class="pull-left pr-10"><label>结算方式：</label>月结</li>
                                            <li class="pull-left pr-10"><label>结算日/月：</label>1</li>
                                            <li class="pull-left pr-10"><label>开户行：</label>交通银行西北支行</li>
                                            <li class="pull-left pr-10"><label>税号：</label>91310000607281275P</li>
                                            <li class="pull-left pr-10"><label>邮编：</label>720077</li>
                                            <li class="pull-left pr-10"><label>地址：</label>上海市南京路118号</li>
                                            <li class="pull-left pr-10"><label>备注：</label>长期供应商</li>
                                        </ul>
                                    </div>
                                    <div id="div_table_orderForm6" class="table" style="display:none;width:600px;">
                                        <table id="orderForm6" class="display cell-border" cellspacing="0" width="100%">
                                            <thead class="head_bg">
                                                <tr>
                                                    <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                                                    <th>姓名</th>
                                                    <th>部门</th>
                                                    <th>联系电话</th>
                                                    <th>手机</th>
                                                    <th>传真</th>
                                                    <th>邮政编码</th>
                                                    <th>微信</th>
                                                    <th>地址</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td_Align_center">1</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                                <tr>
                                                    <td class="td_Align_center">2</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_1" class="form-group">
                        <erp-text isshade_bg="true" value="工商银行">付款银行</erp-text>
                    </div>
                    <div id="order_1" class="form-group">
                        <erp-text isshade_bg="true" value="310000548888811">付款账号</erp-text>
                    </div>

                    <div id="order_4" class="form-group show-order pull-left" style="color:#b4b1b1">
                        <erp-textarea v_id="Menus">备注</erp-textarea>
                    </div>


                </form>
            </div>

        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <p class="title1">金额信息</p>
            <span class="Down"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                <form class="form-inline" id="searchForm_Detail">
                    <div id="order_4" class="form-group show-order pull-left" style="color:#b4b1b1;width:250px;height:30px;margin-left:10px;">
                        <erp-text v_id="dk" value="445584.00" style="color:#3b9de1;" isshade_bg="true">贷款余额</erp-text>
                        @*<p style="color:#000;">贷款余额:&nbsp;&nbsp;<span style="color:#3b9de1;">12800.00</span></p>*@
                    </div>
                    <div id="order_4" class="form-group show-order pull-left" style="color:#b4b1b1;width:250px;height:30px;">
                        <erp-text v_id="dk" value="13800.00" style="color:red;" isshade_bg="true">预付款</erp-text>
                        @*<p style="color:#000;">预付款:&nbsp;&nbsp;<span style="color:red;">13800.00</span></p>*@
                    </div>
                    <div id="order_4" class="form-group show-order pull-left" style="color:#b4b1b1;width:250px;height:30px;">
                        <erp-text v_id="dk" value="22800.00" style="color:red;" isshade_bg="true">总余额</erp-text>
                        @*<p style="color:#000;">总余额:&nbsp;&nbsp;<span style="color:red;">22800.00</span></p>*@
                    </div>
                </form>

            </div>

        </div>
        <div class="col-md-12 col-sm-12 p-0">
            <p class="title1" style="margin-left:5px;">付款申请信息</p>
            <span class="Down"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation">
                @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
                <div id="div_table_orderForm" class="table">
                    <table id="orderForm" class="display cell-border" cellspacing="0" width="100%">
                        <thead class="head_bg">
                            <tr>
                                <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                                <th><a class="add btn-info btn-xs" href="#"><i class="glyphicon glyphicon-plus"></i></a></th>
                                <th>付款申请单号</th>
                                <th>任务人</th>
                                <th>归属部门</th>
                                <th>申请付款方式</th>
                                <th>付款金额</th>
                                <th>实付金额</th>
                                <th>申请付款项目</th>
                                <th>申请付款部门</th>
                                <th>付款账号</th>
                                <th>付款银行</th>
                                <th>申请备注</th>
                                <th>承兑汇票号</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td_Align_center">1</td>
                                <td style="text-align:center;"><a class="deletes btn-info btn-xs" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                <td style="text-align:left !important;">BSD160029</td>
                                <td style="text-align:left !important;">王某某</td>
                                <td style="text-align:left !important;">业务部</td>
                                <td style="text-align:left !important;">现金</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:left !important;">预付款</td>
                                <td style="text-align:left !important;">财务部</td>
                                <td style="text-align:left !important;">45622145866474525522</td>
                                <td style="text-align:left !important;">建设银行</td>
                                <td style="text-align:left !important;">无</td>
                                <td style="text-align:left !important;">RTFGF455555</td>

                            </tr>
                            <tr>
                                <td class="td_Align_center">2</td>
                                <td style="text-align:center;"><a class="deletes btn-info btn-xs" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                <td style="text-align:left !important;">BSD160029</td>
                                <td style="text-align:left !important;">王某某</td>
                                <td style="text-align:left !important;">业务部</td>
                                <td style="text-align:left !important;">现金</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:left !important;">预付款</td>
                                <td style="text-align:left !important;">财务部</td>
                                <td style="text-align:left !important;">45622145866474525522</td>
                                <td style="text-align:left !important;">建设银行</td>
                                <td style="text-align:left !important;">无</td>
                                <td style="text-align:left !important;">RTFGF455555</td>
                            </tr>
                            <tr>
                                <td class="td_Align_center">3</td>
                                <td style="text-align:center;"><a class="deletes btn-info btn-xs" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                <td style="text-align:left !important;">BSD160029</td>
                                <td style="text-align:left !important;">王某某</td>
                                <td style="text-align:left !important;">业务部</td>
                                <td style="text-align:left !important;">现金</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:left !important;">预付款</td>
                                <td style="text-align:left !important;">财务部</td>
                                <td style="text-align:left !important;">45622145866474525522</td>
                                <td style="text-align:left !important;">建设银行</td>
                                <td style="text-align:left !important;">无</td>
                                <td style="text-align:left !important;">RTFGF455555</td>
                            </tr>
                            <tr>
                                <td class="td_Align_center">4</td>
                                <td style="text-align:center;"><a class="deletes btn-info btn-xs" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                <td style="text-align:left !important;">BSD160029</td>
                                <td style="text-align:left !important;">王某某</td>
                                <td style="text-align:left !important;">业务部</td>
                                <td style="text-align:left !important;">现金</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:left !important;">预付款</td>
                                <td style="text-align:left !important;">财务部</td>
                                <td style="text-align:left !important;">45622145866474525522</td>
                                <td style="text-align:left !important;">建设银行</td>
                                <td style="text-align:left !important;">无</td>
                                <td style="text-align:left !important;">RTFGF455555</td>
                            </tr>
                            <tr>
                                <td class="td_Align_center">5</td>
                                <td style="text-align:center;"><a class="deletes btn-info btn-xs" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                <td style="text-align:left !important;">BSD160029</td>
                                <td style="text-align:left !important;">王某某</td>
                                <td style="text-align:left !important;">业务部</td>
                                <td style="text-align:left !important;">现金</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:right !important;">100.00</td>
                                <td style="text-align:left !important;">预付款</td>
                                <td style="text-align:left !important;">财务部</td>
                                <td style="text-align:left !important;">45622145866474525522</td>
                                <td style="text-align:left !important;">建设银行</td>
                                <td style="text-align:left !important;">无</td>
                                <td style="text-align:left !important;">RTFGF455555</td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>合计:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th style="text-align:right !important;">500.00</th>
                                <th style="text-align:right !important;">500.00</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $(".provider_detailed .provider_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".provider_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm6");
            e.stopPropagation();
        })
        $(".type_detailed .type_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".type_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm5");
            e.stopPropagation();
        })
        $(".client_detailed .client_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".client_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm7");
            e.stopPropagation();
        })
        $('#apps').click(function () {
            $('.client_detailed').hide();
            $('.consignee_detailed').hide();
        })

        $(".more").click(function () {
            $(this).find("i").toggleClass('rotate');
            $(".tile-body").toggleClass("tile-body1");

            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        //基本信息、付款信息下拉隐藏
        $(".Down").click(function () {
            $(this).parent().find(".BasicInformation").toggle();
            $(this).parent().find("p").toggleClass("boder");
            $(this).toggleClass("turn");
            //$("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight() - 20);
            //PageCommon.RefreshTablePage("orderForm");
        })
        $(".down1").click(function () {
            $(".Down").parent().find(".BasicInformation").toggle();
            $(".Down").parent().find("p").toggleClass("boder");
            $(".Down").toggleClass("turn");
            //$("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight() - 20);
            //PageCommon.RefreshTablePage("orderForm");
        })
        $("#typeSpecification2,#typeSpecification3,#prepared,#bills4,#payWay,#payCompany,#payObject,#PaymentUnit,#provider").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#typeSpecification2,#typeSpecification3,#prepared,#bills4,#payWay,#payCompany,#payObject,#PaymentUnit,#provider").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#payWay,#payCompany,#payObject").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });

        var table7 = $('#orderForm7').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 1500,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false//不分页
        });
        PageCommon.RefreshTablePage("orderForm7");
        $(table7.table().container()).width(440);
        var tw = $("#div_table_orderForm").width();
        var table = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollXInner": 1800,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            scrollX: true,
            "paging": false,//不分页
            //keys: {
            //    columns: [2,8,9,12,13,15,16,17,18]
            //},
            select: { style: 'multi' },
            //fixedColumns:true,
            //"pagingType": "numbers",
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });

        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm .dataTables_scrollBody").height(400);
        PageCommon.RefreshTablePage("orderForm");
        $('#orderForm tbody').on('click', 'td.details-control', function () {

            var tr = $(this).closest('tr');

            var row = table.row(tr);
            tr.attr("id", row.index());

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").show();
            } else {

                $("#" + row.index()).addClass("shown");

                var $table = $($("#table_test").html());
                $table.attr("id", "mendetial_" + row.index());


                row.child($table[0]).show();


                var childTable = $table.DataTable({
                    "select": true,
                    "autoWidth": false,
                    "sScrollX": true,
                    "sScrollXInner": 800,
                    "info": "false",
                    "dom": 'rt<"tableBottom clearfix pt-20"l<"pull-right"p><"pull-right ml-10 mr-10"i><"toolbar mt-10 pull-right">>',
                    "searching": false,
                    "sScrollY": true,

                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "查询的数据不存在！",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    }


                });
                $(childTable.table().container()).width(800);

                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").hide();

            }
        });

        table.on('key-focus', function (e, datatable, cell, originalEvent) {
            //if (cell.index().column == 0 || cell.index().column == 1) {
            //    return;
            //}
            //var titleModel = columntitle[cell.index().column];
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();
            vmMenu.rowEditCallback(cell, cell.index().column, rowData);
        });
        table.on('key-blur', function (e, datatable, cell, originalEvent) {
            //if (cell.index().column == 0 || cell.index().column == 1) {
            //    return;
            //}
            //var titleModel = vm.columntitle[cell.index().column];
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();
            vmMenu.rowEditBlurCallback(cell, datatable, cell.index().column, rowData);
        });
        var table6 = $('#orderForm6').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 1000,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false//不分页
        });
        PageCommon.RefreshTablePage("orderForm6");
        $(table6.table().container()).width(600);
        $("#orderForm tbody tr").dblclick(function () {
            PageCommon.ModalOpen({
                id: "Contract",
                title: '付款申请查询引入',
                width: "900px",
                height: "600px",
                btn: ['添加'],
                url: '/Finance/PaymentForm/PaymentFormSearch',
                callBack: function (iframeId) {
                    PageCommon.ChildrenFrames(iframeId).codeset_vue.Save()
                }
            })
        })
    });
</script>
@*是否含税*@
<script type="text/x-handlebars-template" id="temp_a3">
    <div id="div_temp_a3">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="currency2">
                    <option value="含税">含税</option>
                    <option value="不含税">不含税</option>
                </select>
            </div>
        </div>
    </div>
</script>
@*标识*@
<script type="text/x-handlebars-template" id="temp_a4">
    <div id="div_temp_a4">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="currency1">
                    <option value="">请选择</option>
                    <option value="标识1">标识1</option>
                    <option value="标识2">标识2</option>
                </select>
            </div>
        </div>
    </div>
</script>
@*库房名称*@
<script type="text/x-handlebars-template" id="temp_a5">
    <div id="div_temp_a5">
        <div class="outer warehouse_info">
            <label class="space mb-0"></label>
            <div class="input-group right-search search">
                <div style="display:flex;flex:1;">
                    <select id="provider2" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                        <option value="西安库房">西安库房</option>
                        <option value="北京库房">北京库房</option>
                        <option value="上海库房">上海库房</option>
                    </select>
                </div>
                <div style="font-size:0;">
                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                    <span class="input-group-addon" v-on:click.stop="warehouse_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                </div>
            </div>
            @*库房*@
            <div class="warehouse_detailed" style="display:none;">
                <ul class="clearfix warehouse_tabs">
                    <li class="pull-left active">基本信息</li>
                </ul>
                <div class="information_list mt-5">
                    <div>
                        <ul class="clearfix" style="width:220px;">
                            <li class="pull-left pr-10"><label>联系人：</label>小明</li>
                            <li class="pull-left pr-10"><label>联系电话：</label>029-9867534</li>
                            <li class="pull-left pr-10"><label>手机：</label>15098763946</li>
                            <li class="pull-left pr-10"><label>地址：</label>上海市闸北区113号</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@*规格型号*@
<script type="text/x-handlebars-template" id="temp_a6">
    <div id="div_temp_a6">
        <div class="outer type_info">
            <label class="space mb-0"></label>
            <div class="input-group right-search search">
                <div style="display:flex;flex:1;">
                    <select id="typeSpecification" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                        <option value="121D">型号:121D&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                        <option value="1231351LMKB">型号:1231351LMKB&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                        <option value="15315BHVH">型号:15315BHVH&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                        <option value="484JBB">型号:484JBB&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                        <option value="545151JVJVVJ">型号:545151JVJVVJ&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                        <option value="45163153">型号:45163153&nbsp;&nbsp;品牌:NNN&nbsp;&nbsp;油脂包装:SSS&nbsp;&nbsp;产地:中国</option>
                    </select>
                </div>
                <div style="font-size:0;">
                    <span class="input-group-addon" v-on:click.stop="type_search" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                    <span class="input-group-addon" v-on:click.stop="type_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                </div>
            </div>
            @*型号*@
            <div class="type_detailed" style="display:none;">
                <ul class="clearfix type_tabs">
                    <li class="pull-left active">基本信息</li>
                    <li class="pull-left">价格信息</li>
                    <li class="pull-left">库存信息</li>
                </ul>
                <div class="information_list mt-5">
                    <div>
                        <ul class="clearfix" style="width:440px;">
                            <li class="pull-left pr-10"><label>品名：</label>轴承</li>
                            <li class="pull-left pr-10"><label>油脂包装：</label>LY121</li>
                            <li class="pull-left pr-10"><label>品牌：</label>NSK</li>
                            <li class="pull-left pr-10"><label>产地：</label>日本</li>
                            <li class="pull-left pr-10"><label>计量单位：</label>台</li>
                            <li class="pull-left pr-10"><label>关税：</label>1.00021</li>
                            <li class="pull-left pr-10"><label>整箱数：</label>10</li>
                            <li class="pull-left pr-10"><label>内径：</label>12.22</li>
                            <li class="pull-left pr-10"><label>外径：</label>22.22</li>
                            <li class="pull-left pr-10"><label>材质：</label>木</li>
                            <li class="pull-left pr-10"><label>宽度：</label>22cm </li>
                            <li class="pull-left pr-10"><label>厚度：</label>2.5cm</li>
                            <li class="pull-left pr-10"><label>重量：</label>23kg</li>
                            <li class="pull-left pr-10"><label>PC：</label></li>
                            <li class="pull-left pr-10"><label>生产月：</label>2</li>
                            <li class="pull-left pr-10"><label>备注：</label></li>
                        </ul>
                    </div>
                    <div>
                        <ul class="clearfix" style="width:440px;">
                            <li class="pull-left pr-10"><label>一级价：</label>22</li>
                            <li class="pull-left pr-10"><label>二级价：</label>222</li>
                            <li class="pull-left pr-10"><label>三级价：</label>2222</li>
                            <li class="pull-left pr-10"><label>四级价：</label>22222</li>
                            <li class="pull-left pr-10"><label>五级价：</label>222222</li>
                        </ul>
                    </div>
                    <div id="div_table_orderForm5" class="table" style="display:none;width:440px;">
                        <table id="orderForm5" class="display cell-border" cellspacing="0" width="100%">
                            <thead class="head_bg">
                                <tr>
                                    <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                                    <th>仓库名称</th>
                                    <th>库存总数</th>
                                    <th>自由库存数</th>
                                    <th>已分配数量</th>
                                    <th>待分配数量</th>
                                    <th>待出库数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td_Align_center">1</td>
                                    <td style="text-align:left !important;">仓库名称1</td>
                                    <td style="text-align:right !important;">100</td>
                                    <td style="text-align:right !important;">50</td>
                                    <td style="text-align:right !important;">30</td>
                                    <td style="text-align:right !important;">10</td>
                                    <td style="text-align:right !important;">10</td>
                                </tr>
                                <tr>
                                    <td class="td_Align_center">合计</td>
                                    <td></td>
                                    <td style="text-align:right !important;">100</td>
                                    <td style="text-align:right !important;">50</td>
                                    <td style="text-align:right !important;">30</td>
                                    <td style="text-align:right !important;">10</td>
                                    <td style="text-align:right !important;">10</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@*进货数量*@
<script type="text/x-handlebars-template" id="temp_a7">
    <div id="div_temp_a7">
        <erp-money v_id="a7" v-model="vmodel"></erp-money>
    </div>
</script>
@*终定价/单价*@
<script type="text/x-handlebars-template" id="temp_a9">
    <div id="div_temp_a9">
        <erp-money v_id="a9" v-model="vmodel"></erp-money>
    </div>
</script>

@*其他原因*@
<script type="text/x-handlebars-template" id="temp_a10">
    <div id="div_temp_a10">
        <erp-text v_id="Remark" v-model="vmodel"></erp-text>
    </div>
</script>
@*日期*@
<script type="text/x-handlebars-template" id="temp_a11">
    <div id="div_temp_a11">
        <erp-date v_id="Remark1" v-model="vmodel"></erp-date>
    </div>
</script>
<script>
    var searchData = {};
    var vmMenu = new Vue({
        el: '#apps',
        data: {
            dbdata: '',
            S_Menu: {
                System_Id1: '',
                System_Id2: '',
                System_Id3: '',
                System_Id4: '',
                Menu_Layer5: '',
                Menu_Layer6: '',
                Menu_Layer7: '',
                Menu_Layer8: '',
            },
            Role_Name1: '',
            Role_Name2: '',
            Role_Name3: '',
            Role_Name4: '',
            Role_Name5: '',
            Menu_Layer5: '',
            Menu_Layer6: '',
            Menu_Layer7: '',
            Menu_Layer8: '',
            Birthday: '',
            //系统名称
            System_Name: "",
            //菜单分组名称
            Menu_Group_Name: "",
            //菜单名称
            Menu_Name: "",
            //菜单地址
            Menu_Address: "",
            //菜单地址
            Button_Name: "",
            //是否启用
            Is_Activate: "",
            //表头查询条件
            columHeaderSeach: {
                Menu_Id: "M000001",
                System_Key: "PurchaseSale"
            },
            childSearchModel: {
                Field_Name: "",
                Parent_Key: "a1"
            },
            //系统分组联动条件
            linkage: null,
            //表格查询url
            tableUrl: "Seach",
            //表格查询条件
            searchModel: searchData,
            //系统下拉框查询条件
            systemWhere: [],
            //系统下拉框排序
            systemOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //系统下拉框显示字段
            systemResult: ["System_Id", "System_Name"],
            //菜单分组下拉查询条件
            menuGroupWhere: [],
            //菜单分组排序条件
            menuGroupOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //菜单分组下拉显示字段
            menuGroupResult: ["Menu_Group_Id", "Menu_Group_Name"],
            //启用查询条件
            IsActiveDictionaryKey: "IS_ACTIVATE",
            selectvalue: '',
            selectvalue2: '',
            selectvalue3: ''
        },
        mounted: function () {
            this.wsearch = false,
            this.tsearch = true
            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });
            $('.form-group').arrangeable({
                dragSelector: '.shade_bg'
            });
            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });

        },
        methods: {
            Cortractterms: function () {
                PageCommon.ModalOpen({
                    id: "Contract3",
                    title: '合同条款',
                    width: "850px",
                    height: "600px",
                    btn: ['添加'],
                    url: '/PurchaseSale/SaleContract/ContractTerms',
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).codeset_vue.Save()
                    }
                })
            },
            provider_information: function () {
                var n = $(".provider_info").offset().top + 32;
                var n1 = $(".provider_info").offset().left;
                $('.provider_detailed').toggle();

                $('.provider_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            type_information: function () {
                var n = $(".type_info").offset().top + 32;
                var n1 = $(".type_info").offset().left;
                $('.type_detailed').toggle();
                $('.type_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },



            client_information: function () {
                var n = $(".client_info").offset().top + 32;
                var n1 = $(".client_info").offset().left;
                $('.client_detailed').toggle();
                $('.client_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            consignee_information: function () {
                var n = $(".consignee_info").offset().top + 32;
                var n1 = $(".consignee_info").offset().left;
                $('.consignee_detailed').toggle();
                $('.consignee_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            consignee_add: function () {
                PageCommon.ModalOpenDiv({
                    content: $('#Addconsignee'),
                    title: '收货人追加',
                    width: "530px",
                    height: "260px",
                    btn: ['保存'],
                    btnid: ["btnExportImport"],
                    btnclass: ['btn btn-primary'],
                    callBack: function () {
                        var selectRoleDetailRow = PageCommon.GetTableSelectRow("CheckApprovalRoleList");
                        //关闭div窗
                        layer.closeAll();
                    }
                })
            },
            //编辑行回调
            rowEditCallback: function (cell, titleData, rowData) {

                //数量/单价
                if (titleData == "8" || titleData == "9") {
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(100);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a7").html();

                    $("#div_temp_a7").attr("id", "div_temp_a7" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a7" + cell.index().row + "_" + cell.index().column,
                        data: {
                            vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('input', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(100);
                    $(".outer input", cell.node()).width(100);
                }
                if (titleData == "12" || titleData == "13") {
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(150);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a10").html();

                    $("#div_temp_a10").attr("id", "div_temp_a10" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a10" + cell.index().row + "_" + cell.index().column,
                        data: {
                            vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('input', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(150);
                    $(".outer input", cell.node()).width(150);
                }
                //型号
                if (titleData == "2") {
                    //var tdWidth = $(cell.node()).width();
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(250);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a6").html();

                    $("#div_temp_a6").attr("id", "div_temp_a6" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a6" + cell.index().row + "_" + cell.index().column,
                        data: {
                            //vmodel: cell.data()
                        },
                        mounted: function () {
                            var table5 = $('#orderForm5').DataTable({
                                "select": true,
                                "autoWidth": false,
                                "sScrollX": true,
                                "sScrollXInner": 800,
                                "dom": 'rt',
                                "searching": false,
                                "sScrollY": true,
                                "paging": false//不分页
                            });
                            PageCommon.RefreshTablePage("orderForm5");
                            $(table5.table().container()).width(440);
                            $(".type_detailed .type_tabs").on('click', 'li', function (e) {
                                $(this).addClass('active').siblings().removeClass('active');
                                var index = $(this).index();
                                $(".type_detailed .information_list").find('div').eq(index).show().siblings().hide();
                                PageCommon.RefreshTablePage("orderForm5");
                                e.stopPropagation();
                            })
                        },
                        methods: {
                            type_search: function () {
                                PageCommon.ModalOpen({
                                    id: "Contract1",
                                    title: '库存汇总查询',
                                    width: "900px",
                                    height: "600px",
                                    btnclass: ['hidden', 'hidden'],
                                    url: '/CommonView/ModelInventorySummaryQuery/ModeInventorySummaryQuery',
                                    callBack: function (iframeId) {
                                        PageCommon.ChildrenFrames(iframeId).codeset_vue.Save()
                                    }
                                })
                            },
                            type_information: function () {
                                var n = $(".type_info").offset().top + 32;
                                var n1 = $(".type_info").offset().left;
                                $('.type_detailed').toggle();
                                $('.type_detailed').css({ top: n, left: n1, 'position': 'fixed' });
                            },
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('select', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(240);
                    $(".outer select", cell.node()).width(180);
                    $("#Control_Type_" + cell.index().row + "_" + cell.index().column).select2({
                        placeholder: "请选择",
                        minimumResultsForSearch: -1,
                        templateSelection: function formatRepoSelection(repo) {
                            vmMenu.selectvalue = $(repo.element).attr("value");
                            return $(repo.element).attr("value");
                        }
                    });
                    $("#Control_Type_" + cell.index().row + "_" + cell.index().column).on("select2:open", function () {
                        $('.select2-dropdown--below').addClass('select2-dropdown-new');
                    });
                }
                //库房名称
                if (titleData == "16") {
                    $(".focus").width(250);
                    //var tdWidth = $(cell.node()).width();
                    var tdWidth = $(cell.node()).width();

                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a5").html();

                    $("#div_temp_a5").attr("id", "div_temp_a5" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a5" + cell.index().row + "_" + cell.index().column,
                        data: {
                            //vmodel: cell.data()
                        },
                        methods: {
                            warehouse_information: function () {
                                var n = $(".warehouse_info").offset().top + 32;
                                var n1 = $(".warehouse_info").offset().left;
                                $('.warehouse_detailed').toggle();
                                $('.warehouse_detailed').css({ top: n, left: n1, 'position': 'fixed' });
                            }
                        }

                    });
                    //设置控件在DataTables上
                    var jqInputs = $('select', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(250);
                    $(".outer select", cell.node()).width(190);
                    $("#Control_Type_" + cell.index().row + "_" + cell.index().column).select2({
                        placeholder: "请选择",
                        minimumResultsForSearch: -1,
                        templateSelection: function formatRepoSelection(repo) {
                            $("#Control_Type_" + cell.index().row + "_" + cell.index().column).val("");
                            vmMenu.selectvalue3 = $(repo.element).attr("value");
                            return $(repo.element).attr("value");
                        }
                    });
                }
                //标识
                if (titleData == "15") {
                    $(".focus").width(150);
                    //var tdWidth = $(cell.node()).width();
                    var tdWidth = $(cell.node()).width();

                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a4").html();

                    $("#div_temp_a4").attr("id", "div_temp_a4" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a4" + cell.index().row + "_" + cell.index().column,
                        data: {
                            //vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('select', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(150);
                    $(".outer select", cell.node()).width(150);
                    $("#Control_Type_" + cell.index().row + "_" + cell.index().column).select2({
                        placeholder: "请选择",
                        allowClear: true,//删除x图标
                        minimumResultsForSearch: Infinity,
                        templateSelection: function formatRepoSelection(repo) {
                            vmMenu.selectvalue2 = $(repo.element).attr("value");
                            return $(repo.element).attr("value");
                        }
                    });
                }
                if (titleData == "17" || titleData == "18") {
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(150);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a11").html();

                    $("#div_temp_a11").attr("id", "div_temp_a11" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a11" + cell.index().row + "_" + cell.index().column,
                        data: {
                            vmodel: cell.data(),
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('input', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(150);
                    $(".outer input", cell.node()).width(120);
                    //$('.datetimepicker').click(function (e) {
                    //    var jqInputs = $('input', cell.node());
                    //    //修改datatable 对应的值
                    //    cell.data($(jqInputs[0]).val());
                    //})
                }
                PageCommon.RefreshTablePage("orderForm");
            },
            //行编辑失去焦点回调事件
            rowEditBlurCallback: function (cell, datatable, titleData, rowData) {
                if (titleData == "8" || titleData == "9" || titleData == "11" || titleData == "12" || titleData == "13" || titleData == "17" || titleData == "18") {
                    var jqInputs = $('input', cell.node());
                    //修改datatable 对应的值
                    cell.data($(jqInputs[0]).val());
                }

                if (titleData == "2") {
                    var jqInputs = $('select', cell.node());
                    //修改datatable 对应的值
                    if (vmMenu.selectvalue) {
                        cell.data(vmMenu.selectvalue);
                        vmMenu.selectvalue = ''
                    } else {
                        cell.data(cell.data());
                    }
                }
                if (titleData == "15") {
                    var jqInputs = $('select', cell.node());
                    //修改datatable 对应的值
                    if (vmMenu.selectvalue2) {
                        cell.data(vmMenu.selectvalue2);
                        vmMenu.selectvalue2 = ''
                    } else {
                        cell.data(cell.data());
                    }
                }
                if (titleData == "16") {
                    var jqInputs = $('select', cell.node());
                    //修改datatable 对应的值
                    if (vmMenu.selectvalue3) {
                        cell.data(vmMenu.selectvalue3);
                        vmMenu.selectvalue3 = ''
                    } else {
                        cell.data(cell.data());
                    }
                }
                PageCommon.RefreshTablePage("orderForm");
            },
            //其他
            Rests: function () {

            },
            //打印
            Print: function () {

            },
            //查看审批意见
            LookApproval: function () {

            },
            //修改在途状态
            State: function () {
                PageCommon.ModalOpenDiv({
                    content: $('#StateAdjust'),
                    title: '在途状态',
                    width: "800px",
                    height: "500px",
                    btn: ['导入', '保存', '关闭'],
                    btnid: ["btnExportImport", "btnExportImport", "btnClose"],
                    btnclass: ['btn btn-primary', 'btn btn-primary', 'btn btn-danger'],
                    callBack: function () {
                        var selectRoleDetailRow = PageCommon.GetTableSelectRow("CheckApprovalRoleList");
                        //关闭div窗
                        layer.closeAll();
                        //提交数据
                        PageCommon.SubmitForm({
                            url: "SaveApprovalLevelRole",
                            param: { "roleList": selectRoleDetailRow, "approvalLevelId": data.Result_Model.Approval_Level_Id },
                            success: function () {
                                //刷新表格数据
                                app.searchModelRole = {
                                    "Pagination_Info": {
                                        Conditional_Value1: data.Result_Model.Approval_Level_Id
                                    }
                                }
                                //给层级表格加选中样式
                                $.fn.dataTable.Api('#ApprovalLevelList').rows(data.Result_Model.Approval_Level - 1).select();

                            }
                        });
                    }
                })
                $("#div_table_orderForm4 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() - 70);
                PageCommon.RefreshTablePage("orderForm4");
            },
            //详细画面新增跳转
            New: function () {
                window.location.href = PageCommon.SetUrl("Detail");
            },
            ///菜单删除
            Delete: function () {

                //获取选中行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //调用删除共同方法
                PageCommon.SubmitDetialForm({
                    url: "Delete",
                    param: selectRow,
                    success: function () {
                        PageCommon.RefreshTablePage("MenuList");  //刷新数据
                    },
                    close: true
                })
            },
            //详细画面更新跳转
            Update: function () {
                //取得选择行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //画面选择一条数据
                if (selectRow.length != 1) {
                    PageCommon.ShowMessageRight("E2008");
                    return;
                }

                //详细画面更新跳转
                window.location.href = PageCommon.SetUrlParameter("Detail", "keyValue=" + selectRow[0].Menu_Id);
            },
            //导入
            Import: function (obj) {
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导入菜单列表',
                    width: "400px",
                    height: "400px",
                    btn: ['导入', '关闭'],
                    url: '/CommonView/ImportExport/Import',
                    urlparameter: "tableName=S_Menu&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmImport.Import();
                    }
                })
            },
            //导出
            Export: function (obj) {
                vmMenu.Search();
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导出菜单列表',
                    width: "400px",
                    height: "300px",
                    btn: ['导出', '关闭'],
                    url: '/CommonView/ImportExport/Export',
                    urlparameter: "tableName=S_Menu&formID=searchForm&Menu_Id=M000001&List_Id=MenuList&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmExport.Export()
                    }
                })
            },
            ck: function () {

            },
            Back: function () {
                PageCommon.BackFormMessge({})
            },
            //禁用菜单
            Dissable: function () {
                //获取选中行
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "0") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 1;
                        newSelectRow.push(newobj);
                    }
                });

                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });

            },
            //启用菜单
            Enable: function () {
                //获取数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "1") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 0;
                        newSelectRow.push(newobj);
                    }
                });


                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });
            },
            //设置
            Set: function () {

            },
            //保存
            Save: function () {
            },
            //提交
            Submit: function () {
            },
            //库存汇总查询
            CollectSearch: function () {

            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                vmMenu.linkage = {};
                vmMenu.linkage.Field_Name = "System_Id";
                vmMenu.linkage.Value1 = value;
            },
            Search: function (obj) {
                vmMenu.searchModel = $("#searchForm").GetSearchModel({ Menu_Id: "M000001", List_Id: "MenuList" });
            }
        }
    });
</script>