@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="clearfix">
    <form class="form-inline" id="Upload_Form" method="post" enctype="multipart/form-data">
        <erp-text v-model="Tax_Proof_Number" v_id="Tax_Proof_Number" CheckEmpty="true" class="pull-left mb-5">税务证明编号</erp-text>
    </form>
</div>
@*@Scripts.Render("~/Areas/SystemSet/Content/js/UserDetail.js?v=" + ViewData["jsVersion"])*@
<script>
    //用户主键
    var keyValue = PageCommon.Request("keyValue");
    var Register_vue = new Vue({
        el: '#app',
        data: function () {
            return {
                Tax_Proof_Number: '',
            }
        },
        mounted: function () {

        },
        methods: {
            //保存系统画面数据
            Save: function (Invoice_Number) {
                var vm = this;
                //数据验证
                if (!PageCommon.CheckPageInput()) {
                    return;
                }
                var array = [];
                array.push(Invoice_Number);
                array.push(vm.Tax_Proof_Number);
                PageCommon.SubmitForm({
                    url: "RegisterTaxNumber",
                    param: { keyValue: array },
                    success: function (data) {
                        //关闭iframe窗
                        PageCommon.ModalClose()
                        //刷新表格数据
                        PageCommon.CurrentWindow().PageCommon.RefreshTablePage("SaleInvoiceRegisterList");


                    }
                });
            },
        }
    })

</script>