@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-4 col-sm-4 col-ld-12 p-tit">外购进货退货单制单</div>
            <div class="col-md-8 col-sm-8 col-md-8 p-btn pr-40">
                <erp-button v-show="btnEdit" v-bind:btn_cb="Edit" v_id="btnEdit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">编辑</erp-button>
                <erp-button v-show="btnSave" v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-show="btnSubmit" v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-show="btnApproval" v-bind:btn_cb="Approve" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-show="btnApprovalOpinion" v-bind:btn_cb="ApprovalOpinion" v_id="btnApprovalOpinion" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <erp-button v-show="btnBack" v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-up"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0 tile_body">
            <div>
                <div style="position:relative;">
                    <p class="title1">基本信息</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <form class="form-inline BasicInformation" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-text isshade_bg="true" v-model="P_Purchase_Return.Purchase_Return_Id" v_id="Purchase_Return_Id">退货单号</erp-text>
                    </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-select isshade_bg="true" v_id="Approval_Status" v-model="P_Purchase_Return.Approval_Status" bind_type="StatusDictionary" system_key="Purchase" dictionary_key="APPROVAL_STATUS">审核状态</erp-select>
                    </div>
                    <div id="order_2" class="form-group show-order drag_1">
                        <erp-date isshade_bg="true" v_id="Return_Date" v-model="P_Purchase_Return.Return_Date">退货日期</erp-date>
                    </div>
                    <div id="order_3" class="form-group show-order drag_1">
                        <erp-suppliersearch is_purchase="1" v-bind:template_selection="TemplateSelectionCustomer" class="search" CheckEmpty="true" v-model="P_Purchase_Return.Supplier_Id" v_id="Supplier_Id" system_key="Purchase">供应商</erp-suppliersearch>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-select v-model="P_Purchase_Return.Freight_Pay" v_id="Freight_Pay" bind_type="DataDictionary" system_key="Purchase" dictionary_key="FREIGHT_PAY">运费支付</erp-select>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-select v-model="P_Purchase_Return.Insure_Status" v_id="Insure_Status" bind_type="StatusDictionary" system_key="Purchase" dictionary_key="INSURE_STATUS">投保状态</erp-select>
                    </div>
                    <div id="order_7" class="form-group show-order drag_1">
                        <erp-textarea v-model="P_Purchase_Return.Return_Remark" v_id="Return_Remark">退货备注</erp-textarea>
                    </div>
                    <div id="order_8" class="form-group show-order drag_1">
                        <erp-textarea v-model="P_Purchase_Return.Other_Explain" v_id="Other_Explain">其他说明</erp-textarea>
                    </div>
                </form>
            </div>
            <div>
                <div style="position:relative;">
                    <p class="title1">详细信息</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <form class="form-inline BasicInformation" id="searchForm_detail">
                    <div id="order_9" class="form-group show-order drag_1">
                        <erp-select class="search" v_id="Carrier_Id" v-model="P_Purchase_Return.Carrier_Id" v-bind:main_orderby="carrier.mainOrderBy" bind_type="CustomTable" table_name="B_Carrier" system_key="Purchase" v-bind:filed_seach="carrier.filedSearch" v-bind:filed_result="carrier.Menuresult" v-bind:input_field="carrier.inputField" isselect="true">承运商</erp-select>
                    </div>
                    <div id="order_10" class="form-group show-order drag_1">
                        <erp-select class="search" v_id="Transportation_Way_Id" v-model="P_Purchase_Return.Transportation_Way_Id" v-bind:main_orderby="transportation.mainOrderBy" bind_type="CustomTable" table_name="B_Transportation_Way" system_key="Purchase" v-bind:filed_seach="transportation.filedSearch" v-bind:filed_result="transportation.Menuresult" v-bind:input_field="transportation.inputField" isselect="true">运输方式</erp-select>
                    </div>
                    <div id="order_11" class="form-group show-order drag_1">
                        <erp-receiversearch receiver_type="1" parent_vm="OutInboundFormDetailCancel_vue" v-bind:linkage="linkage" v-bind:template_selection="Template_selection" class="search" CheckEmpty="true" v-model="Receiver_Detail_Number" v_id="SupplierReceiver" system_key="Purchase">收货人</erp-receiversearch>
                        @*<erp-search class="search" child_table="false" v_id="Employee_Id" v-model="P_Purchase_Return.Employee_Id" v-bind:main_orderby="employee.mainOrderBy" bind_type="CustomTable" table_name="B_Employee" system_key="Purchase" v-bind:filed_seach="employee.filedSearch" v-bind:filed_result="employee.Menuresult" v-bind:input_field="employee.inputField" isselect="true">收货人</erp-search>*@
                    </div>
                    <div id="order_13" class="form-group show-order drag_1">
                        <erp-text isshade_bg="true" v-model="P_Purchase_Return.Address" v_id="Address" CheckLength="200">收货地址</erp-text>
                    </div>
                    <div id="order_13" class="form-group show-order drag_1">
                        <erp-text isshade_bg="true" v-model="P_Purchase_Return.Mobile_Phone" v_id="Mobile_Phone" CheckLength="15">手机</erp-text>
                    </div>
                    <div id="order_14" class="form-group show-order drag_1">
                        <erp-text isshade_bg="true" v-model="P_Purchase_Return.Telephone" v_id="Telephone" CheckLength="15">电话</erp-text>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <div style="position:relative;">
                <p class="title1">退货单列表</p>
                <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
            </div>
            <erp-edit-table openwindow_check="Product_Id" pagenum="5" istfootshow="true" v-bind:totalback="pagetotalback" v-bind:columrender="columrender" v_id="OutInboundFormCancelDetailList" v-bind:isedittable="isedittable" v-model="P_Purchase_Return.P_Purchase_Return_Detail_List" v-bind:row_edit_callback="rowEditCallback" v-bind:row_edit_blur_callback="rowEditBlurCallback" v-bind:columheaderseach="columHeaderSeach"></erp-edit-table>
        </div>
    </div>
</div>
@*本次退货数量*@
<script type="text/x-handlebars-template" id="temp_This_Return_Goods_Count">
    <div id="div_temp_This_Return_Goods_Count">
        <erp-float v-model="This_Return_Goods_Count" v_id="This_Return_Goods_Count" CheckLength="14" decimals="2" istable="false"></erp-float>
    </div>
</script>
@*退货原因*@
<script type="text/x-handlebars-template" id="temp_Return_Goods_Reason">
    <div id="div_temp_Return_Goods_Reason">
        <erp-select v_id="Return_Goods_Reason" v-model="Return_Goods_Reason" CheckEmpty="true" system_key="Sale" dictionary_key="PURCHASE_RETURN_GOODS_REASON" bind_type="DataDictionary" v-bind:template_selection="ReasonChange"></erp-select>
    </div>
</script>
@*其他原因 *@
<script type="text/x-handlebars-template" id="temp_Other_Reason">
    <div id="div_temp_Other_Reason">
        <erp-text v-model="vmodel" v_id="Other_Reason" v-bind:isshade_bg="isshade_bg" v-bind:readonly="readonly"></erp-text>
    </div>
</script>
@Scripts.Render("~/Areas/Purchase/Content/js/OutsourceInboundFormCancelDetail.js?v=" + ViewData["jsVersion"])




