@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 col-lg-2 p-tit">加密锁列表</div>
            <div class="col-md-10 col-sm-10 col-lg-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="New" v_id="btnNew" btn_opt="新增" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">新增</erp-button>
                <erp-button v-bind:btn_cb="Delete" v_id="btnDelete" btn_opt="作废" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-trash">作废</erp-button>
                <erp-button v-bind:btn_cb="Update" v_id="btnUpdate" btn_opt="编辑" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">编辑</erp-button>
                <erp-button v-bind:btn_cb="Enable" v_id="btnEnable" btn_opt="启用" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-check-circle">启用</erp-button>
                <erp-button v-bind:btn_cb="Dissable" v_id="btnDissable" btn_opt="禁用" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-exclamation-circle">禁用</erp-button>
                    <div class="btn-group" role="group">
                    <button type="button" class="btn-primary btn-rounded btn-sm btn-ef" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        其他
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu spg-down">
                         <li style="height:31px;"><erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button></li>
                    </ul>
                </div>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body searchHide clearfix">
                <form class="clearfix" id="searchForm">
                    <div id="order_1" class="form-group show-order">
                        <erp-text v_id="Secret_Code" v-model="Secret_Code" field_name="S_Encryption_Lock.Secret_Code" query_type="01" expression="01">秘钥Code</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order">
                        <erp-searchtext class="search" field_name="B_Employee.Name" query_type="01" expression="02" v-model="Name" v_id="Name" control_type="employee" system_key="SystemSet">员工名称</erp-searchtext>
                   </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-select ismustselect="true" field_name="S_Encryption_Lock.Is_Activate" query_type="01" expression="02" v-model="Is_Activate" bind_type="DataDictionary" system_key="SystemSet" v-bind:dictionary_key="IsActiveDictionaryKey" v_id="Is_Activate">启用</erp-select>
                    </div>

                </form>
                <div class="submitSearch">
                    <erp-button v-bind:btn_cb="Search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-search">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="EncryptionLockList" v-bind:tableurl="tableurl" v-bind:columheaderseach="ColumHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/SystemSet/Content/js/EncryptionLockList.js?v=" + ViewData["jsVersion"])