@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 pr-0">
            <div class="tile-body clearfix">
                <form class="form-inline" id="searchForm2">
                    <div id="order_1" class="form-group show-order www">
                        <erp-date v_id="Birthday" query_type="03" expression="05">制单日期</erp-date>
                    </div>
                    <div id="order_2" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">型号规格</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="ModelNumber" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="22215EAE4C1">22215EAE4C1</option>
                                        <option value="22215EAE4C2">22215EAE4C2</option>
                                        <option value="22215EAE4C3">22215EAE4C3</option>
                                        <option value="22215EAE4C4">22215EAE4C4</option>
                                        <option value="22215EAE4C5">22215EAE4C5</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_3" class="form-group show-order www">
                        <div class="outer client_info">
                            <label class="space mb-0">客户</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="typeSpecification2" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="客户名称1">客户名称1</option>
                                        <option value="客户名称2">客户名称2</option>
                                        <option value="客户名称3">客户名称3</option>
                                        <option value="客户名称4">客户名称4</option>
                                        <option value="客户名称5">客户名称5</option>
                                    </select>
                                </div>
                                <div style="font-size:0;">
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="input-group-addon" v-on:click.stop="client_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                            @*客户*@
                            <div class="client_detailed" style="display:none;">
                                <ul class="clearfix client_tabs">
                                    <li class="pull-left active">基本信息</li>
                                    <li class="pull-left">结算方式</li>
                                    <li class="pull-left">联系方式</li>
                                </ul>
                                <div class="information_list mt-5">
                                    <div>
                                        <ul class="clearfix" style="width:440px;">
                                            <li class="pull-left pr-10"><label>所属客户：</label>郑州双汇集团</li>
                                            <li class="pull-left pr-10"><label>客户类型：</label>企业客户</li>
                                            <li class="pull-left pr-10"><label>企业性质：</label>肉类食品</li>
                                            <li class="pull-left pr-10"><label>客户重要性：</label>重要</li>
                                            <li class="pull-left pr-10"><label>所属行业：</label>生产制造</li>
                                            <li class="pull-left pr-10"><label>所属地区：</label>西北</li>
                                            <li class="pull-left pr-10"><label>获取途径：</label>展销会</li>
                                            <li class="pull-left pr-10"><label>客户地址：</label>河南省郑州市文斗区</li>
                                            <li class="pull-left pr-10"><label>任务人：</label>张明</li>
                                            <li class="pull-left pr-10"><label>备注：</label>长期客户</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="clearfix" style="width:440px;">
                                            <li class="pull-left pr-10"><label>信用额度：</label>20000</li>
                                            <li class="pull-left pr-10"><label>信用等级：</label>2</li>
                                            <li class="pull-left pr-10"><label>结算方式：</label>月结</li>
                                            <li class="pull-left pr-10"><label>结算日：</label>2012-12-12</li>
                                            <li class="pull-left pr-10"><label>分段日：</label>2012-12-12</li>
                                            <li class="pull-left pr-10"><label>超期日：</label>2012-12-12</li>
                                        </ul>
                                    </div>
                                    <div id="div_table_orderForm7" class="table" style="display:none;width:440px;">
                                        <table id="orderForm7" class="display cell-border" cellspacing="0" width="100%">
                                            <thead class="head_bg">
                                                <tr>
                                                    <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                                                    <th>姓名</th>
                                                    <th>部门</th>
                                                    <th>联系电话</th>
                                                    <th>手机</th>
                                                    <th>传真</th>
                                                    <th>邮政编码</th>
                                                    <th>微信</th>
                                                    <th>地址</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td_Align_center">1</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                                <tr>
                                                    <td class="td_Align_center">2</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_6" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">申请人</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="Maker" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="张三">张三</option>
                                        <option value="李四">李四</option>
                                        <option value="王五">王五</option>
                                        <option value="朱六">朱六</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_9" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">客户类型</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="brand">
                                    <option value="NNN">NNN</option>
                                    <option value="LLL">LLL</option>
                                    <option value="OOO">OOO</option>
                                    <option value="FFF">FFF</option>
                                    <option value="GGG">GGG</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_4" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">品牌</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="storageName" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="NNN">NNN</option>
                                        <option value="LLL">LLL</option>
                                        <option value="OOO">OOO</option>
                                        <option value="FFF">FFF</option>
                                        <option value="GGG">GGG</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">申请对象</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="brand">
                                    <option value="客户">客户</option>
                                    <option value="个人">个人</option>
                                    <option value="公司">公司</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_7" class="form-group show-order www">
                        <div class="outer">
                            <label class="space mb-0">归属部门</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="department" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="技术部">技术部</option>
                                        <option value="人事部">人事部</option>
                                        <option value="财务部">财务部</option>
                                        <option value="后勤部">后勤部</option>
                                        <option value="管理部">管理部</option>
                                    </select>
                                </div>
                                <div v-if="true">
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:36px;height:30px;margin-top:-1px;border:1px solid #d8d8d8;border-right: 0;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitSearch clearfix">
                    <div class="more pull-left mt-5 mr-10">更多 <i class="fa fa-angle-double-down"></i></div>
                    <erp-button class="pull-left" v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b">查询</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 p-0">
            @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th>序号</th>
                            <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" style="height:12px;"><input type="checkbox" style="margin:0;"><i style="margin-right: 0px;margin-left:-13px;margin-top:-10px"></i></label></th>
                            <th class="details-control sorting_disabled" style="width:0px;"></th>
                            <th>型号规格</th>
                            <th>品名</th>
                            <th>计量单位</th>
                            <th>油纸包装</th>
                            <th>品牌</th>
                            <th>定货类型</th>
                            <th>在库状态</th>
                            <th>产地</th>
                            <th>销售价</th>
                            <th>定货数量</th>
                            <th>审核数量</th>
                            <th>是否含税</th>
                            <th>发票类型</th>
                            <th>申请对象</th>
                            <th>客户名称</th>
                            <th>客户类型</th>
                            <th>申请人</th>
                            <th>归属部门</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center !important;">1</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">22215EAE4C3 </td>
                            <td style="text-align:center !important;">轴承</td>
                            <td style="text-align:center !important;">套</td>
                            <td style="text-align:center !important;">S</td>
                            <td style="text-align:center !important;">NNN</td>
                            <td style="text-align:center !important;">预留</td>
                            <td style="text-align:center !important;">在库</td>
                            <td style="text-align:center !important;">中国</td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">500</td>
                            <td style="text-align:center !important;">是</td>
                            <td style="text-align:center !important;">增值发票</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">UUUTRC</td>
                            <td style="text-align:center !important;">类型1</td>
                            <td style="text-align:center !important;">小王</td>
                            <td style="text-align:center !important;">事业部</td>
                        </tr>
                        <tr>
                            <td style="text-align:center !important;">2</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:center !important;">22215EAE4C3 </td>
                            <td style="text-align:center !important;">轴承</td>
                            <td style="text-align:center !important;">套</td>
                            <td style="text-align:center !important;">S</td>
                            <td style="text-align:center !important;">NNN</td>
                            <td style="text-align:center !important;">预留</td>
                            <td style="text-align:center !important;">在库</td>
                            <td style="text-align:center !important;">中国</td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">500</td>
                            <td style="text-align:center !important;">是</td>
                            <td style="text-align:center !important;">增值发票</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">UUUTRC</td>
                            <td style="text-align:center !important;">类型1</td>
                            <td style="text-align:center !important;">小王</td>
                            <td style="text-align:center !important;">事业部</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*<div  class="model-floatfixed-icon">
            <span class="glyphicon glyphicon-hand-right"></span>
        </div>*@
        @*<div class="col-md-12 col-sm-12 p-0 mt-5 model-floatfixed">
            <div class="col-md-12 col-sm-12 p-0">*@
                @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
                 @*<div class="model-floatfixed-table">
                    <div id="div_table_orderForm1" class="table">
                        <table id="orderForm1" style="float: left;" class="display cell-border" cellspacing="0" width="100%">
                            <thead class="head_bg">
                                <tr>
                                    <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><p class="btn-md"><i class="fa fa-gear" style="display:block;font-size: 15px;"></i></p></th>
                                    <th><a class="add btn-info btn-sm" href="#"><i class="glyphicon glyphicon-plus"></i></a></th>
                                    <th style="width:120px">型号规格</th>
                                    <th style="width:120px">可用库存数量</th>
                                    <th style="width:120px">申请数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr clsss="shown">
                                    <td class="td_Align_center">1</td>
                                    <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                    <td style="text-align:center !important;">22215EAE4C1 </td>
                                    <td style="text-align:right !important;">99999</td>
                                    <td style="text-align:right !important;">300</td>
                                </tr>
                                <tr clsss="shown">
                                    <td class="td_Align_center">2</td>
                                    <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                    <td style="text-align:center !important;">22215EAE4C1 </td>
                                    <td style="text-align:right !important;">99999</td>
                                    <td style="text-align:right !important;">300</td>
                                </tr>
                                <tr clsss="shown">
                                    <td class="td_Align_center">3</td>
                                    <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                                    <td style="text-align:center !important;">22215EAE4C1 </td>
                                    <td style="text-align:right !important;">99999</td>
                                    <td style="text-align:right !important;">300</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="text-align:center !important;">合计:</th>
                                    <th></th>
                                    <th></th>
                                    <th style="text-align:right !important;">60000</th>
                                    <th style="text-align:right !important;">50000</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="model-floatfixed-btncont">
                        <button class="btn btn-danger" v-on:click="closemodel">关闭</button>
                        <button class="btn btn-primary" v-on:click="addmodel">添加</button>
                    </div>
                </div>*@
            @*</div>
        </div>*@
    </div>
</div>
<script type="text/x-handlebars-template" id="table_test">
    <table id="test" class="display" cellspacing="0" width="100%">
        <thead class="head_bg">
            <tr>
                <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><p class=" btn-md"><i class="fa fa-gear" style="display:block;font-size: 15px;"></i></p></th>
                <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" style="height:12px;"><input type="checkbox" style="margin:0;"><i style="margin-right: 0px;margin-left:-13px;margin-top:-10px"></i></label></th>
                <th style="width:100px !important;">11月预算</th>
                <th style="width:100px !important;">11月实债</th>
                <th style="width:100px !important;">12月预算</th>
                <th style="width:100px !important;">12月实债</th>
                <th style="width:100px !important;">1月预算</th>
                <th style="width:100px !important;">1月实债</th>
                <th style="width:100px !important;">库存1月止</th>
                <th style="width:100px !important;">2月订单</th>
                <th style="width:100px !important;">3月预测</th>
                <th style="width:100px !important;">4月预测</th>
                <th style="width:100px !important;">5月预测</th>
                <th style="width:100px !important;">2月客户需求</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td_Align_center">1</td>
                <td class="select-checkbox"></td>
                <td style="text-align:right !important;">5600 </td>
                <td style="text-align:right !important;">10000</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:right !important;">2000</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">400</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">500</td>
                <td style="text-align:right !important;">424254</td>
                <td style="text-align:right !important;">542</td>
                <td style="text-align:right !important;">42545</td>
                <td style="text-align:right !important;">100</td>

            </tr>
            <tr>
                <td class="td_Align_center">2</td>
                <td class="select-checkbox"></td>
                <td style="text-align:right !important;">5600 </td>
                <td style="text-align:right !important;">10000</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:right !important;">2000</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">400</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">500</td>
                <td style="text-align:right !important;">424254</td>
                <td style="text-align:right !important;">542</td>
                <td style="text-align:right !important;">42545</td>
                <td style="text-align:right !important;">100</td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/x-handlebars-template" id="temp_a6">
    <div id="div_temp_a6">
        <erp-text v-model="vmodel" v_id="a6" CheckLength="200"></erp-text>
    </div>
</script>
<script>

    $(document).ready(function () {
        $(".model-floatfixed-icon").click(function () {
            $(".model-floatfixed").animate({
                width: 'toggle'
            })
        });
        $('#apps').click(function () {
            $('.provider_detailed').hide();
            $('.type_detailed').hide();
            $('.client_detailed').hide();
        })
        $(".provider_detailed .provider_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".provider_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm6");
            e.stopPropagation();
        })
        $(".type_detailed .type_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".type_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm5");
            e.stopPropagation();
        })
        $(".client_detailed .client_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".client_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm7");
            e.stopPropagation();
        })
        $(".more").click(function () {
            $(this).find("i").toggleClass('rotate');
            $(".tile-body").toggleClass("tile-body1");
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        $("#provider,#provider1,#provider2,#provider3,#provider4,#provider5,#typeSpecification,#typeSpecification2,#brand,#place,#prepared,#tm,#department,#department1,#ModelNumber,#customerName,#customerType,#storageName,#DocumentMaker,#Maker").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider,#provider1,#provider2,#provider3,#provider4,#provider5,#typeSpecification,#typeSpecification2,#brand,#place,#prepared,#tm,#department,#department1,#ModelNumber,#customerName,#customerType,#storageName,#DocumentMaker,#Maker").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#paymentWay,#bills,#currency,#searchnum").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
        $("#apping").select2({
            minimumResultsForSearch: Infinity
        });
        var vm1 = $('#orderForm1').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": "500px",
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            keys: {
                columns: [4]
            },
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $("#div_table_orderForm1 .dataTables_scrollBody").height("200px");
        $('#orderForm1').on('key-focus', function (e, datatable, cell, originalEvent) {
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();
            if (cell.index().column == 4) {
                cell.node().innerHTML = $("#temp_a6").html();
                $("#div_temp_a6").attr("id", "div_temp_a6" + cell.index().row + "_" + cell.index().column);
                //初始化VUE模板
                var cheld = new Vue({
                    el: "#div_temp_a6" + cell.index().row + "_" + cell.index().column,
                    data: {
                        vmodel: cell.data()
                    }
                });
                //设置控件在DataTables上
                var jqInputs = $('input', cell.node());
                $(jqInputs).attr('id', "input_temp_a6" + cell.index().row + "_" + cell.index().column);
                $(".outer", cell.node()).width(150);
            }
        });
        $('#orderForm1').on('key-blur', function (e, datatable, cell, originalEvent) {
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();
            var jqInputs = null;
            if (cell.index().column == 4) {
                jqInputs = $('input', cell.node())
            }
            //修改datatable 对应的值
            cell.data($(jqInputs[0]).val());
            PageCommon.RefreshTablePage("orderForm1")
        });
        var table7 = $('#orderForm7').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 800,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false//不分页
        });
        PageCommon.RefreshTablePage("orderForm7");
        $(table7.table().container()).width(440);
        var tw = $("#div_table_orderForm").width();
        var vm = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": "2000px",
            "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
            "searching": false,
            "sScrollY": true,
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");
        $('#orderForm tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = vm.row(tr);
            tr.attr("id", row.index());
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").show();
            } else {

                $("#" + row.index()).addClass("shown");

                var $table = $($("#table_test").html());
                $table.attr("id", "mendetial_" + row.index());


                row.child($table[0]).show();


                var childTable = $table.DataTable({
                    "select": true,
                    "autoWidth": false,
                    "sScrollX": true,
                    "sScrollXInner": "1480px",
                    "info": "false",
                    "dom": 'rt<"tableBottom clearfix pt-20"l<"pull-right"p><"pull-right ml-10 mr-10"i><"toolbar mt-10 pull-right">>',
                    "searching": false,
                    "sScrollY": true,

                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "查询的数据不存在！",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                

                });
                $(childTable.table().container()).width(1480);

                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").hide();

            }
        });
    });
    var searchData = {};
    var vmMenu = new Vue({
        el: '#app',
        data: {
           
        },
        mounted: function () {

            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });

            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });

        },
        methods: {
            provider_information: function () {
                var n = $(".provider_info").offset().top + 32;
                var n1 = $(".provider_info").offset().left;
                $('.provider_detailed').toggle();

                $('.provider_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            type_information: function () {
                var n = $(".type_info").offset().top + 32;
                var n1 = $(".type_info").offset().left;
                $('.type_detailed').toggle();
                $('.type_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            client_information: function () {
                var n = $(".client_info").offset().top + 32;
                var n1 = $(".client_info").offset().left;
                $('.client_detailed').toggle();
                $('.client_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
           
            //打印
            Print: function () {

            },
            closemodel() {
                $(".model-floatfixed").hide();
            },
            addmodel() {
                PageCommon.ModalClose();

            },
            //查看审批意见
            LookApproval: function () {

            },
            //修改在途状态
            State: function () {
               
            },
            //详细画面新增跳转
            New: function () {
                window.location.href = PageCommon.SetUrl("Detail");
            },
            ///菜单删除
            Delete: function () {

                //获取选中行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //调用删除共同方法
                PageCommon.SubmitDetialForm({
                    url: "Delete",
                    param: selectRow,
                    success: function () {
                        PageCommon.RefreshTablePage("MenuList");  //刷新数据
                    },
                    close: true
                })
            },
            //详细画面更新跳转
            Update: function () {
                //取得选择行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //画面选择一条数据
                if (selectRow.length != 1) {
                    PageCommon.ShowMessageRight("E2008");
                    return;
                }

                //详细画面更新跳转
                window.location.href = PageCommon.SetUrlParameter("Detail", "keyValue=" + selectRow[0].Menu_Id);
            },
            //导入
            Import: function (obj) {
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导入菜单列表',
                    width: "400px",
                    height: "400px",
                    btn: ['导入', '关闭'],
                    url: '/CommonView/ImportExport/Import',
                    urlparameter: "tableName=S_Menu&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmImport.Import();
                    }
                })
            },
            //导出
            Export: function (obj) {
                vmMenu.Search();
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导出菜单列表',
                    width: "400px",
                    height: "300px",
                    btn: ['导出', '关闭'],
                    url: '/CommonView/ImportExport/Export',
                    urlparameter: "tableName=S_Menu&formID=searchForm&Menu_Id=M000001&List_Id=MenuList&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmExport.Export()
                    }
                })
            },
            //禁用菜单
            Dissable: function () {
                //获取选中行
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "0") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 1;
                        newSelectRow.push(newobj);
                    }
                });

                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });

            },
            //启用菜单
            Enable: function () {
                //获取数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "1") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 0;
                        newSelectRow.push(newobj);
                    }
                });


                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });
            },
            //保存
            Save: function () {
            },
            //提交
            Submit: function () {
            },
            //库存汇总查询
            CollectSearch: function () {

            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                vmMenu.linkage = {};
                vmMenu.linkage.Field_Name = "System_Id";
                vmMenu.linkage.Value1 = value;
            },
            Search: function (obj) {
                vmMenu.searchModel = $("#searchForm").GetSearchModel({ Menu_Id: "M000001", List_Id: "MenuList" });
            },
            Back:function(){
                window.location.href = PageCommon.SetUrl("Detail");
            }
        }
    });
</script>