@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-edit-table v-bind:isedittable="isedit" v-bind:columrender="columrenderReceiver" v-model="B_Supplier.B_Supplier_Receiver_List" v_id="PurchaseProviderReceiverList" v-bind:columheaderseach="columReceiverHeaderSeach"></erp-edit-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Purchase/Content/js/OutsourceSupplierSearchSupplierReceiver.js?v=" + ViewData["jsVersion"])

