@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 col-lg-2 p-tit">外购价格申请单</div>
            <div class="col-md-10 col-sm-10 col-lg-10 p-btn pr-10">
                <erp-button v-show="btnEdit" v-bind:btn_cb="Edit" v_id="btnEdit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">编辑</erp-button>
                <erp-button v-show="btnSave" v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-show="btnSubmit" v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-show="btnApproval" v-bind:btn_cb="Approval" v_id="btnAudit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-show="btnApprovalOpinion" v-bind:btn_cb="mApproval" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <erp-button v-show="btnBack" v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>

        </div>

        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <p class="title1">基本信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation row_Insert">
                <form class="form-inline" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order">
                        <erp-customersearch v-bind:isshade_bg="isshade_bg" class="search" CheckEmpty="true" v-model="M_Price_Apply.Customer_Id" v_id="Customer_Id" system_key="Sale" v-bind:template_selection="TemplateSelectionCustomer">客户名称</erp-customersearch>
                    </div>

                    <div id="order_2" class="form-group show-order">
                        <erp-select v_id="Quote_Usefel_Life" v-bind:isshade_bg="isshade_bg" bind_type="DataDictionary" dictionary_key="QUOTE_USEFEL_LIFE" v-model="M_Price_Apply.Quote_Usefel_Life" CheckEmpty="true">报价有效期</erp-select>

                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-select v-model="M_Price_Apply.Freight_Pay" dictionary_key="FREIGHT_PAY" v_id="Freight_Pay" CheckEmpty="true" v-bind:isshade_bg="isshade_bg" bind_type="DataDictionary">运费支付</erp-select>

                    </div>
                    <div id="order_7" class="form-group show-order">
                        <erp-select v_id="Transportation_Way" v-bind:isshade_bg="isshade_bg" v-model="M_Price_Apply.Transportation_Way" bind_type="DataDictionary" system_key="SystemSet" dictionary_key="CUSTOM_TRANSPORTAION_WAY" CheckEmpty="true">运输方式</erp-select>
                    </div>
                    <div id="order_5" class="form-group show-order">
                        <erp-textarea v-model="M_Price_Apply.Remark" v_id="Remark" v-bind:readonly="readonly">其他说明</erp-textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <p class="title1">价格申请信息</p>
            <span class="down_tab"><i class="fa fa-angle-double-down"></i></span>
            <div class="BasicInformation row_Insert">
                <erp-edit-table v-bind:totalback="totalback" v-bind:columrender="columrender" v-bind:isedittable="isedittable" istfootshow="true" v-model="M_Price_Apply.M_Price_Apply_Detail_List" v_id="PriceApplyDetailEdit" v-bind:row_edit_callback="rowEditCallback" v-bind:row_edit_blur_callback="rowEditBlurCallback" v-bind:columheaderseach="columHeaderSeach"></erp-edit-table>

            </div>
        </div>

    </div>
</div>
@* 商品名称 *@
<script type="text/x-handlebars-template" id="temp_Product_Name">
    <div id="div_temp_Product_Name">
        <erp-productsearch class="search" is_purchase="1" CheckEmpty="true" seach_type="3" v-bind:template_selection="TemplateSelectionProduct" v-model="Product_Purchase" istable="true" v_id="Product_Name" system_key="Sale"></erp-productsearch>
    </div>
</script>
@*申请数量 *@
<script type="text/x-handlebars-template" id="temp_Apply_Count">
    <div id="div_temp_Apply_Count">
        <erp-float v-model="vmodel" v_id="Apply_Count" CheckEmpty="true" decimals="4" CheckLength="14" istable="false"></erp-float>
    </div>
</script>
@* 客户接收价格 *@
<script type="text/x-handlebars-template" id="temp_Customer_Receive_Price">
    <div id="div_temp_Customer_Receive_Price">
        <erp-float v-model="vmodel" v_id="Customer_Receive_Price" CheckEmpty="true" decimals="16" CheckLength="28" istable="false"></erp-float>
    </div>
</script>
@* 单价 *@
<script type="text/x-handlebars-template" id="temp_Price">
    <div id="div_temp_Price">
        <erp-float v-model="vmodel" v_id="Price" CheckEmpty="true" decimals="6" CheckLength="28" istable="false" v-bind:isshade_bg="isshade_bg" v-bind:readonly="readonly"></erp-float>
    </div>
</script>
@* 货源 *@
<script type="text/x-handlebars-template" id="temp_Goods_Apply">
    <div id="div_temp_Goods_Apply">
        <erp-select v_id="Goods_Apply" v-model="Goods_Apply" system_key="Sale" dictionary_key="COST_SOURCE" bind_type="DataDictionary" v-bind:template_selection="GoodChange"></erp-select>
    </div>
</script>
@*交货期*@
<script type="text/x-handlebars-template" id="temp_Delivery_Date">
    <div id="div_temp_Delivery_Date" class="tabledate">
        <erp-tabledate v-model="vmodel" v_id="Delivery_Date" CheckEmpty="true"></erp-tabledate>
    </div>
</script>
@* TY方式 *@
<script type="text/x-handlebars-template" id="temp_Ty_Way">
    <div id="div_temp_Ty_Way">
        <erp-select v_id="Ty_Way" v-model="Ty_Way" system_key="Sale" dictionary_key="TY_WAY" bind_type="DataDictionary" v-bind:template_selection="PayWay"></erp-select>
    </div>
</script>
@* YJ *@
<script type="text/x-handlebars-template" id="temp_Commission">
    <div id="div_temp_Commission">
        <erp-float v-model="vmodel" v_id="Commission" CheckEmpty="true" decimals="16" CheckLength="28" istable="false" v-bind:isshade_bg="isshade_bg" v-bind:readonly="readonly"></erp-float>
    </div>
</script>
@*价税合计*@
<script type="text/x-handlebars-template" id="temp_Price_Tax_Sum">
    <div id="div_temp_Price_Tax_Sum">
        <erp-float v-model="vmodel" v_id="Price_Tax_Sum" CheckEmpty="true" decimals="16" CheckLength="28" istable="false" v-bind:isshade_bg="isshade_bg" v-bind:readonly="readonly"></erp-float>
    </div>
</script>
@* 是否含税 *@
<script type="text/x-handlebars-template" id="temp_Is_Include_Tax">
    <div id="div_temp_Is_Include_Tax">
        <erp-switch v_id="Is_Include_Tax" v-model="Is_Include_Tax"></erp-switch>
    </div>
</script>
@*成本来源*@
<script type="text/x-handlebars-template" id="temp_Cost_Source">
    <div id="div_temp_Cost_Source">
        <erp-text v-model="vmodel" v_id="Cost_Source" readonly="true"></erp-text>
    </div>
</script>
@*佣金率*@
<script type="text/x-handlebars-template" id="temp_Commission_Rate">
    <div id="div_temp_Commission_Rate">
        <erp-float v-model="vmodel" v_id="Commission_Rate" CheckEmpty="true" decimals="16" CheckLength="28" istable="false" v-bind:isshade_bg="isshade_bg" v-bind:readonly="readonly"> </erp-float>
    </div>
</script>
@*备注*@
<script type="text/x-handlebars-template" id="temp_Remark">
    <div id="div_temp_Remark">
        <erp-textarea v_id="Remark" v-model="vmodel" CheckLength="500"></erp-textarea>
    </div>
</script>
@Scripts.Render("~/Areas/Sale/Content/js/PriceApplyDetail_W.js?v=" + ViewData["jsVersion"])