@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">销售退货列表 </div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="New" v_id="btnNew" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-plus">新增</erp-button>
                <erp-button v-bind:btn_cb="Update" v_id="btnUpdate" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">修改</erp-button>
                <erp-button v-bind:btn_cb="Delete" v_id="btnDelete" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-trash">删除</erp-button>
                <erp-button v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-bind:btn_cb="Ck" v_id="btnck" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-bind:btn_cb="LookApproval" v_id="btnck" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn-primary btn-rounded btn-sm btn-ef" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        其他
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu spg-down">
                        <li><erp-button v-bind:btn_cb="Export" v_id="btnExport" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button></li>
                        <li><erp-button v-bind:btn_cb="Print" v_id="btnPrint" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-print ">打印</erp-button></li>
                        <li style="height:31px;"><erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button></li>

                    </ul>
                </div>
            </div>
            <div class="down1"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <div class="tile-body clearfix">
                <form class="form-inline" id="searchForm2">
                    <div id="order_1" class="form-group pull-left">
                        <erp-datedb query_type="03" expression="05" v-model="zdrq">制单日期</erp-datedb>
                    </div>
                    <div id="order_2" class="form-group show-order pull-left">
                        <erp-text v_id="mobilephone" query_type="03" expression="05">申请单号</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order pull-left">
                        <div class="outer">
                            <label class="space mb-0">型号规格</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="Model" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="NNN">NNN</option>
                                        <option value="LLL">LLL</option>
                                        <option value="OOO">OOO</option>
                                        <option value="FFF">FFF</option>
                                        <option value="GGG">GGG</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_4" class="form-group show-order pull-left">
                        <div class="outer">
                            <label class="space mb-0">任务人</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="Task" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="张三">张三</option>
                                        <option value="李四">李四</option>
                                        <option value="王五">王五</option>
                                        <option value="朱六">朱六</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order pull-left">
                        <div class="outer">
                            <label class="space mb-0">品牌</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="brand" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="SSS">SSS</option>
                                        <option value="NNN">NNN</option>
                                        <option value="MMM">MMM</option>
                                        <option value="FFF">FFF</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_6" class="form-group show-order pull-left">
                        <div class="outer">
                            <label class="space mb-0">归属部门</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="department" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="技术部">技术部</option>
                                        <option value="人事部">人事部</option>
                                        <option value="财务部">财务部</option>
                                        <option value="后勤部">后勤部</option>
                                        <option value="管理部">管理部</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_2" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">审核状态</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="LendNumber">
                                    <option value="未审核">未审核</option>
                                    <option value="已审核">已审核</option>
                                    <option value="审核中">审核中</option>
                                    <option value="驳回">驳回</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">客户</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="customerName" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="张三">张三</option>
                                        <option value="李四">李四</option>
                                        <option value="王五">王五</option>
                                        <option value="朱六">朱六</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_10" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">客户类型</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="transforWay">
                                    <option value="类型1">类型1</option>
                                    <option value="类型2">类型2</option>
                                    <option value="类型3">类型3</option>
                                    <option value="类型4">类型4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">库房</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="customerName" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="上海库房">上海库房</option>
                                        <option value="北京库房">北京库房</option>
                                        <option value="广州库房">广州库房</option>
                                        <option value="深圳库房">深圳库房</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitSearch clearfix">
                    <div class="more pull-left mt-5 mr-10">更多 <i class="fa fa-angle-double-down"></i></div>
                    <erp-button class="pull-left" v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b">查询</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 p-0">
            @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" style="float: left;" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                            <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0" style="height:12px;"><input type="checkbox" style="margin:0;"><i style="margin-right: 0px;margin-left:-13px;margin-top:-10px"></i></label></th>
                            <th class="details-control sorting_disabled" style="width:0px;"></th>
                            <th style="width:100px">申请单号</th>
                            <th style="width:100px">取消总数量</th>
                            <th style="width:100px">客户名称</th>
                            <th style="width:100px">客户类型</th>
                            <th style="width:100px">申请日期</th>
                            <th style="width:100px">任务人</th>
                            <th style="width:100px">归属部门</th>
                            <th style="width:100px">审核状态</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_Align_center">1</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">2</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">3</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">4</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">5</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">6</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">7</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">8</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">9</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">10</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">11</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">12</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">13</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">14</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">15</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">16</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">17</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">18</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">19</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">20</td>
                            <td class="select-checkbox"></td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:right !important;">1000</td>
                            <td style="text-align:center !important;">张三</td>
                            <td style="text-align:center !important;">普通客户</td>
                            <td style="text-align:center !important;">2017-11-8</td>
                            <td style="text-align:center !important;">李四</td>
                            <td style="text-align:center !important;">事业部</td>
                            <td style="text-align:center !important;">已审核</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>合计:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right !important;">10000</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>
<script type="text/x-handlebars-template" id="table_test">
    <table id="test" class="display childth" cellspacing="0" width="100%">
        <thead class="head_bg">
            <tr>
                <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                <th style="text-align:center !important;"><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox"><i style="margin-right: 0px;"></i></label></th>
                <th style="width:100px !important;">品名</th>
                <th style="width:100px !important;">计量单位</th>
                <th style="width:100px !important;">型号规格</th>
                <th style="width:100px !important;">油脂包装</th>
                <th style="width:100px !important;">品牌</th>
                <th style="width:100px !important;">产地</th>
                <th style="width:100px !important;">取消数量</th>
                <th style="width:100px !important;">取消原因</th>
                <th style="width:100px !important;">其他原因</th>
                <th style="width:100px !important;">申请单号</th>
                <th style="width:100px !important;">审批数量</th>
                <th style="width:100px !important;">在库状态</th>
                <th style="width:100px !important;">批号</th>
                <th style="width:100px !important;">原销售库房</th>
                <th style="width:100px !important;">退货库房</th>
                <th style="width:100px !important;">单价</th>
                <th style="width:100px !important;">税额</th>
                <th style="width:100px !important;">价税合计</th>
                <th style="width:100px !important;">销售单号</th>
                <th style="width:100px !important;">销售日期</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td_Align_center">1</td>
                <td class="select-checkbox"></td>
                <td style="text-align:left !important;">轴承</td>
                <td style="text-align:left !important;">套</td>
                <td style="text-align:left !important;">ES028888</td>
                <td style="text-align:left !important;">S</td>
                <td style="text-align:left !important;">NNN</td>
                <td style="text-align:left !important;"> 中国</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">破损</td>
                <td style="text-align:left !important;"></td>
                <td style="text-align:left !important;">ES02548888</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">待出库</td>
                <td style="text-align:left !important;">E2548888</td>
                <td style="text-align:left !important;">上海库房</td>
                <td style="text-align:right !important;">广州库房</td>
                <td style="text-align:right !important;">500.00</td>
                <td style="text-align:right !important;">100.00</td>
                <td style="text-align:right !important;">102.00</td>
                <td style="text-align:right !important;">E2548888</td>
                <td style="text-align:right !important;">2017-11-6</td>
            </tr>
            <tr>
                <td class="td_Align_center">2</td>
                <td class="select-checkbox"></td>
                <td style="text-align:left !important;">轴承</td>
                <td style="text-align:left !important;">套</td>
                <td style="text-align:left !important;">ES028888</td>
                <td style="text-align:left !important;">S</td>
                <td style="text-align:left !important;">NNN</td>
                <td style="text-align:left !important;"> 中国</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">破损</td>
                <td style="text-align:left !important;"></td>
                <td style="text-align:left !important;">ES02548888</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">待出库</td>
                <td style="text-align:left !important;">E2548888</td>
                <td style="text-align:left !important;">上海库房</td>
                <td style="text-align:right !important;">广州库房</td>
                <td style="text-align:right !important;">500.00</td>
                <td style="text-align:right !important;">100.00</td>
                <td style="text-align:right !important;">102.00</td>
                <td style="text-align:right !important;">E2548888</td>
                <td style="text-align:right !important;">2017-11-6</td>
            </tr>
            <tr>
                <td class="td_Align_center">3</td>
                <td class="select-checkbox"></td>
                <td style="text-align:left !important;">轴承</td>
                <td style="text-align:left !important;">套</td>
                <td style="text-align:left !important;">ES028888</td>
                <td style="text-align:left !important;">S</td>
                <td style="text-align:left !important;">NNN</td>
                <td style="text-align:left !important;"> 中国</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">破损</td>
                <td style="text-align:left !important;"></td>
                <td style="text-align:left !important;">ES02548888</td>
                <td style="text-align:right !important;">1000</td>
                <td style="text-align:left !important;">待出库</td>
                <td style="text-align:left !important;">E2548888</td>
                <td style="text-align:left !important;">上海库房</td>
                <td style="text-align:right !important;">广州库房</td>
                <td style="text-align:right !important;">500.00</td>
                <td style="text-align:right !important;">100.00</td>
                <td style="text-align:right !important;">102.00</td>
                <td style="text-align:right !important;">E2548888</td>
                <td style="text-align:right !important;">2017-11-6</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>合计:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right !important;">2000</th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right !important;">2000</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right !important;">1000.00</th>
                <th style="text-align:right !important;">200.00</th>
                <th style="text-align:right !important;">204.00</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</script>
<script>

    $(document).ready(function () {
        $(".help").click(function () {
            $(".helpinfo").toggle();
        });
        $(".more").click(function () {
            $(this).find("i").toggleClass('rotate');
            $(".tile-body").toggleClass("tile-body1");
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        $(".down1").click(function () {
            $(".tile-body").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        $("#provider,#department1,#customerName,#typeSpecification,#typeSpecification1,#typeSpecification2,#typeSpecification3,#typeSpecification4,#typeSpecification5,#typeSpecification1,#brand,#place,#prepared,#tm,#department,#ModelNumber,#Model,#DocumentState,#Task").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider,#typeSpecification,#customerName,#typeSpecification1,#typeSpecification2,#typeSpecification3,#typeSpecification4,#typeSpecification5,#typeSpecification1,#brand,#place,#prepared,#tm,#department,#ModelNumber,#Model,#DocumentState,#Task").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#paymentWay,#bills，#bills1，#bills2,#currency,#searchnum").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
        $("#apping").select2({
            minimumResultsForSearch: Infinity,
            templateSelection: function formatRepoSelection(repo) {

                return $(repo.element).attr("value");
            }
        });
        var tw = $("#div_table_orderForm").width();
        var vm = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "bAutoWidth":false,
            "sScrollXInner": 1550,
            "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
            "searching": false,
            "sScrollY": true,
            scrollX: true,
            //fixedColumns:true,
            //"pagingType": "numbers",
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });


        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");
        $('#orderForm tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');

            var row = vm.row(tr);
            tr.attr("id", row.index());

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").show();
            } else {

                $("#" + row.index()).addClass("shown");

                var $table = $($("#table_test").html());
                $table.attr("id", "mendetial_" + row.index());


                row.child($table[0]).show();


                var childTable = $table.DataTable({
                    "select": true,
                    "autoWidth": false,
                    "sScrollX": true,
                    "sScrollXInner": 2000,
                    "info": "false",
                    "dom": 'rt<"tableBottom clearfix pt-20"l<"pull-right"p><"pull-right ml-10 mr-10"i><"toolbar mt-10 pull-right">>',
                    "searching": false,
                    "sScrollY": true,
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "查询的数据不存在！",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    }
                });
                $(childTable.table().container()).width(tw-30);

                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").hide();

            }
        });


    });

    var searchData = {};
    var vmMenu = new Vue({
        el: '#apps',
        data: {
            zdrq:''
        },
        mounted: function () {
            this.wsearch = false,
            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });

            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });
        },
        methods: {
            //其他
            Rests: function () {

            },
            //打印
            Print: function () {

            },
            //查看审批意见
            LookApproval: function () {

            },
            //审核
            Ck: function () {

            },
            //详细画面新增跳转
            New: function () {
                window.location.href = PageCommon.SetUrl("Detail");
            },
            ///菜单删除
            Delete: function () {

                //获取选中行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //调用删除共同方法
                PageCommon.SubmitDetialForm({
                    url: "Delete",
                    param: selectRow,
                    success: function () {
                        PageCommon.RefreshTablePage("MenuList");  //刷新数据
                    },
                    close: true
                })
            },
            //详细画面更新跳转
            Update: function () {
                //取得选择行数据
                //var selectRow = PageCommon.GetTableSelectRow("MenuList");

                ////画面选择一条数据
                //if (selectRow.length != 1) {
                //    PageCommon.ShowMessageRight("E2008");
                //    return;
                //}

                //详细画面更新跳转
                window.location.href = PageCommon.SetUrl("Detail");
            },

            //导出
            Export: function (obj) {
                vmMenu.Search();
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导出菜单列表',
                    width: "400px",
                    height: "300px",
                    btn: ['导出', '关闭'],
                    url: '/CommonView/ImportExport/Export',
                    urlparameter: "tableName=S_Menu&formID=searchForm&Menu_Id=M000001&List_Id=MenuList&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmExport.Export()
                    }
                })
            },
            //禁用菜单
            Dissable: function () {
                //获取选中行
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "0") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 1;
                        newSelectRow.push(newobj);
                    }
                });

                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });

            },
            //启用菜单
            Enable: function () {
                //获取数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "1") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 0;
                        newSelectRow.push(newobj);
                    }
                });


                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });
            },
            //设置
            Set: function () {

            },
            //保存
            Save: function () {
            },
            //提交
            Submit: function () {
            },
            //库存汇总查询
            CollectSearch: function () {

            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                vmMenu.linkage = {};
                vmMenu.linkage.Field_Name = "System_Id";
                vmMenu.linkage.Value1 = value;
            },
            Search: function (obj) {
                vmMenu.searchModel = $("#searchForm").GetSearchModel({ Menu_Id: "M000001", List_Id: "MenuList" });
            }
        }
    });
</script>