@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    /*收缩图标*/
    .down1 {
        position: absolute;
        right: 10px;
        width: 20px;
        font-size: 3.5em;
        color: #FFFFFF;
        cursor: pointer;
    }

    ul, li {
        list-style: none;
    }

    #tab li {
        list-style: none;
        border: 1px solid #7692cb;
        background: #fff;
        padding: 2px 10px;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
    }

        #tab li.tabactive {
            background: #3b9de1;
            color: #fff;
        }

    .layui-layer-content {
        background: #e7eaeb;
    }

    .layui-layer-btn {
        background: #e7eaeb;
    }

    .head_bg th {
        border-right: 1px solid #ddd;
    }
    /*.deletes,.add{
          display:inline-block;
          color:#fff;
          width:15px;
          height:15px;
          line-height:15px;
          text-align:center;
          background:#BDC5CB;
          border-radius:50%;
      }*/
    /*.glyphicon {
        top: 0px !important;
        font-family: "Halflings";
    }*/


    #searchForm2 {
        width: 90%;
        float: left;
        position: relative;
    }

    .provider_detailed, .type_detailed, .client_detailed, .warehouse_detailed, .consignee_detailed {
        background: #e7eaeb;
        padding: 5px;
        z-index: 100;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    ul, li {
        list-style: none;
    }

    .provider_detailed, .type_detailed, .client_detailed, .warehouse_detailed, .consignee_detailed {
        background: #e7eaeb;
        padding: 5px;
        z-index: 100;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

        .provider_detailed > ul li, .type_detailed > ul li, .client_detailed > ul li, .warehouse_detailed > ul li, .consignee_detailed > ul li {
            padding: 5px 10px;
            background: #fff;
            cursor: pointer;
            border: 1px solid #7692cb;
        }

            .provider_detailed > ul li.active, .type_detailed > ul li.active, .client_detailed > ul li.active, .warehouse_detailed > ul li.active, .consignee_detailed > ul li.active {
                background: #3b9de1;
                color: #fff;
            }

        .provider_detailed .information_list ul li, .type_detailed .information_list ul li, .client_detailed .information_list ul li, .warehouse_detailed .information_list ul li, .consignee_detailed .information_list ul li {
            width: 220px;
        }

            .provider_detailed .information_list ul li label, .type_detailed .information_list ul li label, .client_detailed .information_list ul li label, .warehouse_detailed .information_list ul li label, .consignee_detailed .information_list ul li label {
                width: 80px;
                text-align: right;
            }

    .pr-57 {
        padding-right: 40px;
    }
</style>

<style>
    /*小标题*/
    .title1 {
        height: 30px;
        width: 200px;
        background-image: url('../../../../Content/assets/images/title.png');
        background-size: 125px 30px;
        background-position: left bottom;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        margin-top: 5px;
        line-height: 30px;
        text-indent: 20px;
        font-size: 2.2em;
        color: #fff;
    }

    .mask-partcont {
        position: relative;
    }

    .mask {
        box-sizing: border-box;
        margin-right: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 87%;
        height: 30px;
        background: rgba(0, 0, 0, 0.2);
    }

    .mask2 {
        width: 100%;
    }

    .mask-partcont-text {
        height: 28px;
        line-height: 28px;
        background: #fff;
        width: 100%;
    }

    .BasicInformation, .PayInformation {
        width: 100%;
        height: auto;
        background-color: #eff2f5;
        box-shadow: 0px 0px 2px #9a9696;
        padding: 5px;
        border: 1px solid #abb3b9;
    }

    .boder {
        margin-top: 5px;
        box-shadow: 1px 0px 2px #9a9696;
        border: 1px solid #abb3b9;
        background-color: #eff2f5;
        border-left: 0px;
    }
</style>
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">销售合同取消单</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b"  fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b"   fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-bind:btn_cb="ck" v_id="btnck" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b"    fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <erp-button v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b"  fa_icon="glyphicon glyphicon-export">返回</erp-button>
                <erp-button v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="down1"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-0">
            <form class="form-inline" id="searchForm_detail">
                    <div id="order_1" class="form-group" style="color:#b4b1b1">
                        <erp-text v-model="aaa" v_id="Menu_Name" isshade_bg="true">取消单号</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-text v-model="bbb" isshade_bg="true" v_id="Menu_Address">取消日期</erp-text>
                    </div>
                <div id="order_9" class="form-group show-order">
                    <div class="outer">
                        <label class="space mb-0">审核状态</label>
                        <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                            <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="typeSpecification4">
                                <option value="未审核">未审核</option>
                                <option value="审核中">审核中</option>
                                <option value="已审核">已审核</option>
                                <option value="驳回">驳回</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div id="order_10" class="form-group show-order">
                        <div class="outer client_info">
                            <label class="space mb-0">客户名称</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="typeSpecification2" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="客户名称1">客户名称1</option>
                                        <option value="客户名称2">客户名称2</option>
                                        <option value="客户名称3">客户名称3</option>
                                        <option value="客户名称4">客户名称4</option>
                                        <option value="客户名称5">客户名称5</option>
                                    </select>
                                </div>
                                <div style="font-size:0;">
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="input-group-addon" v-on:click.stop="client_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                            @*客户*@
                            <div class="client_detailed" style="display:none;">
                                <ul class="clearfix client_tabs">
                                    <li class="pull-left active">基本信息</li>
                                    <li class="pull-left">结算方式</li>
                                    <li class="pull-left">联系方式</li>
                                </ul>
                                <div class="information_list mt-5">
                                    <div>
                                        <ul class="clearfix" style="width:440px;">
                                            <li class="pull-left pr-10"><label>所属客户：</label>郑州双汇集团</li>
                                            <li class="pull-left pr-10"><label>客户类型：</label>企业客户</li>
                                            <li class="pull-left pr-10"><label>企业性质：</label>肉类食品</li>
                                            <li class="pull-left pr-10"><label>客户重要性：</label>重要</li>
                                            <li class="pull-left pr-10"><label>所属行业：</label>生产制造</li>
                                            <li class="pull-left pr-10"><label>所属地区：</label>西北</li>
                                            <li class="pull-left pr-10"><label>获取途径：</label>展销会</li>
                                            <li class="pull-left pr-10"><label>客户地址：</label>河南省郑州市文斗区</li>
                                            <li class="pull-left pr-10"><label>备注：</label>长期客户</li>
                                            <li class="pull-left pr-10"><label>任务人：</label>小王</li>
                                        </ul>
                                    </div>
                                    <div style="display:none;">
                                        <ul class="clearfix" style="width:440px;">
                                            <li class="pull-left pr-10"><label>信用额度：</label>20000</li>
                                            <li class="pull-left pr-10"><label>信用等级：</label>2</li>
                                            <li class="pull-left pr-10"><label>结算方式：</label>月结</li>
                                            <li class="pull-left pr-10"><label>结算日：</label>2012-12-12</li>
                                            <li class="pull-left pr-10"><label>分段日：</label>2012-12-12</li>
                                            <li class="pull-left pr-10"><label>超期日：</label>2012-12-12</li>
                                        </ul>
                                    </div>
                                    <div id="div_table_orderForm7" class="table" style="display:none;width:440px;">
                                        <table id="orderForm7" class="display cell-border" cellspacing="0" width="100%">
                                            <thead class="head_bg">
                                                <tr>
                                                    <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                                                    <th>姓名</th>
                                                    <th>部门</th>
                                                    <th>联系电话</th>
                                                    <th>手机</th>
                                                    <th>传真</th>
                                                    <th>邮政编码</th>
                                                    <th>微信</th>
                                                    <th>地址</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td_Align_center">1</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                                <tr>
                                                    <td class="td_Align_center">2</td>
                                                    <td style="text-align:left !important;">小王 </td>
                                                    <td style="text-align:left !important;">研发部1</td>
                                                    <td style="text-align:left !important;">0913-8674956</td>
                                                    <td style="text-align:left !important;">15095746985</td>
                                                    <td style="text-align:left !important;">568498</td>
                                                    <td style="text-align:left !important;">711780</td>
                                                    <td style="text-align:left !important;">55451215645</td>
                                                    <td style="text-align:left !important;">陕西西安</td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div id="order_80" class="form-group show-order mask-partcont">
                    <div class="outer warehouse_info">
                        <label class="space mb-0">任务人</label>
                        <div class="input-group right-search search">
                            <div style="display:flex;flex:1;">
                                <div class="mask-partcont-text">王超</div>
                            </div>
                            <div style="font-size:0;">
                                @*<span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>*@
                                <span class="input-group-addon" v-on:click.stop="warehouse_information" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;color:#3a9de1;"><i class="fa fa-navicon" style="margin-right: 0;"></i></span>
                                <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                        <div class="warehouse_detailed" style="display:none;">
                            <div class="information_list mt-5">
                                <div>
                                    <ul class="clearfix" style="width:250px;">
                                        <li class="pull-left pr-10"><label>申请部门：</label>轴承销售部</li>
                                        <li class="pull-left pr-10"><label>事业部：</label>机电事业部</li>
                                        <li class="pull-left pr-10"><label>电话：</label>029-453351335</li>
                                        <li class="pull-left pr-10"><label>手机：</label>1509149875632</li>
                                        <li class="pull-left pr-10"><label>QQ：</label>5656554111</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mask"></div>
                </div>
                    @*<div id="order_10" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">客户类型</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="typeSpecification3" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="类型1">类型1</option>
                                        <option value="类型2">类型2</option>
                                        <option value="类型3">类型3</option>
                                        <option value="类型4">类型4</option>
                                        <option value="类型5">类型5</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_8" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">任务人</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="provider1" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="小王">小王</option>
                                        <option value="小李">小李</option>
                                        <option value="小江">小江</option>
                                        <option value="小毛">小毛</option>
                                        <option value="小张">小张</option>
                                    </select>
                                </div>
                                <div v-if="true">
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_9" class="form-group show-order">
                        <erp-textarea v_id="Remark" CheckLength="500">备注</erp-textarea>
                    </div>*@
                </form>
        </div>
        <div class="col-md-12 col-sm-12 p-0">
            @*<erp-edit-table class="edit-top" v-bind:columrender="columrender" v-model="S_Menu.S_Button_List" v_id="OrderFormDetailList" v-bind:row_edit_callback="rowEditCallback" v-bind:row_edit_blur_callback="rowEditBlurCallback" v-bind:columheaderseach="columHeaderSeach"></erp-edit-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                            <th><a class="add btn-info btn-sm" href="#"><i class="glyphicon glyphicon-plus"></i></a></th>
                            <th>型号规格</th>
                            <th>品名</th>
                            <th>计量单位</th>
                            <th>油脂包装</th>
                            <th>品牌</th>
                            <th><i class="fa fa-edit mr-5" style="color:#3b9de1;"></i>取消数量</th>
                            <th><i class="fa fa-edit mr-5" style="color:#3b9de1;"></i>取消原因</th>
                            <th><i class="fa fa-edit mr-5" style="color:#3b9de1;"></i>其他原因</th>
                            <th>库房名称</th>
                            <th>合同单号</th>
                            <th>单价</th>
                            <th>合同状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center;">1</td>
                            <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                            <td style="text-align:left !important;">BSD160029</td>
                            <td style="text-align:left !important;">轴承</td>
                            <td style="text-align:left !important;">套</td>
                            <td style="text-align:left !important;">SSS</td>
                            <td style="text-align:left !important;">NNN</td>
                            <td style="text-align:right !important;">10</td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:left !important;">库房1</td>
                            <td style="text-align:left !important;">123121LJF</td>
                            <td style="text-align:right !important;">10.00</td>
                            <td style="text-align:left !important;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">2</td>
                            <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                            <td style="text-align:left !important;">BSD160029</td>
                            <td style="text-align:left !important;">轴承</td>
                            <td style="text-align:left !important;">套</td>
                            <td style="text-align:left !important;">SSS</td>
                            <td style="text-align:left !important;">NNN</td>
                            <td style="text-align:right !important;">10</td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:left !important;">库房1</td>
                            <td style="text-align:left !important;">123121LJF</td>
                            <td style="text-align:right !important;">10.00</td>
                            <td style="text-align:left !important;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">3</td>
                            <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                            <td style="text-align:left !important;">BSD160029</td>
                            <td style="text-align:left !important;">轴承</td>
                            <td style="text-align:left !important;">套</td>
                            <td style="text-align:left !important;">SSS</td>
                            <td style="text-align:left !important;">NNN</td>
                            <td style="text-align:right !important;">10</td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:left !important;">库房1</td>
                            <td style="text-align:left !important;">123121LJF</td>
                            <td style="text-align:right !important;">10.00</td>
                            <td style="text-align:left !important;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">4</td>
                            <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                            <td style="text-align:left !important;">BSD160029</td>
                            <td style="text-align:left !important;">轴承</td>
                            <td style="text-align:left !important;">套</td>
                            <td style="text-align:left !important;">SSS</td>
                            <td style="text-align:left !important;">NNN</td>
                            <td style="text-align:right !important;">10</td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:left !important;">库房1</td>
                            <td style="text-align:left !important;">123121LJF</td>
                            <td style="text-align:right !important;">10.00</td>
                            <td style="text-align:left !important;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:center;">5</td>
                            <td style="text-align:center;"><a class="deletes btn-info btn-sm" href="#"><i class="glyphicon glyphicon-minus"></i></a></td>
                            <td style="text-align:left !important;">BSD160029</td>
                            <td style="text-align:left !important;">轴承</td>
                            <td style="text-align:left !important;">套</td>
                            <td style="text-align:left !important;">SSS</td>
                            <td style="text-align:left !important;">NNN</td>
                            <td style="text-align:right !important;">10</td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:right !important;"></td>
                            <td style="text-align:left !important;">库房1</td>
                            <td style="text-align:left !important;">123121LJF</td>
                            <td style="text-align:right !important;">10.00</td>
                            <td style="text-align:left !important;"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:center !important;">合计:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right !important;">50</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#apps').click(function () {
            $('.client_detailed').hide();
        })
        $(".client_detailed .client_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".client_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm7");
            e.stopPropagation();
        })
        var table7 = $('#orderForm7').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 800,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false//不分页
        });
        PageCommon.RefreshTablePage("orderForm7");
        $(table7.table().container()).width(440);
        $("#tab").on("click", "li", function () {
            var index = $(this).index();

            $(this).addClass("tabactive");
            $(this).siblings().removeClass("tabactive");
            $("#tables1 .table").hide();
            $("#tables1 .table").eq(index).show();
        })

        $(".down1").click(function () {
            $("#searchForm_detail").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            $("#div_table_orderForm3 .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm3 .dataTables_scrollBody").offset().top - $("#div_table_orderForm3 .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
            PageCommon.RefreshTablePage("orderForm3");
        })
        $("#provider,#provider1,#provider2,#typeSpecification2,#typeSpecification3").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider,#provider1,#provider2,#typeSpecification2,#typeSpecification3").val("");
                return $(repo.element).attr("value");
            }
        });
        $("#paymentWay1,#apping,#paymentWay3,#paymentWay4,#paymentWay5,#paymentWay6,#typeSpecification4").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });

        var table = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 1600,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false,//不分页
            //fixedColumns: true,
            keys: {
                columns: [7,8,9]
            },
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");

        table.on('key-focus', function (e, datatable, cell, originalEvent) {
            //if (cell.index().column == 0 || cell.index().column == 1) {
            //    return;
            //}
            //var titleModel = columntitle[cell.index().column];
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();

            menu_vue.rowEditCallback(cell, cell.index().column, rowData);
        });

        table.on('key-blur', function (e, datatable, cell, originalEvent) {
            //if (cell.index().column == 0 || cell.index().column == 1) {
            //    return;
            //}
            //var titleModel = vm.columntitle[cell.index().column];
            var rowIndex = cell.index().row;
            var rowData = datatable.row(rowIndex).data();
            menu_vue.rowEditBlurCallback(cell, datatable, cell.index().column, rowData);
        });
        $("#orderForm tbody tr").dblclick(function () {
            PageCommon.ModalOpen({
                id: "Contract",
                title: '合同取消引入',
                width: "900px",
                height: "600px",
                btn: ['添加'],
                url: '/PurchaseSale/SaleContractCancel/ContractCancelSearch',
                callBack: function (iframeId) {
                    PageCommon.ChildrenFrames(iframeId).codeset_vue.Save()
                }
            })
        })
    });
</script>
@*是否含税*@
<script type="text/x-handlebars-template" id="temp_a3">
    <div id="div_temp_a3">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="currency2">
                    <option value="含税">含税</option>
                    <option value="不含税">不含税</option>
                </select>
            </div>
        </div>
    </div>
</script>
@*取消原应*@
<script type="text/x-handlebars-template" id="temp_a4">
    <div id="div_temp_a4">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="currency1">
                    <option value="">请选择</option>
                    <option value="型号有误">型号有误 </option>
                    <option value="客户取消订单">客户取消订单</option>
                    <option value="价格有误">价格有误</option>
                    <option value="库存数量不足">库存数量不足</option>
                </select>
            </div>
        </div>
    </div>
</script>
@*库房名称*@
<script type="text/x-handlebars-template" id="temp_a5">
    <div id="div_temp_a5">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search search">
                <div style="display:flex;flex:1;">
                    <select id="typeSpecification1" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                        <option value="西安库房">西安库房</option>
                        <option value="北京库房">北京库房</option>
                        <option value="上海库房">上海库房</option>
                    </select>
                </div>
                <div>
                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
    </div>
</script>
@*规格型号*@
<script type="text/x-handlebars-template" id="temp_a6">
    <div id="div_temp_a6">
        <div class="outer">
            <label class="space mb-0"></label>
            <div class="input-group right-search search">
                <div style="display:flex;flex:1;">
                    <select id="typeSpecification" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                        <option value="121D">121D</option>
                        <option value="4554M">4554M</option>
                        <option value="4551P">4551P</option>
                        <option value="8452U">8452U</option>
                        <option value="1515k">1515k</option>
                    </select>
                </div>
                <div>
                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
    </div>
</script>
@*进货数量*@
<script type="text/x-handlebars-template" id="temp_a7">
    <div id="div_temp_a7">
        <erp-money v_id="a7" v-model="vmodel"></erp-money>
    </div>
</script>
@*终定价/单价*@
<script type="text/x-handlebars-template" id="temp_a9">
    <div id="div_temp_a9">
        <erp-money v_id="a9" v-model="vmodel"></erp-money>
    </div>
</script>

@*其他原因*@
<script type="text/x-handlebars-template" id="temp_a10">
    <div id="div_temp_a10">
        <erp-text v_id="Remark" v-model="vmodel"></erp-text>
    </div>
</script>
<script>
    //菜单主键
    var keyValue = PageCommon.Request("keyValue");
    var menu_vue = new Vue({
        el: '#apps',
        data: {
            aaa:"DH2017012555",
            bbb:"2017-12-24",
            S_Menu: {
                Menu_Id: "",
                //系统名称
                System_Id: "",
                //菜单分组名称
                Menu_Group_Id: "",
                //菜单名称
                Menu_Name: "",
                //表示顺
                Show_Order: "",
                //菜单地址
                Menu_Address: "",
                //菜单地址
                Button_Name: "",
                //菜单样式
                Menu_Image: "",
                //菜单层级
                Menu_Layer: "",
                //是否审批显示
                Is_Approval_Show: "1",
                //是否启用
                Is_Activate: "0",
                //备注
                Remark: "",
                //用户显示
                Is_Show: "0",
                S_Button_List: []
            },
            //系统分组联动条件
            linkage: null,
            //系统下拉框排序
            systemOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //系统下拉框显示字段
            systemResult: ["System_Id", "System_Name"],
            //系统下拉框查询条件
            systemWhere: [],
            //菜单分组下拉查询条件
            menuGroupWhere: [],
            //菜单分组排序条件
            menuGroupOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //菜单分组下拉显示字段
            menuGroupResult: ["Menu_Group_Id", "Menu_Group_Name"],
            //表头查询条件
            columHeaderSeach: {
                Menu_Id: "M000001",
                System_Key: "PurchaseSale",
                List_Id: ""
            },
            selectvalue:""
        },
        mounted: function () {

            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });
            $('.form-group').arrangeable({
                dragSelector: '.shade_bg'
            });
            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });
            if (keyValue) {
                PageCommon.GetFormData({
                    url: "EditSeach",
                    param: { keyValue: [keyValue] }
                    , success: function (data) {
                        menu_vue.S_Menu = data;
                    }
                });
            }
        },
        methods: {
            client_information: function () {
                var n = $(".client_info").offset().top + 32;
                var n1 = $(".client_info").offset().left;
                $('.client_detailed').toggle();
                $('.client_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            State: function () {
                PageCommon.ModalOpenDiv({
                    content: $('#StateAdjust'),
                    title: '制单参考',
                    width: "800px",
                    height: "500px",
                    btn: [ '关闭'],
                    btnid: ["btnClose"],
                    btnclass: ['btn btn-danger'],
                    callBack: function () {
                        var selectRoleDetailRow = PageCommon.GetTableSelectRow("CheckApprovalRoleList");
                        //关闭div窗
                        layer.closeAll();
                        //提交数据
                        //PageCommon.SubmitForm({
                        //    url: "SaveApprovalLevelRole",
                        //    param: { "roleList": selectRoleDetailRow, "approvalLevelId": data.Result_Model.Approval_Level_Id },
                        //    success: function () {
                        //        //刷新表格数据
                        //        app.searchModelRole = {
                        //            "Pagination_Info": {
                        //                Conditional_Value1: data.Result_Model.Approval_Level_Id
                        //            }
                        //        }
                        //        //给层级表格加选中样式
                        //        $.fn.dataTable.Api('#ApprovalLevelList').rows(data.Result_Model.Approval_Level - 1).select();

                        //    }
                        //});
                    }
                })


                $("#div_table_orderForm1 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() -120 );
                    PageCommon.RefreshTablePage("orderForm1");
                    $("#div_table_orderForm2 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() - 120);
                    PageCommon.RefreshTablePage("orderForm2");


            },
            //行初始化事件
            columrender: function (Field_Name, value, type, rowData, rowSetting) {
                if (Field_Name === "Is_Activate_Name") {
                    var html = "<span class=\"label  label-success\">启用</span>";
                    if (value == "") {
                        return html;
                    } else {
                        return false;
                    }
                } else if (Field_Name === "Is_Frame_Show_Name") {
                    var html = "<span class=\"label  label-default\">否</span>";
                    if (value == "") {
                        return html;
                    } else {
                        return false;
                    }
                }

                if (Field_Name === "Is_Activate") {
                    return '0';
                } else if (Field_Name === "Is_Frame_Show") {
                    return '1';
                }
            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                menu_vue.linkage = {};
                menu_vue.linkage.Field_Name = "System_Id";
                menu_vue.linkage.Value1 = value;
            },
            //编辑行回调
            rowEditCallback: function (cell, titleData, rowData) {
                //进货数量
                if (titleData == "7") {
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(100);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a7").html();

                    $("#div_temp_a7").attr("id", "div_temp_a7" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a7" + cell.index().row + "_" + cell.index().column,
                        data: {
                            vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('input', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(100);
                    $(".outer input", cell.node()).width(100);
                }


                //取消原因
                if (titleData == "8") {
                    $(".focus").width(150);
                    //var tdWidth = $(cell.node()).width();
                    var tdWidth = $(cell.node()).width();

                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a4").html();

                    $("#div_temp_a4").attr("id", "div_temp_a4" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a4" + cell.index().row + "_" + cell.index().column,
                        data: {
                            //vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('select', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(150);
                    $(".outer select", cell.node()).width(150);
                    $("#Control_Type_" + cell.index().row + "_" + cell.index().column).select2({
                        placeholder: "请选择",
                        minimumResultsForSearch: -1,
                        templateSelection: function formatRepoSelection(repo) {
                            $("#Control_Type_" + cell.index().row + "_" + cell.index().column).val("");
                            menu_vue.selectvalue = $(repo.element).attr("value");
                            return $(repo.element).attr("value");
                        }
                    });
                }
                //其他原因
                if (titleData == "9") {
                    var tdWidth = $(cell.node()).width();
                    $(".focus").width(100);
                    //获取模板的html
                    cell.node().innerHTML = $("#temp_a10").html();

                    $("#div_temp_a10").attr("id", "div_temp_a10" + cell.index().row + "_" + cell.index().column);
                    //初始化VUE模板
                    var cheld = new Vue({
                        el: "#div_temp_a10" + cell.index().row + "_" + cell.index().column,
                        data: {
                            vmodel: cell.data()
                        }
                    });
                    //设置控件在DataTables上
                    var jqInputs = $('input', cell.node());
                    $(jqInputs).attr('id', "Control_Type_" + cell.index().row + "_" + cell.index().column);
                    $(".outer", cell.node()).width(100);
                    $(".outer input", cell.node()).width(100);
                }
                PageCommon.RefreshTablePage("orderForm");
            },

            //行编辑失去焦点回调事件
            rowEditBlurCallback: function (cell, datatable, titleData, rowData) {
                if (titleData == "7" || titleData == "9") {
                    var jqInputs = $('input', cell.node());
                    //修改datatable 对应的值
                    cell.data($(jqInputs[0]).val());
                }

                if (titleData == "8") {
                    var jqInputs = $('select', cell.node());
                    //修改datatable 对应的值
                    if (menu_vue.selectvalue) {
                        cell.data(menu_vue.selectvalue);
                        menu_vue.selectvalue = ''
                    } else {
                        cell.data(cell.data());
                    }
                }
                PageCommon.RefreshTablePage("orderForm");
            },

            //设置控件属性
            Set: function () {

                $.ajax({
                    url: "/SystemSet/SystemNotice/SeeDetail",
                    data: {},
                    type: "post",
                    dataType: "json",
                    //async:false,
                    success: function (data) {


                    }


                });

                PageCommon.Reload();
            },
            //保存菜单画面数据
            Save: function () {

                //console.log($.fn.dataTable.Api('#ButtonList').rows());
                //console.log($.fn.dataTable.Api('#ButtonList').columns(':eq(' + 1+ ')'));

                PageCommon.CheckDataTables({
                    tableId: "ButtonList",
                    Key: "Button_Name",
                    columns: [
                        {
                            columnName: "Frame_Menu_Address",
                            CheckLength: '200'
                        },
                         {
                             columnName: "Button_Name",
                             CheckLength: '200'
                         },
                        {
                            columnName: "Button_Frame_Id",
                            CheckEmpty: true,
                            CheckLength: '200'
                        }, {
                            columnName: "Remark",
                            CheckLength: '500'
                        }
                    ],



                });


                //数据验证
                if (!PageCommon.CheckPageInput()) {
                    return;
                }


                //获取grid数据
                var data = PageCommon.GetDataTableData("ButtonList");
                menu_vue.S_Menu.S_Button_List = [];
                //组织明细数据 过滤空行
                $.each(data, function (index, item) {
                    if (item.Button_Name != "" && item.Button_Frame_Id != "") {
                        var obj = {};
                        obj.Button_Frame_Id = item.Button_Frame_Id;
                        obj.Button_Name = item.Button_Name;
                        obj.Detail_Number = item.Detail_Number;
                        obj.Is_Activate = item.Is_Activate == "" ? 0 : item.Is_Activate;
                        obj.Is_Activate_Name = obj.Is_Activate == "0" ? "启用" : "禁用";
                        obj.Is_Frame_Show = item.Is_Frame_Show == "" ? 1 : item.Is_Frame_Show;
                        obj.Is_Frame_Show_Name = obj.Is_Frame_Show == "0" ? "是" : "否";
                        obj.Frame_Menu_Address = item.Frame_Menu_Address;
                        obj.Menu_Id = menu_vue.S_Menu.Menu_Id;
                        obj.Remark = item.Remark;
                        menu_vue.S_Menu.S_Button_List.push(obj);
                    }
                });



                //验证至少输入一条明细
                if (!menu_vue.S_Menu.S_Button_List.length > 0) {

                    PageCommon.ShowMessageArrayRight("E2027", new Array("1"));
                    PageCommon.Loading(false);
                    return;
                }



                //提交数据到后台
                PageCommon.SubmitForm({
                    url: "Save"
                 , param: { menu: menu_vue.S_Menu }
                 , success: function () {
                     //判断编辑还是新增
                     if (!!!keyValue) {
                         PageCommon.Reload();
                     } else {
                         window.location.href = PageCommon.SetUrl("List");
                     }
                 }
                });
            },
            Update: function () {

            },
            Submit: function () {

            },
            ck: function () {

            },
            warehouse_information: function () {
                var n = $(".warehouse_info").offset().top + 32;
                var n1 = $(".warehouse_info").offset().left;
                $('.warehouse_detailed').toggle();
                $('.warehouse_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            //返回列表画面
            Back: function () {
                PageCommon.BackFormMessge({});
            }
        }
    });
</script>

