@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="app" class="pt-5 pl-5 pr-5 PurchaseSupplierInfo" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5 pr-5">
            <div>
                <div style="position:relative;">
                    <p class="title1">供应商名称信息</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <form class="form-inline BasicInformation" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-text v-model="B_Supplier.Supplier_Name" v_id="Supplier_Name" CheckEmpty="true" CheckLength="200" readonly="false">供应商名称</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order drag_1">
                        <erp-suppliersearch v-bind:isshade_bg="isshade" is_parent="0" class="search" v-model="B_Supplier.Parent_Supplier_Id" v_id="Parent_Supplier_Id" v-bind:main_orderby="mainOrderBy" bind_type="CustomTable" table_name="B_Supplier" system_key="Purchase" v-bind:filed_seach="filedSearch" v-bind:filed_result="Menuresult" v-bind:input_field="inputField" isselect="true">父供应商</erp-suppliersearch>
                    </div>
                    <div id="order_3" class="form-group show-order drag_1">
                        <erp-text v-model="B_Supplier.Other_Name" v_id="Other_Name" CheckLength="200" readonly="false">其他抬头</erp-text>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-text v-model="B_Supplier.Supplier_Website" v_id="Supplier_Website" CheckLength="200" readonly="false">供应商网址</erp-text>
                    </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-text v-model="B_Supplier.Address_Gather" v_id="Address_Gather" CheckEmpty="true" CheckLength="200" readonly="false">供应商地址</erp-text>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-textarea v-model="B_Supplier.Remark" v_id="Remark" CheckLength="500" readonly="false">备注</erp-textarea>
                    </div>
                </form>
            </div>
            <div>
                <div style="position:relative;">
                    <p class="title1">供应商银行信息</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <form class="form-inline BasicInformation" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_2">
                        <erp-text v-model="B_Supplier.B_Supplier_Bank_List[0].Supplier_Tax_Number" v_id="Supplier_Tax_Number" CheckLength="200" readonly="false">供应商税号</erp-text>
                    </div>
                    <div id="order_2" class="form-group show-order drag_2">
                        <erp-text v-model="B_Supplier.B_Supplier_Bank_List[0].Bank" v_id="Bank" CheckEmpty="true" CheckLength="200" readonly="false">开户银行</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order drag_2">
                        <erp-text v-model="B_Supplier.B_Supplier_Bank_List[0].Bank_Account" v_id="Bank_Account" CheckEmpty="true" CheckLength="200" readonly="false">银行账号</erp-text>
                    </div>
                    <div id="order_4" class="form-group show-order drag_2">
                        <erp-text v_id="All_Balance" v-model="B_Supplier.All_Balance" CheckEmpty="true" readonly="false">总余额</erp-text>
                    </div>
                    <div id="order_5" class="form-group show-order drag_2">
                        <erp-text v_id="Advance_Payment" v-model="B_Supplier.Advance_Payment" CheckEmpty="true" readonly="false">预付款</erp-text>
                    </div>
                    <div id="order_6" class="form-group show-order drag_2">
                        <erp-text v_id="Goods_Payment_Balance" v-model="B_Supplier.Goods_Payment_Balance" CheckEmpty="true" readonly="false">货款余额</erp-text>
                    </div>
                </form>
            </div>
            <div>
                <div style="position:relative;">
                    <p class="title1">供应商信用信息</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <form class="form-inline BasicInformation" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_3">
                        <erp-select v-bind:isshade_bg="isshade" ismustselect="true" v_id="Settlement_Way" v-model="B_Supplier.B_Supplier_Payway_List[0].Payway" bind_type="DataDictionary" system_key="SystemSet" v-bind:dictionary_key="PaywayDictionaryKey" v-bind:template_selection="ChangePayway">结算方式</erp-select>
                    </div>
                    <div id="order_2" class="form-group show-order drag_3" v-show="Day_Count">
                        <erp-text v_id="Settlement_Day_Count" v-model="B_Supplier.B_Supplier_Payway_List[0].Pay_Day_Count" readonly="false">日结天数</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order drag_3" v-show="Month_Count">
                        <erp-text v_id="Settlement_Month_Count" v-model="B_Supplier.B_Supplier_Payway_List[0].Pay_Month_Count" readonly="false">月结月数</erp-text>
                    </div>
                    <div id="order_4" class="form-group show-order drag_3" v-show="Month_Count">
                        <erp-text v_id="Subsrction_Day" v-model="B_Supplier.B_Supplier_Payway_List[0].Subsrction_Day" readonly="false">分段日</erp-text>
                    </div>
                    <div id="order_5" class="form-group show-order drag_3" v-show="Month_Count">
                        <erp-text v_id="Extended_Day" v-model="B_Supplier.B_Supplier_Payway_List[0].Extended_Day" readonly="false">超期日</erp-text>
                    </div>
                </form>
            </div>
            <div>
                <div style="position:relative;">
                    <p class="title1">供应商上传证件</p>
                    <div class="down_tab"><i class="fa fa-angle-double-up"></i></div>
                </div>
                <div class="BasicInformation">
                    <erp-uploadimgs v-bind:isdelete_img="isdelete_img" v_id="uploadimgs" v-bind:file_model_list="File_Model_List"></erp-uploadimgs>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Purchase/Content/js/PurchaseSupplierSearchSupplierBasicInfo.js?v=" + ViewData["jsVersion"])

