@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div id="app" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        
        <div class="col-md-12 col-sm-12 pl-5 pr-0">
            <form class="form-inline" id="searchForm_detail">
                <div id="order_1" class="form-group pull-left">
                    <erp-text isshade_bg="true" value="BSD160029">异常处理单号</erp-text>
                </div>
             
                <div id="order_3" class="form-group show-order pull-left">
                    <erp-text v_id="zdrq" isshade_bg="true" value="2016-06-12">异常处理日期</erp-text>
                </div>
                <div id="order_3" class="form-group show-order pull-left">
                    <erp-text>单据来源</erp-text>
                </div>
                @*<div id="order_9" class="form-group show-order">
                    <div class="outer">
                        <label class="space mb-0">单据来源</label>
                        <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                            <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="bills1">
                                <option value="出库单">出库单</option>
                                <option value="入库单">入库单</option>
                                <option value="组装单">组装单</option>
                                <option value="拆分单">拆分单</option>
                            </select>
                        </div>
                    </div>
                </div>*@
                <div id="order_5" class="form-group show-order www pull-left">
                    <div class="outer">
                        <label class="space mb-0">处理部门</label>
                        <div class="input-group right-search search">
                            <div style="display:flex;flex:1;">
                                <select id="bills1" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                    <option value="技术部">技术部</option>
                                    <option value="人事部">人事部</option>
                                    <option value="财务部">财务部</option>
                                    <option value="后勤部">后勤部</option>
                                    <option value="管理部">管理部</option>
                                </select>
                            </div>
                            <div>
                                <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="order_5" class="form-group show-order www pull-left">
                    <div class="outer">
                        <label class="space mb-0">处理人员</label>
                        <div class="input-group right-search search">
                            <div style="display:flex;flex:1;">
                                <select id="bills1" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                    <option value="李成">李成</option>
                                    <option value="王莽">王莽</option>
                                </select>
                            </div>
                            <div>
                                <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="order_9" class="form-group show-order pull-left">
                    <erp-textarea v_id="Menu_Name1">异常原因</erp-textarea>
                </div>
                <div id="order_3" class="form-group show-order pull-left">
                    <erp-textarea v_id="Menu_Name2">处理意见</erp-textarea>
                </div>
                @*<div id="order_9" class="form-group show-order">
                <div class="outer">
                    <label class="space mb-0">审核状态</label>
                    <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                        <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="bills1">
                            <option value="未审核">未审核</option>
                            <option value="审核中">审核中</option>
                            <option value="已审核">已审核</option>
                            <option value="驳回">驳回</option>
                        </select>
                    </div>
                </div>
            </div>*@
            </form>
        </div>
       
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#apps').click(function () {
            $('.client_detailed').hide();
            $('.consignee_detailed').hide();
        })
     
        $(".client_detailed .client_tabs").on('click', 'li', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            var index = $(this).index();
            $(".client_detailed .information_list").find('div').eq(index).show().siblings().hide();
            PageCommon.RefreshTablePage("orderForm7");
            e.stopPropagation();
        })
        var table7 = $('#orderForm7').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": 800,
            "dom": 'rt',
            "searching": false,
            "sScrollY": true,
            "paging": false//不分页
        });
        PageCommon.RefreshTablePage("orderForm7");
        $(table7.table().container()).width(440);

        $(".down1").click(function () {
            $("#searchForm_detail").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            $("#div_table_orderForm3 .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm3 .dataTables_scrollBody").offset().top - $("#div_table_orderForm3 .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
            PageCommon.RefreshTablePage("orderForm3");
        })
        $("#provider2,#typeSpecification2").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider2,#typeSpecification2").val("");
                return $(repo.element).attr("value");
            }
        });
        $("#apping,#paymentWay3,#paymentWay4,#paymentWay5,#paymentWay6,#typeSpecification3").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
        $("#typeSpecification2,#typeSpecification3,#prepared").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#typeSpecification2,#typeSpecification3,#prepared").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#paymentWay2,#bills5,#bills6,#bills1").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });

       
    });
</script>

<script>
    //菜单主键
    var keyValue = PageCommon.Request("keyValue");
    var menu_vue = new Vue({
        el: '#app',
        data: {
            S_Menu: {
                Menu_Id: "",
                //系统名称
                System_Id: "",
                //菜单分组名称
                Menu_Group_Id: "",
                //菜单名称
                Menu_Name: "",
                //表示顺
                Show_Order: "",
                //菜单地址
                Menu_Address: "",
                //菜单地址
                Button_Name: "",
                //菜单样式
                Menu_Image: "",
                //菜单层级
                Menu_Layer: "",
                //是否审批显示
                Is_Approval_Show: "1",
                //是否启用
                Is_Activate: "0",
                //备注
                Remark: "",
                //用户显示
                Is_Show: "0",
                S_Button_List: []
            },
            //系统分组联动条件
            linkage: null,
            //系统下拉框排序
            systemOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //系统下拉框显示字段
            systemResult: ["System_Id", "System_Name"],
            //系统下拉框查询条件
            systemWhere: [],
            //菜单分组下拉查询条件
            menuGroupWhere: [],
            //菜单分组排序条件
            menuGroupOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //菜单分组下拉显示字段
            menuGroupResult: ["Menu_Group_Id", "Menu_Group_Name"],
            //表头查询条件
            columHeaderSeach: {
                Menu_Id: "M000001",
                System_Key: "PurchaseSale",
                List_Id: "",
            },
            selectvalue:"",
            selectvalue2: "",
            dbdata:'',
            dbdatas:'',
        },
        mounted: function () {
            $('.form-group').arrangeable({
                dragSelector: '.shade_bg'
            });
            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });
            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });
            if (keyValue) {
                PageCommon.GetFormData({
                    url: "EditSeach",
                    param: { keyValue: [keyValue] }
                    , success: function (data) {
                        menu_vue.S_Menu = data;
                    }
                });
            }
        },
        methods: {
            client_information: function () {
                var n = $(".client_info").offset().top + 32;
                var n1 = $(".client_info").offset().left;
                $('.client_detailed').toggle();
                $('.client_detailed').css({ top: n, left: n1, 'position': 'fixed' });
            },
            consignee_information: function () {
                var n = $(".consignee_info").offset().top + 32;
                var n1 = $(".consignee_info").offset().left;
                $('.consignee_detailed').toggle();
                $('.consignee_detailed').css({ top: n, left: n1 ,'position':'fixed'});
            },
            consignee_add:function(){
                PageCommon.ModalOpenDiv({
                    content: $('#Addconsignee'),
                    title: '收货人追加',
                    width: "530px",
                    height: "260px",
                    btn: ['保存'],
                    btnid: ["btnExportImport"],
                    btnclass: ['btn btn-primary'],
                    callBack: function () {
                        var selectRoleDetailRow = PageCommon.GetTableSelectRow("CheckApprovalRoleList");
                        //关闭div窗
                        layer.closeAll();
                    }
                })
            },
            State: function () {
                PageCommon.ModalOpenDiv({
                    content: $('#StateAdjust'),
                    title: '制单参考',
                    width: "800px",
                    height: "500px",
                    btn: [ '关闭'],
                    btnid: ["btnClose"],
                    btnclass: ['btn btn-danger'],
                    callBack: function () {
                        var selectRoleDetailRow = PageCommon.GetTableSelectRow("CheckApprovalRoleList");
                        //关闭div窗
                        layer.closeAll();
                        //提交数据
                        //PageCommon.SubmitForm({
                        //    url: "SaveApprovalLevelRole",
                        //    param: { "roleList": selectRoleDetailRow, "approvalLevelId": data.Result_Model.Approval_Level_Id },
                        //    success: function () {
                        //        //刷新表格数据
                        //        app.searchModelRole = {
                        //            "Pagination_Info": {
                        //                Conditional_Value1: data.Result_Model.Approval_Level_Id
                        //            }
                        //        }
                        //        //给层级表格加选中样式
                        //        $.fn.dataTable.Api('#ApprovalLevelList').rows(data.Result_Model.Approval_Level - 1).select();

                        //    }
                        //});
                    }
                })


                $("#div_table_orderForm1 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() -120 );
                    PageCommon.RefreshTablePage("orderForm1");
                    $("#div_table_orderForm2 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() - 120);
                    PageCommon.RefreshTablePage("orderForm2");


            },
            //行初始化事件
            columrender: function (Field_Name, value, type, rowData, rowSetting) {
                if (Field_Name === "Is_Activate_Name") {
                    var html = "<span class=\"label  label-success\">启用</span>";
                    if (value == "") {
                        return html;
                    } else {
                        return false;
                    }
                } else if (Field_Name === "Is_Frame_Show_Name") {
                    var html = "<span class=\"label  label-default\">否</span>";
                    if (value == "") {
                        return html;
                    } else {
                        return false;
                    }
                }

                if (Field_Name === "Is_Activate") {
                    return '0';
                } else if (Field_Name === "Is_Frame_Show") {
                    return '1';
                }
            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                menu_vue.linkage = {};
                menu_vue.linkage.Field_Name = "System_Id";
                menu_vue.linkage.Value1 = value;
            },
           
            //设置控件属性
            Set: function () {

                $.ajax({
                    url: "/SystemSet/SystemNotice/SeeDetail",
                    data: {},
                    type: "post",
                    dataType: "json",
                    //async:false,
                    success: function (data) {


                    }


                });

                PageCommon.Reload();
            },
            //保存菜单画面数据
            Save: function () {

                //console.log($.fn.dataTable.Api('#ButtonList').rows());
                //console.log($.fn.dataTable.Api('#ButtonList').columns(':eq(' + 1+ ')'));

                PageCommon.CheckDataTables({
                    tableId: "ButtonList",
                    Key: "Button_Name",
                    columns: [
                        {
                            columnName: "Frame_Menu_Address",
                            CheckLength: '200'
                        },
                         {
                             columnName: "Button_Name",
                             CheckLength: '200'
                         },
                        {
                            columnName: "Button_Frame_Id",
                            CheckEmpty: true,
                            CheckLength: '200'
                        }, {
                            columnName: "Remark",
                            CheckLength: '500'
                        }
                    ],



                });


                //数据验证
                if (!PageCommon.CheckPageInput()) {
                    return;
                }


                //获取grid数据
                var data = PageCommon.GetDataTableData("ButtonList");
                menu_vue.S_Menu.S_Button_List = [];
                //组织明细数据 过滤空行
                $.each(data, function (index, item) {
                    if (item.Button_Name != "" && item.Button_Frame_Id != "") {
                        var obj = {};
                        obj.Button_Frame_Id = item.Button_Frame_Id;
                        obj.Button_Name = item.Button_Name;
                        obj.Detail_Number = item.Detail_Number;
                        obj.Is_Activate = item.Is_Activate == "" ? 0 : item.Is_Activate;
                        obj.Is_Activate_Name = obj.Is_Activate == "0" ? "启用" : "禁用";
                        obj.Is_Frame_Show = item.Is_Frame_Show == "" ? 1 : item.Is_Frame_Show;
                        obj.Is_Frame_Show_Name = obj.Is_Frame_Show == "0" ? "是" : "否";
                        obj.Frame_Menu_Address = item.Frame_Menu_Address;
                        obj.Menu_Id = menu_vue.S_Menu.Menu_Id;
                        obj.Remark = item.Remark;
                        menu_vue.S_Menu.S_Button_List.push(obj);
                    }
                });



                //验证至少输入一条明细
                if (!menu_vue.S_Menu.S_Button_List.length > 0) {

                    PageCommon.ShowMessageArrayRight("E2027", new Array("1"));
                    PageCommon.Loading(false);
                    return;
                }



                //提交数据到后台
                PageCommon.SubmitForm({
                    url: "Save"
                 , param: { menu: menu_vue.S_Menu }
                 , success: function () {
                     //判断编辑还是新增
                     if (!!!keyValue) {
                         PageCommon.Reload();
                     } else {
                         window.location.href = PageCommon.SetUrl("List");
                     }
                 }
                });
            },
            Update: function () {

            },
            Submit: function () {

            },
            ck: function () {

            },
            //返回列表画面
            Back: function () {
                window.location.href = PageCommon.SetUrl("List");
            }
        }
    });
</script>

