@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-sm-12 col-md-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-4 col-sm-4 col-ld-12 p-tit">统购进货单制单</div>
            <div class="col-md-8 col-sm-8 col-md-8 p-btn pr-40">
                <erp-button v-show="btnEdit" v-bind:btn_cb="Edit" v_id="btnEdit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-edit">编辑</erp-button>
                <erp-button v-show="btnSave" v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-save">保存</erp-button>
                <erp-button v-show="btnSubmit" v-bind:btn_cb="Submit" v_id="btnSubmit" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-saved">提交</erp-button>
                <erp-button v-show="btnApproval" v-bind:btn_cb="Approve" v_id="btnApproval" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-eye-open">审核</erp-button>
                <erp-button v-show="btnApprovalOpinion" v-bind:btn_cb="ApprovalOpinion" v_id="btnApprovalOpinion" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-list-alt">审批意见</erp-button>
                <erp-button v-show="btnBack" v-bind:btn_cb="Back" v_id="btnBack" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-mail-reply">返回</erp-button>
                <erp-button v-show="btnSet" v-bind:btn_cb="Set" v_id="btnSet" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button>
            </div>
            <div class="tit_down"><i class="fa fa-angle-double-up"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5">
            <div class="tile_body clearfix">
                <form class="form-inline" id="searchForm_detail">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-text isshade_bg="true" v-model="P_Purchase.Purchase_Id" v_id="Purchase_Id">进货单号</erp-text>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-select isshade_bg="true" v_id="Approval_Status" v-model="P_Purchase.Approval_Status" bind_type="StatusDictionary" system_key="Purchase" dictionary_key="APPROVAL_STATUS">审核状态</erp-select>
                    </div>
                    <div id="order_3" class="form-group show-order drag_1">
                        <erp-suppliersearch is_purchase="0" class="search" CheckEmpty="true" v-model="P_Purchase.Supplier_Id" @*v-bind:template_selection="TemplateSelectionSupplier"*@ v_id="Supplier_Id" system_key="Purchase">供应商</erp-suppliersearch>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-select class="search" child_table="false" CheckEmpty="true" v_id="Tax_Rate_Id" v-model="P_Purchase.Tax_Rate_Id" v-bind:main_orderby="invoice.mainOrderBy" bind_type="CustomTable" table_name="B_Tax_Rate" system_key="BasicData" v-bind:filed_seach="invoice.filedSearch" v-bind:filed_result="invoice.Menuresult" v-bind:input_field="invoice.inputField" isselect="true" v-bind:template_selection="template_selection" >发票类型</erp-select>
                    </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-select class="search" CheckEmpty="true" v_id="Calculate_Way" v-model="P_Purchase.Calculate_Way" bind_type="DataDictionary" system_key="Purchase" dictionary_key="COMPUTE_TYPE" >计算方式</erp-select>
                    </div>
                    <div id="order_7" class="form-group show-order drag_1">
                        <erp-textarea v-model="P_Purchase.Remark" v_id="Remark">备注</erp-textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-edit-table pagenum="5" openwindow_check="Product_Id" istfootshow="true" v-bind:totalback="pagetotalback" v-bind:columrender="columrender" v_id="InboundFormDetailEditList" v-bind:isedittable="isedittable" v-model="P_Purchase.P_Purchase_Detail_List" v-bind:row_edit_callback="rowEditCallback" v-bind:row_edit_blur_callback="rowEditBlurCallback" v-bind:columheaderseach="columHeaderSeach"></erp-edit-table>
        </div>
    </div>
</div>
@*供应商合同号*@
<script type="text/x-handlebars-template" id="temp_Supplier_Contract_Number">
    <div id="div_temp_Supplier_Contract_Number">
        <erp-text v-model="Supplier_Contract_Number" v_id="Supplier_Contract_Number" CheckLength="30"></erp-text>
    </div>
</script>
@*提货单号*@
<script type="text/x-handlebars-template" id="temp_Delivery_Bill_Number">
    <div id="div_temp_Delivery_Bill_Number">
        <erp-text v-model="Delivery_Bill_Number" v_id="Delivery_Bill_Number" CheckLength="20"></erp-text>
    </div>
</script>
@*终定CODER*@
<script type="text/x-handlebars-template" id="temp_Final_Coder">
    <div id="div_temp_Final_Coder">
        <erp-text v-model="Final_Coder" v_id="Final_Coder" CheckLength="20"></erp-text>
    </div>
</script>
@*终定客户名称*@
<script type="text/x-handlebars-template" id="temp_Customer_Name">
    <div id="div_temp_Customer_Name">
        <erp-customersearch class="search" CheckEmpty="true" v-model="Customer_Name" v_id="Customer_Name" system_key="Purchase" v-bind:template_selection="TemplateSelectionCustomer" istable="true"></erp-customersearch>
     </div>
</script>
@*进货数量*@
<script type="text/x-handlebars-template" id="temp_Purchase_Count">
    <div id="div_temp_Purchase_Count">
        <erp-float v-model="Purchase_Count" v_id="Purchase_Count" CheckLength="14" CheckEmpty="true" decimals="2" istable="false"></erp-float>
    </div>
</script>
@*终定价*@
<script type="text/x-handlebars-template" id="temp_Final_Price">
    <div id="div_temp_Final_Price">
        <erp-float v-model="Final_Price" v_id="Final_Price" CheckLength="14" decimals="2" istable="false" v-bind:onchange="Priceonchange"></erp-float>
    </div>
</script>
@*终定币种*@
<script type="text/x-handlebars-template" id="temp_Currency_Name">
    <div id="div_temp_Currency_Name">
        <erp-select v-bind:template_selection="TemplateSelectionCustomer" v-model="Currency_Name" v_id="Currency_Name" bind_type="CustomTable" table_name="B_Currency" system_key="Purchase" v-bind:filed_seach="CurrencyfiledSearch" v-bind:filed_result="Currencyresult" v-bind:input_field="CurrencyinputField" v-bind:main_orderby="CurrencymainOrderBy" isselect="true"></erp-select>
    </div>
</script>
@* 是否含税 *@
<script type="text/x-handlebars-template" id="temp_Is_Include_Tax">
    <div id="div_temp_Is_Include_Tax">
        <erp-switch v_id="Is_Include_Tax" v-model="Is_Include_Tax"></erp-switch>
    </div>
</script>
@*仓库*@
<script type="text/x-handlebars-template" id="temp_Storeage_Name">
    <div id="div_temp_Storeage_Name">
        <erp-storeagesearch class="search" CheckEmpty="true" v-model="Storeage_Name" v_id="Storeage_Name" system_key="Purchase" v-bind:template_selection="TemplateSelectionCustomer" istable="true"></erp-storeagesearch>
    </div>
</script>
@Scripts.Render("~/Areas/Purchase/Content/js/PurchaseInboundFormDetail.js?v=" + ViewData["jsVersion"])




