@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div id="apps" class="pt-5 pl-5 pr-5" v-cloak>
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 col-lg-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 col-lg-2 p-tit">型号库存明细查询 </div>
            @*<div class="col-md-10 col-sm-10 col-lg-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="Export" v_id="btnExport" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button>
            </div>*@
            <div class="tit_down"><i class="fa fa-angle-double-up"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 pl-5 pr-5">
            <div class="tile_body searchHide clearfix">
                <form class="form-inline" id="searchForm">
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-productrange system_key="Warehouse" field_name="B_Product.Product_Name" v-bind:productrange="productrange" query_type="01" expression="05" v_id="productrange">型号</erp-productrange>
                        @*<erp-productrange class="productrange" system_key="Warehouse" field_name="B_Product.Product_Name" v-bind:number="productrange" v-model="Product_Name" query_type="01" expression="05" v_id="Product_Name">型号</erp-productrange>*@
                    </div>
                    <div id="order_2" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Product.Brand_Name" query_type="01" expression="02" v-model="Brand_Name" v_id="Brand_Name" control_type="brand" system_key="Warehouse">品牌</erp-searchtext>
                    </div>
                    <div id="order_3" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Product.Storeage_Name" query_type="01" expression="02" v-model="Storeage_Name" v_id="Storeage_Name" control_type="storeage" system_key="Warehouse">库房名称</erp-searchtext>
                    </div>
                    <div id="order_4" class="form-group show-order drag_1">
                        <erp-searchtext class="search" field_name="B_Product.Product_Classify_Name" query_type="01" expression="02" v-model="Product_Classify_Name" v_id="Product_Classify_Name" control_type="productBigClassify" system_key="Warehouse">品名</erp-searchtext>
                    </div>
                    <div id="order_5" class="form-group show-order drag_1">
                        <erp-multselect field_name="B_Product.Product_Area_Id" query_type="01" expression="04" v_id="Product_Area_Id" v-model="Product_Area_Id" bind_type="CustomTable" table_name="B_Product_Area" system_key="Warehouse" v-bind:main_where="AreaWhere" v-bind:main_orderby="AreaOrder" v-bind:Filed_Result="AreaResult">产地</erp-multselect>
                    </div>
                    <div id="order_6" class="form-group show-order drag_1">
                        <erp-text field_name="B_Product.Package" query_type="01" expression="01" v-model="Package" v_id="Package">油脂包装</erp-text>
                    </div>
                    <div id="order_1" class="form-group show-order drag_1">
                        <erp-multselect field_name="B_Product.Inventry_Type" query_type="01" expression="04" v-model="Inventry_Type" v_id="Inventry_Type" bind_type="DataDictionary" system_key="Warehouse" dictionary_key="INVENTRY_TYPE">库存类型</erp-multselect>
                    </div>
                    @*<div id="order_7" class="form-group show-order drag_1">
                        <erp-text field_name="B_Product.Batch_Id" query_type="01" expression="01" v-model="Batch_Id" v_id="Batch_Id">批号</erp-text>
                    </div>
                    <div id="order_8" class="form-group show-order drag_1">
                        <erp-text field_name="B_Product.Goods_Locate_Name" query_type="01" expression="01" v-model="Goods_Locate_Name" v_id="Goods_Locate_Name">货位</erp-text>
                    </div>
                    <div id="order_9" class="form-group show-order drag_1">
                        <erp-text field_name="B_Product.Storeage_Age" query_type="01" expression="01" v-model="Storeage_Age" v_id="Storeage_Age">压库时间</erp-text>
                    </div>*@
                    <div id="order_10" class="form-group show-order drag_1">
                        <erp-switch v_id="Inventory_Total_Count" v-model="Inventory_Total_Count">仅查现货</erp-switch>
                    </div>
                </form>
                <div class="submitSearch">
                    <span class="moreSearch">更多<i class="fa fa-angle-double-down"></i></span>
                    <erp-button v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">查询</erp-button>
                    <erp-button v-bind:btn_cb="mClear" v_id="btnClear" fa_icon="fa fa-times" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b mb-10">清空</erp-button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 p-0">
            <erp-table v-bind:pagetotalback="pagetotalback" v-bind:columrender="columrender" showcheckbox="true" istfootshow="true" v-bind:searchmodel="searchModel" v_id="InventoryDetailList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Warehouse/Content/js/InventoryDetailList.js?v=" + ViewData["jsVersion"])


