@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .down1 {
        position: absolute;
        right: 10px;
        width: 20px;
        font-size: 3.5em;
        color: #FFFFFF;
        cursor: pointer;
    }

    .helpinfo {
        width: 450px;
        list-style: none;
        position: absolute;
        top: 20px;
        right: 60px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 5px;
    }

        .helpinfo li {
            width: 200px;
            color: red;
        }

    .tile-body3 {
        position: relative;
        max-height: 149px;
        overflow: hidden;
    }

    .more {
        position: absolute;
        right: 101px;
        top: 2px;
        cursor: pointer;
    }

    #searchForm2 {
        width: 93%;
        float: left;
        position: relative;
    }

    .head_bg th {
        border-right: 1px solid #ddd;
    }

    .form-group {
        margin-right: 5px;
        margin-bottom: 5px !important;
    }
    /*tfoot-----s*/
    .dataTables_scroll {
        position: relative;
    }

    .dataTables_scrollFoot {
        position: absolute;
        bottom: 15px;
    }

    table.dataTable tfoot {
        background-color: #ebf2fa !important;
    }

        table.dataTable tfoot th {
            border-top: 0;
            border-right: 1px solid #ddd !important;
        }
    /*tfoot-------e*/
    .dropdown-menu li {
        text-align: center;
    }
</style>
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        
        <div class="col-md-12 col-sm-12 pl-5 pr-5">
            <div class="tile-body clearfix">
                <form class="form-inline" id="searchForm2" style="padding-top:5px;">
                    <div id="order_1" class="form-group">
                        <div class="outer">
                            <label class="space mb-0">单据引入</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="apping">
                                    <option value="预留销售">预留销售</option>
                                    <option value="寄售销售">寄售销售</option>
                                    <option value="样品转销售">样品转销售</option>
                                    <option value="预销售">预销售</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_2" class="form-group show-order">
                        <erp-text v_id="Menu_Name">销售单号</erp-text>
                    </div>

                    <div id="order_4" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">库房名称</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="provider" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="上海库房">上海库房</option>
                                        <option value="北京库房">北京库房</option>
                                        <option value="广州库房">广州库房</option>
                                        <option value="深圳库房">深圳库房</option>
                                        <option value="西安库房">西安库房</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">规格型号</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="typeSpecification" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="121D">121D</option>
                                        <option value="4554M">4554M</option>
                                        <option value="4551P">4551P</option>
                                        <option value="8452U">8452U</option>
                                        <option value="1515k">1515k</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_6" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">品牌</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="brand" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="NNN">NNN</option>
                                        <option value="LLL">LLL</option>
                                        <option value="OOO">OOO</option>
                                        <option value="FFF">FFF</option>
                                        <option value="GGG">GGG</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="order_7" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">客户类型</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="place" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="类型1">类型1</option>
                                        <option value="类型2">类型2</option>
                                        <option value="类型3">类型3</option>
                                        <option value="类型4">类型4</option>
                                        <option value="类型5">类型5</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_8" class="form-group show-order">
                        <erp-text v_id="Menu_Nam">发货地址</erp-text>
                    </div>
                    <div id="order_8" class="form-group show-order">
                        <erp-text v_id="Menu_Nam">物流代码</erp-text>
                    </div>
                    <div id="order_8" class="form-group show-order">
                        <erp-text v_id="Menu_Nam">订单码</erp-text>
                    </div>
                    <div id="order_3" class="form-group show-order">
                        <erp-datedb v_id="zdrq" v-model="dbdata">制单日期</erp-datedb>
                    </div>
                    <div id="order_10" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">客户名称</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="prepared" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="客户名称1">客户名称1</option>
                                        <option value="客户名称2">客户名称2</option>
                                        <option value="客户名称3">客户名称3</option>
                                        <option value="客户名称4">客户名称4</option>
                                        <option value="客户名称5">客户名称5</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_11" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">任务人</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="prepared" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="小王">小王</option>
                                        <option value="小张">小张</option>
                                        <option value="小李">小李</option>
                                        <option value="小江">小江</option>
                                        <option value="小周">小周</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_12" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">归属部门</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="department" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="技术部">技术部</option>
                                        <option value="人事部">人事部</option>
                                        <option value="财务部">财务部</option>
                                        <option value="后勤部">后勤部</option>
                                        <option value="管理部">管理部</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_13" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">所属行业</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="bills1">
                                    <option value="事业部1">事业部1</option>
                                    <option value="事业部2">事业部2</option>
                                    <option value="事业部3">事业部3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_14" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">所属地区</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="bills2">
                                    <option value="全部">全部 </option>
                                    <option value="华南">华南</option>
                                    <option value="华东">华东</option>
                                    <option value="华北">华北</option>
                                    <option value="华西">华西</option>
                                    <option value="东南">东南</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_9" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">新老客户</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="sp">
                                    <option value="全部">全部</option>
                                    <option value="新客">新客</option>
                                    <option value="老客">老客</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_10" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">审核状态</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="State">
                                    <option value="未审核">未审核</option>
                                    <option value="已审核">已审核</option>
                                    <option value="审核中">审核中</option>
                                    <option value="驳回">驳回</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submitSearch clearfix">
                    <div class="more pull-left mt-5 mr-10">更多 <i class="fa fa-angle-double-down"></i></div>
                    <erp-button class="pull-left" v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b">查询</erp-button>
                </div>

            </div>
        <div class="col-md-12 col-sm-12 p-0 mt-5">
            @*<erp-table  childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true"  multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" style="float: left;" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                            <th></th>
                            <th>销售单号</th>
                            <th>销售日期</th>
                            <th>客户名称</th>
                            <th>信息编号</th>
                            <th>审核状态</th>
                            <th>客户类型</th>
                            <th>物流代码</th>
                            <th>备注</th>
                            <th>发票类型</th>
                            <th>任务人</th>
                            <th>制单人</th>
                            <th>制单日期</th>
                            <th>单价总额</th>
                            <th>总数量</th>
                            <th>价税总额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_Align_center">1</td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:left !important;">NSK</td>
                            <td style="text-align:left !important;">YURFG</td>
                            <td style="text-align:left !important;">已审核</td>
                            <td style="text-align:left !important;">类型1</td>
                            <td style="text-align:left !important;">htmljjjjh</td>
                            <td style="text-align:left !important;">现金</td>
                            <td style="text-align:left !important;">无</td>
                            <td style="text-align:left !important;">小刘</td>
                            <td style="text-align:left !important;">小王</td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">11</td>
                            <td style="text-align:right !important;">111</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">2</td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:left !important;">NSK</td>
                            <td style="text-align:left !important;">YURFG</td>
                            <td style="text-align:left !important;">已审核</td>
                            <td style="text-align:left !important;">类型1</td>
                            <td style="text-align:left !important;">htmljjjjh</td>
                            <td style="text-align:left !important;">现金</td>
                            <td style="text-align:left !important;">无</td>
                            <td style="text-align:left !important;">小刘</td>
                            <td style="text-align:left !important;">小王</td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">11</td>
                            <td style="text-align:right !important;">111</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">3</td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:left !important;">NSK</td>
                            <td style="text-align:left !important;">YURFG</td>
                            <td style="text-align:left !important;">已审核</td>
                            <td style="text-align:left !important;">类型1</td>
                            <td style="text-align:left !important;">htmljjjjh</td>
                            <td style="text-align:left !important;">现金</td>
                            <td style="text-align:left !important;">无</td>
                            <td style="text-align:left !important;">小刘</td>
                            <td style="text-align:left !important;">小王</td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">11</td>
                            <td style="text-align:right !important;">111</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">4</td>
                            <td class="details-control"></td>
                            <td style="text-align:left !important;">22215EAE4C3 </td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:left !important;">NSK</td>
                            <td style="text-align:left !important;">YURFG</td>
                            <td style="text-align:left !important;">已审核</td>
                            <td style="text-align:left !important;">类型1</td>
                            <td style="text-align:left !important;">htmljjjjh</td>
                            <td style="text-align:left !important;">现金</td>
                            <td style="text-align:left !important;">无</td>
                            <td style="text-align:left !important;">小刘</td>
                            <td style="text-align:left !important;">小王</td>
                            <td style="text-align:left !important;">2017-10-20</td>
                            <td style="text-align:right !important;">100</td>
                            <td style="text-align:right !important;">11</td>
                            <td style="text-align:right !important;">111</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>合计:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right !important;">200</th>
                            <th style="text-align:right !important;">22</th>
                            <th style="text-align:right !important;">222</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="text/x-handlebars-template" id="table_test">
    <table id="test" class="display" cellspacing="0" width="100%">
        <thead class="head_bg">
            <tr>
                <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                <th>规格型号</th>
                <th>品名</th>
                <th>计量单位</th>
                <th>产品种类</th>
                <th>油脂包装</th>
                <th>品牌</th>
                <th>批号</th>
                <th>产地</th>
                <th>订单码</th>
                <th>库房</th>
                <th>销售数量</th>
                <th>单价</th>
                <th>税额</th>
                <th>价税合计</th>
                <th>JY</th>
                <th>JY率%</th>
                <th>TY方式</th>
                <th>合同编号</th>
                <th>申请成本</th>
                <th>最新成本</th>
                <th>CY利润率（库）</th>
                <th>CY利润率（期）</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center !important;">1</td>
                <td>22215EAE4C3 </td>
                <td>轴承</td>
                <td>套</td>
                <td>种类1</td>
                <td>5</td>
                <td>NNN</td>
                <td>6YUTGG</td>
                <td style="text-align:right !important;">中国</td>
                <td style="text-align:right !important;">YUT77</td>
                <td>上海库房</td>
                <td style="text-align:right !important;">10</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">0.25</td>
                <td style="text-align:right !important;">155</td>
                <td style="text-align:right !important;">0.888</td>
                <td style="text-align:right !important;">0.85</td>
                <td>含佣</td>
                <td style="text-align:right !important;">YUTEC999</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">0.5</td>
                <td style="text-align:right !important;">0.8</td>

            </tr>
            <tr>
                <td style="text-align:center !important;">2</td>
                <td>22215EAE4C3 </td>
                <td>轴承</td>
                <td>套</td>
                <td>种类1</td>
                <td>5</td>
                <td>NNN</td>
                <td>6YUTGG</td>
                <td style="text-align:right !important;">中国</td>
                <td style="text-align:right !important;">YUT77</td>
                <td>上海库房</td>
                <td style="text-align:right !important;">10</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">0.25</td>
                <td style="text-align:right !important;">155</td>
                <td style="text-align:right !important;">0.888</td>
                <td style="text-align:right !important;">0.85</td>
                <td>含佣</td>
                <td style="text-align:right !important;">YUTEC999</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">100</td>
                <td style="text-align:right !important;">0.5</td>
                <td style="text-align:right !important;">0.8</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>合计:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right !important;">20</th>
                <th style="text-align:right !important;"></th>
                <th></th>
                <th style="text-align:right !important;">310</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right !important;">200</th>
                <th style="text-align:right !important;">200</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</script>
<script>

    $(document).ready(function () {
        $(".more").click(function () {
            $(this).find("i").toggleClass('rotate');
            $(".tile-body").toggleClass("tile-body1");

            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
            $("#div_table_orderForm2 > #orderForm2_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm2 .dataTables_scrollBody").offset().top - $("#div_table_orderForm2 .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm2");
        })
        $(".down1").click(function () {
            $(".tile-body").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
            $("#div_table_orderForm2 > #orderForm2_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm2 .dataTables_scrollBody").offset().top - $("#div_table_orderForm2 .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm2");
        })

        $("#provider,#typeSpecification,#brand,#place,#prepared,#tm,#department,#ModelNumber,#LendNumber,#storageName,#customerName,#Maker,#sp,#State").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider,#typeSpecification,#brand,#place,#prepared,#tm,#department,#ModelNumber,#LendNumber,#storageName,#customerName,#Maker,#sp,#State").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#paymentWay,#bills,#currency,#searchnum,#apping").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
        var tw = $("#div_table_orderForm").width();
        var vm = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollX": true,
            "sScrollXInner": "2000px",
            "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
            "searching": false,
            "sScrollY": true,
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },


        });
        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");
        $('#orderForm tbody').on('click', 'td.details-control', function () {



            var tr = $(this).closest('tr');

            var row = vm.row(tr);
            tr.attr("id", row.index());

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").show();
            } else {

                $("#" + row.index()).addClass("shown");

                var $table = $($("#table_test").html());
                $table.attr("id", "mendetial_" + row.index());


                row.child($table[0]).show();


                var childTable = $table.DataTable({
                    "select": true,
                    "autoWidth": false,
                    "sScrollX": true,
                    "sScrollXInner": "2000px",
                    "info": "false",
                    "dom": 'rt<"tableBottom clearfix pt-20"l<"pull-right"p><"pull-right ml-10 mr-10"i><"toolbar mt-10 pull-right">>',
                    "searching": false,
                    "sScrollY": true,

                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "查询的数据不存在！",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },


                });
                $(childTable.table().container()).width(tw - 50);
                $("#orderForm").find(" .dataTables_scrollBody").css("padding-bottom", "28px");
                $("#orderForm_wrapper .DTFC_LeftBodyWrapper").hide();

            }
        });

    });







    var searchData = {};

    var vmMenu = new Vue({
        el: '#apps',
        data: {
            dbdata:"",
            Birthday: '',
            //系统名称
            System_Name: "",
            //菜单分组名称
            Menu_Group_Name: "",
            //菜单名称
            Menu_Name: "",
            //菜单地址
            Menu_Address: "",
            //菜单地址
            Button_Name: "",
            //是否启用
            Is_Activate: "",
            //表头查询条件
            columHeaderSeach: {
                Menu_Id: "M000001",
                System_Key: "PurchaseSale"
            },
            childSearchModel: {
                Field_Name: "",
                Parent_Key: "a1"
            },
            //系统分组联动条件
            linkage: null,
            //表格查询url
            tableUrl: "Seach",
            //表格查询条件
            searchModel: searchData,
            //系统下拉框查询条件
            systemWhere: [],
            //系统下拉框排序
            systemOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //系统下拉框显示字段
            systemResult: ["System_Id", "System_Name"],
            //菜单分组下拉查询条件
            menuGroupWhere: [],
            //菜单分组排序条件
            menuGroupOrder: [{
                Field_Name: "Show_Order",
                Orderby: "ASC"
            }],
            //菜单分组下拉显示字段
            menuGroupResult: ["Menu_Group_Id", "Menu_Group_Name"],
            //启用查询条件
            IsActiveDictionaryKey: "IS_ACTIVATE"
        },
        mounted: function () {

            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });

            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });

        },
        methods: {
            Approval: function () { },
            //审核
            ck:function(){

            },
            //打印
            Print: function () {

            },
            //查看审批意见
            LookApproval: function () {

            },
            //出库台账明细
            SearchBudget: function () {
                PageCommon.ModalOpenDiv({
                    content: $('#StateAdjust'),
                    title: '查看预算',
                    width: "1000px",
                    height: "450px",
                    btn:[]

                })
                $("#div_table_orderForm1 .dataTables_scrollBody").height($(".layui-layer-content").outerHeight() - 80);
                PageCommon.RefreshTablePage("orderForm1");
            },
            //详细画面新增跳转
            New: function () {
                window.location.href = PageCommon.SetUrl("Detail");
            },
            ///菜单删除
            Delete: function () {

                //获取选中行数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                //调用删除共同方法
                PageCommon.SubmitDetialForm({
                    url: "Delete",
                    param: selectRow,
                    success: function () {
                        PageCommon.RefreshTablePage("MenuList");  //刷新数据
                    },
                    close: true
                })
            },
            //详细画面更新跳转
            Update: function () {
                window.location.href = PageCommon.SetUrl("Detail");
                ////取得选择行数据
                //var selectRow = PageCommon.GetTableSelectRow("MenuList");

                ////画面选择一条数据
                //if (selectRow.length != 1) {
                //    PageCommon.ShowMessageRight("E2008");
                //    return;
                //}

                ////详细画面更新跳转
                //window.location.href = PageCommon.SetUrlParameter("Detail", "keyValue=" + selectRow[0].Menu_Id);
            },
            //导入
            Import: function (obj) {
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导入菜单列表',
                    width: "400px",
                    height: "400px",
                    btn: ['导入', '关闭'],
                    url: '/CommonView/ImportExport/Import',
                    urlparameter: "tableName=S_Menu&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmImport.Import();
                    }
                })
            },
            //导出
            Export: function (obj) {
                vmMenu.Search();
                PageCommon.ModalOpen({
                    id: "MenuDetail",
                    title: '导出菜单列表',
                    width: "400px",
                    height: "300px",
                    btn: ['导出', '关闭'],
                    url: '/CommonView/ImportExport/Export',
                    urlparameter: "tableName=S_Menu&formID=searchForm&Menu_Id=M000001&List_Id=MenuList&SystemKey=SystemSet",
                    callBack: function (iframeId) {
                        PageCommon.ChildrenFrames(iframeId).vmExport.Export()
                    }
                })
            },
            //禁用菜单
            Dissable: function () {
                //获取选中行
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "0") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 1;
                        newSelectRow.push(newobj);
                    }
                });

                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });

            },
            //启用菜单
            Enable: function () {
                //获取数据
                var selectRow = PageCommon.GetTableSelectRow("MenuList");

                if (selectRow.length === 0) {
                    PageCommon.ShowMessageRight("E2009");
                    return;
                }

                //过滤数据
                var newSelectRow = [];
                $.each(selectRow, function (index, obj) {
                    if (obj.Is_Activate == "1") {
                        var newobj = _.clone(obj);
                        newobj.Is_Activate = 0;
                        newSelectRow.push(newobj);
                    }
                });


                if (newSelectRow.length == 0) return;

                //调用提交数据
                PageCommon.SubmitForm({
                    url: "UpdateActivate",
                    param: { objList: newSelectRow },
                    success: function (data) {
                        PageCommon.RefreshTablePage("MenuList");
                    }
                });
            },
            //保存
            Save: function () {
            },
            //提交
            Submit: function () {
            },
            //库存汇总查询
            CollectSearch: function () {

            },
            //根据系统查询菜单分组
            ChangeSystem: function (value) {
                vmMenu.linkage = {};
                vmMenu.linkage.Field_Name = "System_Id";
                vmMenu.linkage.Value1 = value;
            },
            Search: function (obj) {
                vmMenu.searchModel = $("#searchForm").GetSearchModel({ Menu_Id: "M000001", List_Id: "MenuList" });
            }
        }
    });
</script>