@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .modeldetail {
        display: block;
        border: 1px solid #aaa;
        padding: 2px;
        margin-bottom: 2px;
        margin-right: 3px;
        color: #333;
    }

    .modeldetail-none {
        display: none;
    }

    .modeldetail-cont a {
        font-size: 13px;
        color: #000;
        padding-right:10px;
        padding-left:10px;
    }

    .modeldetail-cont span {
        display: inline-block;
        box-sizing: border-box;
        width:180px;
        padding: 3px 10px;
    }
    .showslider {
            width: 80%;
            height: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            position: absolute;
            top: 9px;
        }
        .addselect {
            border-radius: 2px;
            display: inline-block;
            background-color: #ccc;
            height: 12px;
            width: 16px;
            text-align: center;
            color: #000;
            font-size: 9px;
            font-family: Arial;
            position: relative;
            margin-left: 4px;
            cursor: pointer;
            overflow: hidden;
            vertical-align: top;
            top: 1px;
        }
 
        .addselect select {
            width: 44px;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }
    .addinput {
            display: inline-block;
            height: 16px;
            width: 80px;
            color: #000;
            font-size: 9px;
            position: relative;
            margin-left: 4px;
            cursor: pointer;
            overflow: hidden;
            vertical-align: top;
            top: 1px;
    }
        table.dataTable tbody th, table.dataTable th, table.dataTable tbody td {
            font-size: 12px;
            text-align: left;
        }
 
        table.dataTable thead th {
            padding: 0 8px;
        }
</style>
<div id="apps" class="pt-5 pl-5 pr-5">
    <div class="row m-0">
        <div class="col-md-12 col-sm-12 row-tit p-0 mb-5">
            <div id="T_Menu_Alias" class="col-md-2 col-sm-2 p-tit">工资登记查询列表</div>
            <div class="col-md-10 col-sm-10 p-btn pr-40">
                <erp-button v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-import">导入</erp-button>
                <erp-button v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="glyphicon glyphicon-export">导出</erp-button>
                <erp-button v-bind:btn_cb="Save" v_id="btnSave" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b" fa_icon="fa fa-cog">设置</erp-button> 
            </div>
            <div class="down1"><i class="fa fa-angle-double-down"></i></div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-0">
            <div class="tile-body clearfix">
                <form class="form-inline" id="searchForm2">
                    <div id="order_2" class="form-group show-order">
                        <erp-datedb v_id="zdrq" v-model="dbdata">工资日期</erp-datedb>
                    </div>
                    <div id="order_1" class="form-group  show-order">
                        <erp-text>姓名</erp-text>
                    </div>
                    <div id="order_4" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">有票无票</label>
                            <div class="input-group right-search " style="z-index:0;flex:1;height:100%;">
                                <select class="js-basic-single js-states " style="border: 0px;flex:1;" id="typeSpecif">
                                    <option value=""></option>
                                    <option value="有票">有票</option>
                                    <option value="无票">无票</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="order_5" class="form-group show-order">
                        <div class="outer">
                            <label class="space mb-0">部门</label>
                            <div class="input-group right-search search">
                                <div style="display:flex;flex:1;">
                                    <select id="typeSpecification1" class="js-basic-multiple js-states" style="flex:1;border: 0px;" multiple="multiple">
                                        <option value="销售部">销售部</option>
                                        <option value="研发部">研发部</option>
                                        <option value="人事部">人事部</option>
                                    </select>
                                </div>
                                <div>
                                    <span class="input-group-addon" style="cursor: pointer;display:inline-block;width:28px;height:28px;border-left:#d8d8d8;"><i class="fa fa-search" style="margin-right: 0;"></i></span>
                                    <span class="delete" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="order_1" class="form-group  show-order">
                        <erp-text>发放地</erp-text>
                    </div>
                </form>
                <div class="submitSearch clearfix">
                    <div class="more pull-left mt-5 mr-10">更多 <i class="fa fa-angle-double-down"></i></div>
                    <erp-button class="pull-left" v-bind:btn_cb="Search" v_id="btnSearch" fa_icon="fa fa-search" btn_type="btn-primary btn-rounded btn-ef btn-sm btn-ef-5 btn-ef-5b">查询</erp-button>
                </div>
            </div>
        </div>
        @*<div class="col-md-12 col-sm-12 pl-5 pr-0">
            <div class="modeldetail">
                <div class="modeldetail-cont">
                    <a>管理人员</a>
                    <span>工资额：1000</span>
                    <span>扣款：100</span>
                    <span>其他：110</span>
                    <span>工资合计：2000</span>
                    <span>奖金总额：10000</span>
                    <span>补贴津贴：1000</span>
                    <span>代扣社保：1000</span>
                    <span>代扣个税：1000</span>
                    <span>代扣公积金：200</span>
                    <span>突发总额：10000</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 pl-5 pr-0">
            <div class="modeldetail">
                <div class="modeldetail-cont">
                    <a>销售人员</a>
                    <span>工资额：1000</span>
                    <span>扣款：100</span>
                    <span>其他：110</span>
                    <span>工资合计：2000</span>
                    <span>奖金总额：10000</span>
                    <span>补贴津贴：1000</span>
                    <span>代扣社保：1000</span>
                    <span>代扣个税：1000</span>
                    <span>代扣公积金：200</span>
                    <span>突发总额：10000</span>
                </div>
            </div>
        </div>*@
        <div class="col-md-12 col-sm-12 p-0">
            @*<erp-table childlistid="OrderFormDetailList" pageing="true" v-bind:childsearchkey="childSearchModel" showchild="true" multiselect="false" showcheckbox="true" v-bind:searchmodel="searchModel" v_id="OrderFormList" v-bind:tableurl="tableUrl" v-bind:columheaderseach="columHeaderSeach"></erp-table>*@
            <div id="div_table_orderForm" class="table">
                <table id="orderForm" class="display cell-border" cellspacing="0" width="100%">
                    <thead class="head_bg">
                        <tr>
                            <th class="td_Align_center sorting_disabled" style="width: 0px;" aria-label="行号"><i class="fa fa-gear" style="font-size: 15px;"></i></th>
                            <th>工资单号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>任务人类型</th>
                            <th>有票无票</th>
                            <th>工资</th>
                            <th>奖金</th>
                            <th>津贴补贴</th>
                            <th>代扣社保</th>
                            <th>代扣公积金</th>
                            <th>代扣个税</th>
                            <th>扣款</th>
                            <th>其他</th>
                            <th>实发数</th>
                            <th>发放地</th>
                            <th>制单人</th>
                            <th>制单部门</th>
                            <th>制单日期</th>
                            <th>备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_Align_center">1</td>
                            <td style="text-align:center !important;">GZ16000029</td>
                            <td style="text-align:center !important;">刘斌</td>
                            <td style="text-align:center !important;">销售部</td>
                            <td style="text-align:center !important;">销售人员</td>
                            <td style="text-align:center !important;">有票</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:center !important;">西安</td>
                            <td style="text-align:center !important;">李莉</td>
                            <td style="text-align:center !important;">财务部</td>
                            <td style="text-align:center !important;">2017-10-12</td>
                            <td style="text-align:center !important;">已发</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">2</td>
                            <td style="text-align:center !important;">GZ16000029</td>
                            <td style="text-align:center !important;">刘斌</td>
                            <td style="text-align:center !important;">销售部4</td>
                            <td style="text-align:center !important;">销售人员</td>
                            <td style="text-align:center !important;">有票</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:center !important;">西安</td>
                            <td style="text-align:center !important;">李莉</td>
                            <td style="text-align:center !important;">财务部</td>
                            <td style="text-align:center !important;">2017-10-12</td>
                            <td style="text-align:center !important;">已发</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">3</td>
                            <td style="text-align:center !important;">GZ16000029</td>
                            <td style="text-align:center !important;">刘斌</td>
                            <td style="text-align:center !important;">销售部3</td>
                            <td style="text-align:center !important;">销售人员</td>
                            <td style="text-align:center !important;">有票</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:center !important;">西安</td>
                            <td style="text-align:center !important;">李莉</td>
                            <td style="text-align:center !important;">财务部</td>
                            <td style="text-align:center !important;">2017-10-12</td>
                            <td style="text-align:center !important;">已发</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">4</td>
                            <td style="text-align:center !important;">GZ16000029</td>
                            <td style="text-align:center !important;">刘斌</td>
                            <td style="text-align:center !important;">销售部2</td>
                            <td style="text-align:center !important;">销售人员</td>
                            <td style="text-align:center !important;">有票</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:center !important;">西安</td>
                            <td style="text-align:center !important;">李莉</td>
                            <td style="text-align:center !important;">财务部</td>
                            <td style="text-align:center !important;">2017-10-12</td>
                            <td style="text-align:center !important;">已发</td>
                        </tr>
                        <tr>
                            <td class="td_Align_center">5</td>
                            <td style="text-align:center !important;">GZ16000029</td>
                            <td style="text-align:center !important;">刘斌</td>
                            <td style="text-align:center !important;">销售部1</td>
                            <td style="text-align:center !important;">销售人员</td>
                            <td style="text-align:center !important;">有票</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:right !important;">1000.00</td>
                            <td style="text-align:center !important;">西安</td>
                            <td style="text-align:center !important;">李莉</td>
                            <td style="text-align:center !important;">财务部</td>
                            <td style="text-align:center !important;">2017-10-12</td>
                            <td style="text-align:center !important;">已发</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>合计</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th style="text-align:right !important;">5000.00</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
       
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".down1").click(function () {
            $("#searchForm_detail").toggle();
            $(this).find("i").toggleClass('rotate');
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        $(".more").click(function () {
            $(this).find("i").toggleClass('rotate');
            $(".tile-body").toggleClass("tile-body1");
            $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
            PageCommon.RefreshTablePage("orderForm");
        })
        $("#provider2,#typeSpecification,#typeSpecification1,#typeSpecification2").select2({
            placeholder: "请选择",
            minimumResultsForSearch: -1,
            templateSelection: function formatRepoSelection(repo) {
                $("#provider2,#typeSpecification,#typeSpecification1,#typeSpecification2").val("");
                return $(repo.element).attr("value");
            }
        });

        $("#typeSpecif").select2({
            placeholder: "请选择",
            allowClear: true,//删除x图标
            minimumResultsForSearch: Infinity
        });
       
        var table = $('#orderForm').DataTable({
            "select": true,
            "autoWidth": false,
            "sScrollXInner": 2000,
            "dom": 'rt<"tableBottom clearfix"<"pull-left"l>p<"pull-right ml-10 mr-10"i><"toolbar mr-10 pull-right">>',
            //"searching": false,
            "searching": true,//本地搜索
            "sScrollY": true,
            scrollX: true,
            "paging": false,//不分页
            select: { style: 'multi' },
            initComplete: function () {//列筛选
                var api = this.api();
                api.columns().indexes().flatten().each(function (i) {
                    if (i != 0 && i != 1) {//删除第一列与第二列的筛选框
                        var column = api.column(i);
                        var $span = $('<div class="addselect">▾</div>').appendTo($(column.header()))
                        var select = $('<select><option value="">ALL</option><option value="包含">包含</option><option value="大于">大于</option><option value="小于">小于</option></select>')
                                .appendTo($(column.header()))
                                .on('click', function (evt) {
                                    evt.stopPropagation();
                                    var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                    );
                                    column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                });
                        var input = $('<input class="addinput"/>')
                                .appendTo($(column.header()))
                                .on('change', function (evt) {
                                    evt.stopPropagation();
                                    var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                    );
                                    column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                });
                        $span.append(select)
                    }
                });
            },
 
            "language": {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 条结果，共 _TOTAL_ 条",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "查询的数据不存在！",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $("div.toolbar").html("<div style='font-size:12px;color:#333;padding-top:3px;'>跳转到第<input type='text' style='width:30px;height:20px;margin:0 5px 0 5px;'/>页<span style='color:#fff;font-size:12px;cursor: pointer;margin-left:10px;padding:2px 3px;' class='btn-primary'>跳转</span><div>")
        //$(".dataTables_scrollBody").height($(window).outerHeight() - $(".dataTables_scrollBody").offset().top - $(".tableBottom").outerHeight() - $(".dataTables_scrollFoot").outerHeight());
        $("#div_table_orderForm > #orderForm_wrapper > .dataTables_scroll > .dataTables_scrollBody").height($(window).outerHeight() - $("#div_table_orderForm .dataTables_scrollBody").offset().top - $("#div_table_orderForm .tableBottom").outerHeight());
        PageCommon.RefreshTablePage("orderForm");
    })
</script>     
<script>
    var searchData = {};
    var vmMenu = new Vue({
        el: '#apps',
        data: {
            dbdata: ''
        },
        mounted: function () {
            this.wsearch = false,
            this.tsearch = true
            //控件拖动
            $('.form-group').arrangeable({
                dragSelector: '.space'
            });
            $('.form-group').arrangeable({
                dragSelector: '.shade_bg'
            });
            $("#searchForm").on("drag.end.arrangeable", function (sender, dragElement) {
                //console.log(b)
                //console.log(c);
            });

        },
        methods: {
            Rests: function () {

            },
            //打印
            Print: function () {

            },
            //查看审批意见
            LookApproval: function () {

            },
            //修改在途状态
            State: function () {


            },
            //详细画面新增跳转
            New: function () {
                window.location.href = PageCommon.SetUrl("Detail");
            },
            Back: function () {
                window.location.href = PageCommon.SetUrl("List");
            },
            //设置
            Set: function () {
            },
            //保存
            Save: function () {
            },
            //提交
            Submit: function () {
            },
            Search: function (obj) {
                vmMenu.searchModel = $("#searchForm").GetSearchModel({ Menu_Id: "M000001", List_Id: "MenuList" });
            }
        }
    });
</script>